[2020-09-08 15:36] mullermp commented on #2405
This was by design. Adding @alextwoods but he's on vacation this week.

[2020-09-12 00:00] utkarsh2102 opened #2407 "Use RuboCop more noticably?"
Hey,

Thanks for your work on this! 🚀

However, I see that whilst there's `.rubocop.yml`, this doesn't really "use" RuboCop actually.
Perhaps, it's nice to use RuboCop (for at least RUBY_VERSION > 2.4) and mention the same in the Gemfile?

If you think it's a good idea, I'll be happy to raise a PR! 😄

[2020-09-13 15:17] robinboening commented on #2025
@chenkita thank you! I just spent two hours debugging this and you probably saved me from a sleepless night 🥇

[2020-09-14 17:31] mullermp commented on #2407
Using Rubocop throughout the SDK is a huge task, there are many files to cover. Rubocop 0.50.0 must be used because it's the last version that supports Ruby 1.9 (the oldest version the SDK supports). If you'd be interested in doing that work (warning: it's a big task) then I'd be happy to review. We could start with fixing infractions in code generated clients which would cover most cases, then ma

[2020-09-14 18:51] alextwoods commented on #2407
One option I had considered was adding [pronto-rubocop](https://github.com/prontolabs/pronto-rubocop) as a github action on PR to ensure that new code we're writing passes rubocop.

[2020-09-14 19:09] mullermp commented on #2407
Pronto looks pretty dated.. wouldn't a native github action work?

[2020-09-14 19:14] alextwoods commented on #2407
The advantage of pronto is that it lets you run on only the diff rather than the entire project.

[2020-09-14 19:37] mullermp commented on #2407
There are a few other alternatives here that do the same thing: https://github.com/marketplace?query=rubocop but ultimately rubocop on the entire project would be best I would think. Checking against PRs before we've established usage might be a bad idea - in example what if you are modifying a small bit of code that is part of a larger infraction? - the action would fail but it would be a valid c

[2020-09-14 22:58] phene opened #2408 "Update documentation describing CloudWatch `put_metric_alarm` behavior for create vs update operations"
`Aws::CloudWatch::Client#put_metric_alarm` supports a `tags` field, but it only works when the alarm does not already exist. The tags field is ignored when updating the alarm.

To update tags on an existing alarm, `Aws::CloudWatch::Client#tag_resource` and `Aws::CloudWatch::Client#untag_resource` are required

The documentation should be updated to reflect that `tags` are not updated when the alar

[2020-09-14 22:59] #2405 closed

[2020-09-17 06:12] utkarsh2102 commented on #2407
Hey,

So I'd agree with @mullermp and think it's best to use `rubocop` on the entire project.

There are 3403 files atm and a lot of offenses. And there are 238 gems inside `gems/`.
I think we can use the newer versions of RuboCop (by using `if RUBY_VERSION > '2.4.0'`).

The best way forward, according to me, is by:
a) Defining a rough `.rubocop.yml` initially to start with.
b) Fix offenses one-by

[2020-09-18 17:59] karikarshivani commented on #2375
Just wondering if there's an update on this @ajredniwja @mullermp

[2020-09-21 15:58] mullermp commented on #2407
That sounds like a good path forward. We'd be interested in taking Rubocop defaults where possible and add exceptions on a case by case basis. I would start with code generation of service gems in the build_tools/ directory, then do hand written gems like aws-sdk-core, aws-sigv4, and aws-eventstream.

[2020-09-21 16:06] mullermp commented on #2375
When I wrote the doc I passed it off to the open source support team. I'll check in with them on the repo creation. As far as this API goes, it's still in IAM's backlog unfortunately. @ajredniwja can you ping the ticket and see if/when they will pick up this feature?

[2020-09-22 03:42] NeelAurea commented on #1577
The recommendation mentioned [here ](https://github.com/aws/aws-sdk-ruby/issues/1577#issuecomment-355111872) worked for me. I am attempting to assign transition policies to the buckets using Python SDK. Using an empty string for 'Prefix' in the 'Filter' section did the trick.

[2020-09-22 09:12] utkarsh2102 commented on #2407
Great, so I'll make a PR to get things started as set a default configuration.
And then take them one-by-one.

[2020-09-22 16:11] mullermp commented on #2407
Sure thing. Again, the generated gems are probably the easiest low hanging fruit. I suspect that method/class length and complexity will be offenses that we would probably make exceptions for.

[2020-09-22 22:38] schneems opened #2409 "RSS memory of this gem is large (total of ~20-23 mb)"
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers
- [x] I've searched for [previous similar issu

[2020-09-23 16:26] mullermp commented on #2409
While I agree it's a large gem, I don't see anything that would cause concern. I checked the prior commits between those versions and I don't see anything unusual. There are a lot of APIs and even more documentation for those APIs. Generated code is almost doubled with resource models included. I don't think it's fair to compare s3 with "most gems" because most gems are not code generated from a l

[2020-09-23 16:46] alextwoods commented on #2409
I've been unable to reproduce this locally (outside of rails):

[code]

While these numbers have increased (as a result of adding new codegen'ed code for new api features), they don't match the increase you're seeing when benchmarking with `derailed`.  I'm not sure how derailed is measuring memory usage but I wonder if something else is going on.   Did any of your other dependencies change between

[2020-09-23 17:11] schneems commented on #2409
I can confirm that the gems both take up about the same amount of memory, so the problem isn't isolated between those two version releases

[code]

Generates:

[code]

I've updated the issue and description to reflect this.

Regarding the derailed numbers, notice that the total memory of my two runs didn't really change, so it might be something to do with load order. We can ignore those results i

[2020-09-24 00:14] gardner opened #2410 "Incomplete sentence in visibility_timeout documentation"
Thanks for providing a ruby SDK. 👍

The documentation as published [here](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/SQS/QueuePoller.html) contains an incomplete sentence. _"By default, the queue's"_

The suspense is nearly unbearable. 😄

The offending line is here:
https://github.com/aws/aws-sdk-ruby/blob/df7ab18229ab6aa4ba13558a627898ce7cfc4863/gems/aws-sdk-sqs/lib/aws-sdk-sqs/queue_pol

[2020-09-24 16:49] mullermp commented on #2410
Thanks, fixed in https://github.com/aws/aws-sdk-ruby/commit/b586c38461c9aa69c48a4deb7058816abd5460d1

[2020-09-24 16:49] #2410 closed

[2020-09-24 19:25] jtsoi opened #2411 "S3 presigned URLs result in 403 SignatureDoesNotMatch, if S3::Client is configured with retries"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2020-09-24 20:25] mullermp commented on #2411
Thanks for opening this issue. `amz-sdk-request` is part of standard and adaptive retry modes and not legacy. I was able to reproduce with your code, but it looks like your configuration is incorrect - If you pass `legacy` as a string instead of `:legacy` as a symbol then you will use the correct legacy retry handler and will see correct behavior.

Also, why use the legacy retry mode?

[2020-09-24 22:28] alextwoods commented on #2409
Thanks for looking into that - I create a small PR in your repository to compare the difference in memory usage by requiring a bunch of smaller files which may indeed improve memory usage.  If that is indeed true it would be possible (though not super straightforward) to modify the SDK's codegen to split some of the generated types into smaller files.

[2020-09-24 22:41] mullermp commented on #2409
Closing to move discussion to other repo.

[2020-09-24 22:41] #2409 closed

[2020-09-25 10:29] jtsoi commented on #2411
@mullermp,

Oh, wow, did not realize I was using the mode option incorrectly.
I was using legacy mode, as it is the default, but I want to tune the timings and number of retries to ensure
it fits into our 'request_timeout' window. And was trying to be explicit about the fact that legacy mode is the default. :facepalm:

I updated the code snippet that replicates the problem in case anyone in the fu

[2020-09-25 15:11] schneems commented on #2409
@alextwoods thanks! @mullermp is it a private repo or can you tag me?

[2020-09-25 17:40] #2411 closed

[2020-09-28 08:26] schlick commented on #2323
Got the same issue as @BanzaiMan using aws-sdk-core 2.11.520 when we upgraded from Ruby 2.5.8 to 2.6.6.

[2020-09-29 16:23] alextwoods commented on #2323
I've created a PR to merge the patch from dpl#1208 since this is a fairly straightforward fix.   Version-2 of the SDK is on a path to maintaince mode and will stop receiving [regular updates on 11/20/2020](https://aws.amazon.com/blogs/developer/deprecation-schedule-for-aws-sdk-for-ruby-v2/).

[2020-10-01 15:04] jrochkind opened #2415 "S3 presigned urls using response_expires convert values to ISO8601 instead of http-date"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2020-10-01 17:36] mullermp commented on #2415
I suspect that this is a service modeling issue. [Here](https://github.com/aws/aws-sdk-ruby/blob/6b0c3c947284d1fd1a54cc9298baaf72e5e29e05/gems/aws-sdk-core/lib/aws-sdk-core/rest/request/querystring_builder.rb#L64-L72) we are checking the timestampFormat of any shapes and there is none declared, so it defaults to ISO format. The [ResponseExpires shape](https://github.com/aws/aws-sdk-ruby/blob/6b0c3

[2020-10-01 19:45] mullermp commented on #2415
Through some testing, I'm able to send a http-date formatted time object as a query string to S3 using GetObject and it comes back as a valid http-date formatted Expires header. You can try this for yourself by commenting out the default code (in my previous reply) in the query string builder and use httpdate instead. You could even monkey patch the SDK for now if you need the behavior. Apparently

[2020-10-01 20:22] jrochkind commented on #2415
Huh, weird, thanks for the investigation.  So are the SDKs in other languages also having this issue, if the problem is to upstream SDK modelling?

Has somehow nobody until now ever noticed that there's no way to use the `response-expires` S3 presigned URL query param feature from any of the SDKs? I guess it's not a popular thing to want to do! Odd and surprising!

[2020-10-01 22:39] mullermp commented on #2415
Other SDKs may or may not be impacted. Likely not. In the Ruby SDK we have a [param converter](https://github.com/aws/aws-sdk-ruby/blob/5de503fb7c676d23c52c7774a346e98ec078d590/gems/aws-sdk-core/lib/aws-sdk-core/param_converter.rb#L203-L214) that will convert to ISO format before it's sent to S3 (particularly look at the String example). We do this because it's supposed to be the default. But then

[2020-10-01 22:41] mullermp commented on #2415
I've submitted a code review for the packages upstream, that's the easy part. Hard part is getting S3 to take my change to their model.

[2020-10-02 15:16] jmonsanto commented on #1212
Is this still on the pipeline? Really having problems converting DynamoDB JSON to plain ruby hashes to the lambda. Also, the examples given cannot handle deeply nested structures.

[2020-10-02 15:36] mullermp commented on #1212
This isn't actively being worked on. I'm happy to take any pull requests. I imagine that the implementation would be very similar to the dynamodb simple attributes plugin (https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-dynamodb/lib/aws-sdk-dynamodb/plugins/simple_attributes.rb). If I'm understanding the problem correctly, the output of dynamodb streams is similar to those of dynamodb

[2020-10-03 00:02] #2035 closed

[2020-10-04 12:30] rai-hi opened #2418 "Aws::MedaConvert::Client#create_job creating Invalid JSON (another one)"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2020-10-05 10:12] fschwahn commented on #2259
Quick follow-up question on this: when presigning URLs, I see entries in my logs such as:
[code]

Am I understanding correctly that this does not mean that a network request is happening, but the "mocked out" version of a request is happening instead (generating the log entry)?

[2020-10-05 16:54] mullermp commented on #2418
Hi @rai-hi, you can view the information about what the job settings hash should look like by looking at the [`create_job` documentation](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/MediaConvert/Client.html#create_job-instance_method). All of the possible keys are included in the sample request on the documentation page (`mp_3_settings` is there), so you shouldn't need to add any logging t

[2020-10-05 16:57] mullermp commented on #2259
@fschwahn That looks like a request. How are you presigning your urls?

[2020-10-05 16:57] #2388 closed

[2020-10-05 16:58] #1683 closed

[2020-10-05 18:13] rai-hi commented on #2418
Hi @mullermp - that's super helpful, not sure how I missed that info in the method documentation but I appreciate you taking the time to help!

All the best!

[2020-10-05 18:13] #2418 closed

[2020-10-06 04:56] fschwahn commented on #2259
Something like this:

[code]

[2020-10-06 16:52] mullermp commented on #2259
Ok that looks good - that won't make network calls. I just checked and it looks like one of the request handlers/plugins will print that message.

[2020-10-06 16:55] fschwahn commented on #2259
Ok, that's good - `0.000841` would have been a hell of a time for a network roundtrip. That said, this actually sent me on a hunt to find where those supposed network requests are happening. Is there any way to suppress those fake request log entries?

[2020-10-06 17:24] mullermp commented on #2259
Yep just pass logger as nil for any client/resource: `Aws::S3::Resource.new(logger: nil)`

[2020-10-06 17:45] ajredniwja commented on #2404
The documentation was altered, closing this issue now.

[2020-10-06 17:45] #2404 closed

[2020-10-07 23:14] wjordan commented on #717
@mullermp could you please reopen this issue, now that the Feature Requests backlog markdown file has been deprecated/removed?

[2020-10-08 16:54] mullermp commented on #717
I'd have to check in with other SDKs on whether to support this or not. Generally, customers request features to other SDKs because "CLI does it" but sometimes it's not necessary because of the nature of CLI versus a language SDK.

[2020-10-16 00:10] phene opened #2420 "Determine the correct global region for a given region/partition"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers

What is

[2020-10-16 16:24] mullermp commented on #2420
Hey @phene, what is your use case? My understanding is that "aws-global" is a pseudo-region. Historically "us-east-1" was the "global region" for services (S3, STS, etc) prior to being modeled as "aws-global". You can initialize clients using "aws-global" as a region if the service supports it, and if not, fall back to "us-east-1". The data for the partitions gem comes from the service [partitions

[2020-10-16 16:44] phene commented on #2420
OK, I think my confusion came from the fact that `aws-global` and `aws-us-gov-global` are not universally supported region identifiers in all API clients. It appears they work for IAM, Organizations, and Route53, but not for EC2 or CostExplorer, among others.

I had found the partitions.json, but there's not a simple way to get `us-gov-west-1` from `aws-us-gov-global` without doing some weird thin

[2020-10-16 19:19] mullermp commented on #2420
You are correct, not all services model it as a pseudo region. You shouldn't need to get "us-gov-west-1" from "aws-us-gov-global", because using "aws-us-gov-global" as a region will automatically resolve to that region on your behalf.

[2020-10-19 22:57] renatomdg opened #2423 "Method describe_instance_types not found for EC2 Client"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers

SDK Ver

[2020-10-20 00:38] ajredniwja commented on #2423
Hey @renatomdg thanks for opening the issue, I see you are using the version 2 of the SDK which has been deprecated as mentioned [here](https://docs.aws.amazon.com/sdk-for-ruby/v2/api/).

I was not able to replicate the issue with the gem `aws-sdk-ec2-1.200.0`, I would suggest you to switch to the version 3 of the SDK and try to run the same code again and let us know if the problem still persists

[2020-10-20 00:38] #2423 closed

[2020-10-26 00:03] #1685 closed

[2020-11-06 12:31] japzio commented on #2174
hi, im not a ruby dev, as a quick workaround, did you try to modify the ec2 instance's **InstanceMetadataOptions.HttpTokens** to **optional** using aws cli modify-instance-metadata-options?

[2020-11-07 07:54] matjamesymj commented on #2124
I have been trying to get headers to show up in the generated gem but they only seem to work if you prefix with an X. So 'X-MY-header-example' works but, 'MY-header-example' does not work. We need the latter to work. Does anyone know how to achieve this?

[2020-11-17 14:36] Bensign opened #2433 "IAM Role function "list_roles" incorrectly returning nil for "role_last_used""
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2020-11-17 18:24] mullermp commented on #2433
Related to https://github.com/aws/aws-sdk-ruby/issues/2360 .. this is not a Ruby SDK bug unfortunately, and a limitation + documentation issue with IAM :/

[2020-11-17 18:26] Bensign commented on #2433
@mullermp Thanks for the response - not sure how this didn't come up when I searched issues related to this so apologies for the noise.

[2020-11-17 18:27] mullermp commented on #2433
No worries. Can you actually raise hell by replicating this issue on https://github.com/aws/aws-sdk/issues ? It's a new repo setup specifically for service API issues across all SDKs (which this issue certainly is).

[2020-11-17 18:27] #2433 closed

[2020-11-17 18:30] Bensign commented on #2433
@mullermp It would be my pleasure.

[2020-11-17 18:47] mullermp commented on #2433
Thanks. I'm sorry about this. At a bare minimum, the documentation should be fixed to comment around these gaps and limitations of their API. When I talked internally to someone on their team a while back, there were technical reasons that they couldn't populate certain data that the API was modeled to do so.

[2020-11-18 20:14] mullermp commented on #2415
I haven't forgotten about this. I am preparing a release with S3. I also tracked down the release where this breakage occurred: https://github.com/aws/aws-sdk-ruby/commit/03f80307dff047621ea95108775d3abc8b70efb7#diff-885d88e0d8505b74befae6d25478446244da798f4ab6bff3e2886957bba983b7

I am probably going to get some flak for this change, because it's going to change behavior for other SDKs too, but i

[2020-11-18 20:45] jrochkind commented on #2415
Thanks!

In this case for `Expires` header specifically, I believe the changed behavior just changes from something browsers would *not do the right thing with* (just ignore the header) to something where browsers will do the right thing. So I don't think there is any reason for anyone to prefer the former behavior, even on backwards compat grounds, in any SDK. if it also effects things other than

[2020-11-18 21:02] mullermp commented on #2415
@jrochkind That's true (I will forward that feedback), however, this is not limited to just browsers - any code that relies on parsing (like in applications) may be broken if the expected format is different - it depends on the language and the library used, so it's hard to say definitively. S3 still wants to proceed with caution and I'm doing the diligence testing other SDKs.

[2020-11-18 21:11] mullermp commented on #2415
Also (unrelated) - I saw your faster_s3_url implementation was featured on ruby weekly! That's really cool. I just wanted to mention that the runtime plugin design of V3 definitely causes most of the slow down. It's something that we want to eliminate in the next major version when that happens. If you didn't want to maintain the signing code, you can use the [`presigned_url` method](https://githu

[2020-11-18 21:26] jrochkind commented on #2415
I didn't even know faster_s3_url was on ruby weekly, thanks!

Yeah, I initially wanted to maybe try to PR here to speed up S3 URL generation (it was causing a bottleneck in my real app, is what led down that whole path). But looking into it, I saw how baked into the architecture it was -- there were no good ways to improve performance without significant refactoring and/or un-DRY'ing of your code.

[2020-11-18 22:14] mullermp commented on #2415
Ah, interesting about `URI.parse`! Yes, a lot of the code is to support legacy and what not - for example our SDK also supports Ruby 1.9.. yuck. If I could wave a magic wand I'd fix and drop many things. I'll keep that in mind for a new implementation. I'm open to reviewing any improvements that are sane to do :)

[2020-11-20 10:09] vinaymehta opened #2435 "Aws::S3::Errors::AccessDenied: Access Denied"
Hey there!

I am trying to access one bucket objects containing csv files. I am able to access those files via AWS CLI but not via Ruby SDK and receiving error Aws::S3::Errors::AccessDenied: Access Denied. Also via Ruby SDK I am able to access all the buckets present using the keys and region but can't access objects inside a particular object.

This is how my configuration is
[code]

Getting erro

[2020-11-20 18:30] mullermp commented on #2435
Hi @vinaymehta, have you seen this guide here? https://aws.amazon.com/premiumsupport/knowledge-center/s3-access-denied-aws-sdk/

In short, check if the credentials you are using are the same. If you have an ~/.aws/config or ~/.aws/credentials file, and have credentials in a profile, you can use it in the Client: `Aws::S3::Client.new(profile: 'my_profile', ....)`

[2020-11-21 18:22] vinaymehta commented on #2435
Hi @mullermp
I had got this issue fixed with AWS Team and they suggested to add prefix '/' always while listing objects in bucket or within folder in bucket.
It was weird that I was able to list objects in AWS CLI without prefix but was giving error in SDK for same.
Thanks for the help.

[2020-11-21 18:22] #2435 closed

[2020-11-21 18:38] vinaymehta opened #2437 "list objects in a bucket based on 'last_modified' time"
I want to know if there is any way we can list objects in a bucket based on last_modified time in reverse order and can apply limit on it. OR if there is any way to get latest added objects in a bucket with limit param.
Please help if we have such way using SDK
Thanks in advance

[2020-11-23 18:32] mullermp commented on #2435
@vinaymehta Hey, that's weird. I don't need to use a prefix to list objects in a bucket. Is your bucket DNS compatible? Could you enable `http_wire_trace: true` for your Client and share the debug?

[2020-11-23 18:43] mullermp commented on #2437
Hey @vinaymehta, you can certainly do this in Ruby with something like:

[code]

As far as the API goes, I don't know if you can select on the server side, unless you use the `start_after` or `prefix` options, which would require having timestamps as your object's key.

https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/S3/Client.html#list_objects_v2-instance_method

[2020-11-24 08:15] vinay-legitimate commented on #2437
Hi @mullermp, Thanks for your reply
But in above solution it will first list all objects in the bucket where I am already using `prefix` option to have files within a folder and then it will filter out those files based on last_modified time of the object.

I want if I can send `last_modified` param in the listing objects request itself. So that it should list only the required objects and not go

[2020-11-24 08:38] vinaymehta commented on #2437
Hi @mullermp , Thanks for your reply
But in above solution it will first list all objects in the bucket where I am already using prefix option to have files within a folder and then it will filter out those files based on last_modified time of the object.

I want if I can send last_modified param in the listing objects request itself. So that it should list only the required objects and not go thr

[2020-11-24 18:21] mullermp commented on #2437
If you are using `prefix`, then other than `start_after` and naming your keys with timestamps, there is no such way as far as I can tell. Perhaps open a feature request on https://github.com/aws/aws-sdk for S3 to add such a capability into the SDKs?

[2020-11-24 18:21] #2437 closed

[2020-11-29 07:05] laurawadden opened #2438 "Add information on core functionality"
I don't get an immediate sense from the readme what this gem *does* and am forced to know a lot of the context in order to understand it.

It would make the gem much more accessible if someone writes a features list or a short description of how this gem works and what it provides.

[2020-11-30 23:32] allcentury opened #2439 "Net::HTTPFatalError not being retried"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2020-12-01 04:36] mullermp commented on #2438
Hi @laurawadden, this repository contains multiple gems. You simply need to install any of the service gems (`aws-sdk-<service>`) such as `aws-sdk-s3` or `aws-sdk-ec2`. Each of them depends on `aws-sdk-core`. All of the related core options are available on service clients and are documented in the constructor.

They're listed here: https://rubygems.org/search?query=aws-sdk-

https://docs.aws.amaz

[2020-12-01 04:38] mullermp commented on #2439
Hi @allcentury, I need to double check, but I believe that "0 retries" is the current number of retries on the request, not the configured maximum.

When you say "I see errors for sqs, s3" are you specifically seeing a Ruby error or just this logging behavior?

[2020-12-01 04:48] allcentury commented on #2439
@mullermp thanks for the quick reply.  I agree, `0` is the current number and I don't see any additional logs for more retries.

I can see the config is set:

[code]

Yes, I just updated the log above - we're getting the occasional error for SQS (`send_message`), SagemakerRuntime and S3.

[code]

Would I get a log line for each retry?  It seems like yes but I'm not seeing them.

relevant stacktrac

[2020-12-01 04:57] mullermp commented on #2439
Yes I do believe you should see log statements for each retry attempt. It seems that the error thrown here is not being retried. We check for server errors (504 included) here: https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-core/lib/aws-sdk-core/plugins/retries/error_inspector.rb#L118 so I'm not sure what's going on. Can you configure your Client with `http_wire_trace: true` and see

[2020-12-01 17:49] mullermp commented on #2439
Please get back to me with any wire trace information when you can so I can confirm if this is a bug or not.

[2020-12-01 19:25] mullermp commented on #2439
@allcentury I prepared a change to fix this https://github.com/aws/aws-sdk-ruby/pull/2440 Please confirm that you're using a proxy, and any wire trace logs would be helpful too.

[2020-12-01 20:49] allcentury commented on #2439
@mullermp - thanks for digging into this.  We do indeed use a proxy for cross-region traffic and that is what appears to be failing here.  Thanks for putting together the PR and for the timely responses it is much appreciated

[2020-12-01 20:53] mullermp commented on #2439
@allcentury No problem. I tested the change with unit tests but I need to do a real-world test. I can do that later unless you wanted to checkout my pull request and give it a try with your configuration. Once merged, it would be released with tomorrow's release.

[2020-12-02 18:38] mullermp commented on #2439
There is no planned release today for SDKs in re:Invent's schedule

[2020-12-02 20:15] #2439 closed

[2020-12-02 21:47] mike-bailey commented on #1919
It didn't have strong concurrency. With the new re:Invent announcements, I think this is _actually_ done now.

[2020-12-02 22:02] mullermp commented on #1919
I'm glad to hear. I'm sorry for the delay on this. When this issue was opened, I wasn't working on the Ruby SDK. I don't remember the details, but I looked at this on July 9 and it looked instantaneous to me and I couldn't reproduce. But I'm glad it's finally addressed. :D

[2020-12-03 02:22] OmriSama opened #2444 "Easier way to query Metadata through aws-sdk-core or aws-sdk-ec2?"
Hello!

We currently have several applications that pull in AWS Metadata information when they're deployed.
We manually query `169.254.169.254` ourselves in our Rails app.

I wanted to look into offloading some of that functionality to the AWS sdk, but I couldn't find any clear method in code that retrieves this instance metadata. The closest thing I was able to find was the `Aws::InstanceProfileC

[2020-12-03 17:48] mullermp commented on #2444
Hi @OmriSama thanks for raising this. Exposing a public interface for an EC2 instance metadata client is something that we had looked at in the past. I think that a few of the other SDKs (.NET, Go) have done that. Consistency across SDKs is a main concern for us so this was punted until a cross-SDK enhancement specification was made (these are internal design docs that our organization writes).

[2020-12-03 17:51] mullermp commented on #2444
https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-core/lib/aws-sdk-core/instance_profile_credentials.rb

The implementation is here, but it's not exposed as public or for generic query.

[2020-12-03 17:59] #2420 closed

[2020-12-03 18:01] mullermp commented on #2415
FYI - I've gotten this approved by senior leaders (because it will be a behavior change for all SDKs) and this is planned for around 12/21 after re:Invent.

[2020-12-03 18:05] mullermp commented on #2408
I recreated this ticket in a different repo. It's owned by a cross-SDK open source support team that is responsible for driving service API improvements.

[2020-12-03 18:05] #2408 closed

[2020-12-03 18:15] mullermp opened #3134 "Days is a required parameter in S3 restore_object"
Original issue: https://github.com/aws/aws-sdk-ruby/issues/2380

For S3's restore object, the docs state:

[code]

"Days" cannot be set to required because the request might not be for GLACIER or DEEP_ARCHIVE.

The Ruby SDK sends valid XML

[code]

The service responds with unhelpful text `The XML you provided was not well-formed or did not validate against our published schema`

The error message

[2020-12-03 18:16] mullermp commented on #2380
Opened this on a different repo because it's for the service team. https://github.com/aws/aws-sdk/issues/28

[2020-12-03 18:16] #2380 closed

[2020-12-03 18:29] alextwoods commented on #2397
Closing this out since content-md5 is required on the APIs and not allowed through openssl FIPS.

[2020-12-03 18:29] #2397 closed

[2020-12-03 22:31] OmriSama commented on #2444
Thanks @mullermp! You're awesome.

I know I asked this in here: https://github.com/aws/aws-sdk-rails/issues/44
But you would take a merge request for this kind of functionality?

[2020-12-03 22:49] mullermp commented on #2444
Yes, I would consider a merge request! It likely wouldn't be merged as is and would serve as a proof of concept. We would need to iterate on it after I type up requirements for other SDK teams and get some senior engineers in our org to look at it.

[2020-12-03 23:33] mullermp commented on #717
It looks like this original feature request was already implemented (for allowing retries through code) so I'm going to close this.

For supporting global configuration and environment variables, we should open a new feature request and then I would need to check with other SDK teams on whether they can support it. Generally CLI has different configuration mechanisms because .. it's the CLI (and f

[2020-12-03 23:33] #717 closed

[2020-12-04 20:45] robbkidd opened #2446 "Unreleased "Profile" removal in aws-partitions gem"
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers
- [x] I've searched for [previous similar issu

[2020-12-07 18:01] mullermp commented on #2446
Thank you for reporting this. We thought we cleaned up everything around this. Long story short, an AWS service launched with "Profile" and it caused conflicts with CLI so SDK teams were forced to remove it and it was re-released as CustomerProfiles instead.

[2020-12-07 18:14] mullermp commented on #2446
Github 'master' branch appears to be in good state. A new release is going out today with partitions changes, so I think that this should get resolved once that finishes.

[2020-12-07 18:27] robbkidd commented on #2446
Much love sent y'all's way. Totally understand how much fiddly work it is to undo code generation. Thanks for the quick response!

[2020-12-07 23:07] mullermp commented on #2446
This appears to be fixed with 1.403.0. Re-open if it's still a problem for you.

[2020-12-07 23:07] #2446 closed

[2020-12-08 02:52] fawaf opened #2447 "ElasticLoadBalancingV2::Types::LoadBalancer does not support tags"
**Is your feature request related to a problem? Please describe.**
when using the `ElasticLoadBalancingV2` client to describe ELBs, there is no way to view tags currently.

**Describe the solution you'd like**
support viewing load balancer tags using the sdk

**Describe alternatives you've considered**
N/A

[ ] :wave: I may be able to implement this feature request

**Additional context**
Add any

[2020-12-08 03:58] usamaSaddiq commented on #2014
+1 experiencing the same issue. Any updates on this?

[2020-12-08 17:05] alextwoods commented on #2014
If you're getting the same error on all operations you attempt on the bucket, make sure you have constructed the resource with a client with the correct region.  eg:
[code]

These errors largely exist to prevent unintentional cross region requests - so in code where you are doing this you will need to be explicit about regions.

For the `copy_from` issue, see the documentation for [Object#copy_fro

[2020-12-08 18:06] mullermp commented on #2447
Did you look at `describe_tags`?

https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/ElasticLoadBalancingV2/Client.html#describe_tags-instance_method

[2020-12-09 08:13] fawaf commented on #2447
ahh, did not know about that. though it would still be a nice "feature" to have the `Type` support directly query tags.

[2020-12-09 17:57] mullermp commented on #2447
Hey, I'm not quite sure what you're asking. Could you explain what you mean?

[2020-12-09 21:40] fawaf commented on #2447
basically something like how many of the other `Types` have it. e.g. https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/EC2/Types/Instance.html#tags-instance_method. one can directly `Aws::EC2::Types::Instance.tags` for a particular ec2 instance.

[2020-12-09 21:55] mullermp commented on #2447
I see what you're saying. `Types` are generated from the service model for each service. The EC2 `Instance` type is defined here: https://github.com/aws/aws-sdk-ruby/blob/08a85cd0c37d490c512cfeddff24005d0ec02216/apis/ec2/2016-11-15/api-2.json#L17786-L17982 and it explicitly adds the `tags` on a response with this structure. This seems like a decision that the EC2 service team made and most service

[2020-12-09 22:20] arothian opened #2449 "Argument Error from S3 EncryptionV2 Client"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2020-12-09 23:26] alextwoods commented on #2449
Thanks for submitting this.  I've put out a PR to fix: #2450 which should go out tomorrow.

[2020-12-09 23:39] #2449 closed

[2020-12-10 10:17] EnziinSystem opened #2451 "unexpected value at params[:multipart_threshold]"
My environments:

[code]
And config/storage.yml
[code]
When I upload an image avatar for any model, it raises an error.

[code]
This is trace:

[code]

[2020-12-10 17:46] mullermp commented on #2451
For some background, `:multipart_threshold` is used in the [Object resource model](https://github.com/aws/aws-sdk-ruby/blob/129cf891443ff82141512db48f950fa070d38e34/gems/aws-sdk-s3/lib/aws-sdk-s3/customizations/object.rb#L339) (which uses [FileUploader](https://github.com/aws/aws-sdk-ruby/blob/129cf891443ff82141512db48f950fa070d38e34/gems/aws-sdk-s3/lib/aws-sdk-s3/file_uploader.rb#L18)).

Rails is

[2020-12-10 17:53] mullermp commented on #2451
I think this line needs to be changed: https://github.com/rails/rails/blob/914caca2d31bd753f47f9168f2a375921d9e91cc/activestorage/lib/active_storage/service/s3_service.rb#L19

to this:

[code]

[2020-12-10 20:05] mullermp commented on #2451
I was able to reproduce with a new rails environment. This occurs when the file being uploaded is less than the multipart upload, but it works when it is greater.

[2020-12-10 20:19] mullermp commented on #2451
I created a PR against rails https://github.com/rails/rails/pull/40793

[2020-12-10 23:20] #2451 closed

[2020-12-11 01:27] mullermp commented on #1455
`placement/region` has been available for a while now - reminder to myself that I will pick this up as part of https://github.com/aws/aws-sdk-ruby/issues/2444

[2020-12-13 10:25] #2447 closed

[2020-12-14 00:02] #2438 closed

[2020-12-21 19:11] mullermp commented on #2415
This went out today - https://github.com/aws/aws-sdk-ruby/blob/2bd4e16d097f8ade6129b2ed514a8f0c56febf70/apis/s3/2006-03-01/api-2.json#L6737-L6740

Gem will be published in a few hours (I verified the change locally, but will verify the published gem too)

[2020-12-27 03:07] watmin commented on #1212
Just dug through the sdk code and came up with this, needs some polish but got me unblocked.

[code]

#### Demo

Creating a complex demo item:

[code]

Extracting the new image from each of context records:

[code]

DDB Trigger context:

[code]

[2020-12-27 12:24] rgaufman opened #2455 "aws-sdk-core-3.110.0/lib/seahorse/client/h2/connection.rb throws /http/2/compressor.rb:333:in `initialize': wrong number of arguments (given 1, expected 0)"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2020-12-27 12:32] rgaufman commented on #2455
Seems this is possibly an issue with Ruby3 compatibility? - filed a bug here: https://github.com/ostinelli/net-http2/issues/44

[2020-12-28 20:20] ostinelli commented on #2455
Please note that aws-sdk-ruby doesn't use https://github.com/ostinelli/net-http2, rather https://github.com/igrigorik/http-2.

[2020-12-28 21:39] rgaufman commented on #2455
Ah, my bad, filed the bug in the correct place: https://github.com/igrigorik/http-2/issues/158

[2020-12-29 00:09] HoneyryderChuck commented on #2455
In case it helps, I've [forked http-2 more than one year ago](https://gitlab.com/honeyryderchuck/http-2-next), and have kept it API-compatible and up-to-date (it supports ruby 3 for 3/4 weeks).

The reasons for having forked it are outlined [here](https://gitlab.com/honeyryderchuck/httpx/-/issues/60). It's also a transitive dependency of [httpx](https://gitlab.com/honeyryderchuck/httpx), which als

[2020-12-29 01:05] kalpitad opened #2456 "Erroneous DynamoDB SDK Validation Exception on a Query with a start key and a key condition with 'greater than or equals to'"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2020-12-29 02:14] rgaufman commented on #2455
Ah, interesting, we recently switched to Faraday which seems to be well supported, is there an argument to switch from http-2 to faraday?

[2020-12-30 00:47] HoneyryderChuck commented on #2455
It's apples and oranges in this case, `http-2` and `faraday` are two different things. `http-2` is just a parser, and can't do much by itself. `faraday` is a "wrapper" on top of multiple http clients, which in theory allows you to choose the client library performing the actual calls (and if you're not, you're using `net-http`).

Back to the original thread, which is the `aws-sdk-core` issue you'r

[2021-01-04 03:26] duffn opened #2458 "Ignore capitalization of aws_access_key_id and aws_secret_access_key elements in credentials file"
**Is your feature request related to a problem? Please describe.**

The SDK does not behave the same way as the AWS CLI when reading credentials from the `~/.aws/credentials` file in regards to the capitalization of the `aws_access_key_id` and `aws_secret_access_key` keys.

_Example_

The SDK will read this credential properly.

[code]

The SDK will not read this credential as `AWS_ACCESS_KEY_ID`

[2021-01-05 19:56] mullermp commented on #2458
Thanks for reaching out. According to the design specification for this feature (written for SDKs and published internally) it does not specifically mention that these keys should be case insensitive. CLI may have broken that specification at some point and must continue to support it. I'll check with other teams on this. Is there a specific need to be case insensitive? You should be able to defin

[2021-01-05 20:27] duffn commented on #2458
Using all lowercase for the credentials is the correct solution, it just caught me off guard. I can agree that this is indeed one of those `CLI does this, why don't you?` issues. It can be closed.

[2021-01-05 20:27] #2458 closed

[2021-01-05 20:52] mullermp commented on #2458
Understood, and makes sense. I think that the specification we have can be amended to mention CLI's behavior or be broadened to case sensitive keys. I will follow up with that.

[2021-01-05 22:00] mullermp commented on #2456
Sorry for the late response on this. Many of the SDK team were OOTO for vacation.

In general, these namespaced errors are returned by the service (`Aws::DynamoDB::Errors::ValidationException`), the SDK is not doing any additional logic around your query. If I had to guess, your expectation of the condition is wrong.

I'm not an expert with DynamoDB, but the [docs](https://docs.aws.amazon.com/sdk-

[2021-01-06 13:26] saluzafa commented on #1212
Hello,

I was facing the same problem, I needed to parse DynamoDB stream records, so I created this:
[code]

Test file:
[code]

Cheers!

[2021-01-06 14:47] saluzafa commented on #1212
btw, I created two gems which implement both classes:
- https://rubygems.org/gems/aws-sdk-dynamodb-attribute-deserializer
- https://rubygems.org/gems/aws-sdk-dynamodbstreams-event-parser

[2021-01-07 19:04] mullermp commented on #1907
This is supported in core 3.106.0 as per #2361

[2021-01-07 19:04] #1907 closed

[2021-01-07 20:04] sudodevnull commented on #824
Any update on this?

[2021-01-07 21:06] mullermp commented on #1212
Thank you both for providing solutions. I've set aside some time to look at this and I'm currently investigating how this should fit in the SDK. This could either be a customization (utility class) for parsing, or it could be a plug-in that directly modifies the response records. If it were a plugin, it would have to be default turned off for backwards compatibility.

[2021-01-07 23:09] mullermp commented on #2444
@OmriSama After some back and forth with SDK teams, I got consensus on a design and merged our implementation here https://github.com/aws/aws-sdk-ruby/pull/2453/files It should be available in the next core version tomorrow.

[2021-01-07 23:09] #2444 closed

[2021-01-07 23:22] OmriSama commented on #2444
Sweet!!! Thanks you @mullermp

[2021-01-08 12:54] saluzafa commented on #1212
Hello @mullermp

Best solution would be an utility for parsing I think :)

Cheers!

[2021-01-08 18:24] mullermp commented on #1212
@saluzafa Yes, there will be a utility class, but I will also add a plugin. There are two different inputs here - those using lambda to get an event (ruby hash), and those using `get_records` in the SDK (nested structs with hashes). Both have different input types for the same data, but we need the same output.

[2021-01-09 01:31] kalpitad commented on #2456
Thanks, Matt. I'm glad that the team was OOTO and I had no expectations of a reply during the holidays. :)

To answer your question re: the SDK's pagination feature, my code sends results (with the LastEvaluatedKey) to a client and the client returns the start key back to me if/when it wants another page. Hence, I'm not in a position to be able to use `next_page`.

Does the stack trace indicate to

[2021-01-10 22:19] mullermp commented on #2456
Yes - I believe this to be a service error. Although it's not defined in the model, we have a dynamic errors module that generates an error class on the fly based on the http response. If you are able to replicate locally, you can verify by checking the response after enabling `http_wire_trace: true` on your Client or using the executable `aws-v3.rb -v`. If this is the case, a customer support tic

[2021-01-11 18:04] alextwoods commented on #2455
A new version of [http-2](https://rubygems.org/gems/http-2) has been published that resolves this issue.

[2021-01-11 18:04] #2455 closed

[2021-01-11 18:08] #1212 closed

[2021-01-11 18:11] mullermp commented on #1212
We've added a utility that you can use to parse lambda events into simple attributes:

[code]

If you're using the SDK to get records (outside of lambda) you can use the `simple_attributes: true` option on your DynamoDBStreams Client.

[code]

[2021-01-11 18:19] alextwoods commented on #2456
I believe the issue here may be related to your usage of the `exclusive_start_key`. How are you setting that value? I believe it should be set only from the `last_evaluated_key` (see the [query docs](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html)).  Are you doing anything to modify the table during you're queries?  I believe the error means that DynamoDB cannot get

[2021-01-11 23:28] chase439 commented on #874
Just to follow up, I had to use `presigned_request` instead of `presigned_url` as it sets `hoist` to false, which is needed to get those x-amz attributes in the header. Look at definition of `presigned_request` vs `presigned_url` for those who are curious.

[2021-01-13 13:27] kbs4674 opened #2463 "is necessary 'body_digest' option in 'presign_url' method?"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers

at firs

[2021-01-13 21:30] mullermp commented on #2463
Hey @kbs4674 thanks for opening an issue.

I'm curious to know why you're using the SigV4 gem directly to access S3 - we have an [S3 presigner utility class](https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-s3/lib/aws-sdk-s3/presigner.rb) that you can use:

[code]

As for `body_digest`, it's a documented optional option here: https://github.com/aws/aws-sdk-ruby/blob/0070c0660e5130518f9

[2021-01-14 02:50] #2463 closed

[2021-01-14 02:52] kbs4674 commented on #2463
Thanks for answer!
you bring to me better code!!

[2021-01-14 16:38] tarcinil opened #2464 "retry_errors#resolve_max_attempts is getting String from Shared_Config#max_attempts"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-01-14 17:50] mullermp commented on #2464
Related to https://github.com/aws/aws-sdk-ruby/pull/2319. Looking

[2021-01-14 19:22] mullermp commented on #2464
Thanks for reporting this. I've made a PR at #2465 if you are interested.

[2021-01-14 21:12] #2464 closed

[2021-01-15 00:08] ajredniwja commented on #2408
@phene, changes were made in the documentation.

See: https://github.com/aws/aws-sdk/issues/27#issuecomment-760555988

[2021-01-26 14:39] jclusso commented on #1391
Why was this closed? I have this same issue and I'm not sure why....

[2021-01-26 14:41] jclusso commented on #1391
Why was this closed? I have this same issue and I'm not sure why.... @cjyclaire @mwalsher

[2021-01-26 15:42] Seitanas opened #2469 "Multipart upload for EncryptionV2"
Hello, is there any way to initiate multipart upload using `Aws::S3::EncryptionV2::Client` ?
Getting error:

[code]

Thank you.

Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums]

[2021-01-26 16:43] mullermp commented on #2469
It's not supported. There are some technical limitations and challenges involved.

[2021-01-26 16:57] alextwoods commented on #2469
Unfortunately we don't support multipart upload with client side encryption.  There are additional complexities to ensure that client side encryption applied to multipart upload is both secure and correct.

I'd recommend breaking your file apart, doing `put_object` on each part and then manually recombining them.  Alternatively, depending on your encryption needs, you can use server side encryptio

[2021-01-27 20:57] Seitanas commented on #2469
Thank you for information.
I just went on with reading encrypted datastream from openssl in chunks and uploading them as multipart data.

[2021-02-02 23:59] kalpitad commented on #2456
Thanks to both of you for helping me think through this. As far as I can tell, I am doing everything correct regarding the exclusive start key. Note: I can't take it immediately from the response because it round trips through my client (i.e. they tell me if they want another page).

In any case, I should be able to detect this specific situation and skip the query altogether. Because my key condi

[2021-02-07 16:14] Shalashtein opened #2473 "Missing region even when it's provided"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x ] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sd

[2021-02-08 17:45] mullermp commented on #2473
The SDK looks for the region on the Client (i.e. `Aws::S3::Client.new(region: 'us-west-2')`) or in `ENV['REGION'] = 'us-west-2'`. I'm not entirely sure what Paperclip is doing.

According to the [Paperclip docs](https://www.rubydoc.info/gems/paperclip/Paperclip/Storage/S3), your configuration looks correct. You mention that it works in development and not production - is it possible that your `con

[2021-02-11 13:10] michaelwittig opened #2477 "Aws::SQS::QueuePoller automatically call change_message_visibility_timeout while work is in progress"
**Is your feature request related to a problem? Please describe.**
I use the `Aws::SQS::QueuePoller` to get messages from SQS. I can either define an `:visibility_timeout` or the queue's default value is used. I can also call `poller.change_message_visibility_timeout(msg, 60)` to add another timeout if I need more time. But in situations where the processing is an expensive blocking call, I can no

[2021-02-17 01:03] pchaganti opened #2480 "Ruby 3.0 and error message - "wrong number of arguments (given 3, expected 2)""
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-02-17 21:24] mullermp commented on #2480
Hey, I'm not able to reproduce this..

[code]

[2021-02-17 21:27] mullermp commented on #2480
Are you sure this isn't from code that you own? Or inserted handlers? Are you configuring logging levels? If you are able to get a stack trace, that helps too.

[2021-02-17 22:34] pchaganti commented on #2480
Will double check if it is something we are inserting in the handlers.

thanks!

[2021-02-18 13:55] pchaganti commented on #2480
Created a completely new environment and not getting this message. Closing this ticket.

thanks!

[2021-02-18 13:55] #2480 closed

[2021-02-20 00:02] #2473 closed

[2021-02-22 10:31] guillaumedenece opened #2481 "[aws-sdk-lambda] raises Aws::Errors::MissingCredentialsError when invoking lambda functions under load spike"
We are using the `aws-sdk-lambda` to invoke lambda functions synchronously from our ruby code running on Elastic Beanstalk.
Here is our code:
[code]

At 23:00UTC every day, we have a spike in the traffic and go from less than 300 invocations per 5 minutes to more than 7.5k in 5 minutes. Out of those 7.5k invocations, more than 100 of them raise the following error: `Aws::Errors::MissingCredentials

[2021-02-22 15:21] roccoblues opened #2482 "copy_to and move_to on Aws::S3::Object don't work with access point ARNs"
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers
- [x] I've searched for [previous similar issu

[2021-02-22 17:43] alextwoods commented on #2481
Do you have any way of caching/re-using the Lambda Client between requests (note: our Service Clients are fully thread safe)?

When creating the client, the credentials resolution chain will attempt to get the EC2 credentials from the link local EC2 IMDS service - I'm guessing the surge in requests causes that to fail for some requests, which results in credential resolution not finding credential

[2021-02-22 17:50] mullermp commented on #2482
Thanks for opening up an issue. I'm taking a look. As a general FYI, Resource models are "deprecated" because they're buggy and code generated around hand-maintained definition file that in itself has limitations.

Have you tried with the [client API copy_object](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/S3/Client.html#copy_object-instance_method) method?

[2021-02-22 18:00] alextwoods commented on #2482
Additionally - you can pass `bucket` and `key` to the `copy_to` method and those should work.  The underying issue is that we don't have support for parsing the arbitrary `/` in both bucket and key in our Object Copier.

This should work:
[code]

[2021-02-22 18:16] mullermp commented on #2482
Please try the workarounds (client API with no resource model usage or passing bucket to `move_to`). This is unfortunately marked as "wontfix" because fixing resource models involves extensive monkey patching and other potentially breaking hacks.

[2021-02-22 20:14] guillaumedenece commented on #2481
Hi @alextwoods and thank's a lot for the reply.

I am not very sure how we could do that.

Here is a a bit more context on how we use the Lambda Client:
1. Our rails server receives a `GET /account?user_id=<user_id>` HTTP request.
2. We invoke a lambda function using the code above and wait for the response.
3. We return the response to the request received at step 1.

Our rails server runs in Ela

[2021-02-22 20:54] mullermp commented on #2481
On your Rails controller action, are you creating a new Lambda client? @alextwoods is saying that you may want to create the client and store it elsewhere, and on your controller action, use it, without having to create a new one each time. Because each time you create the client, you're attempting to get credentials (which may check EC2)

[2021-02-23 09:14] roccoblues commented on #2482
Thanks for the fast response!

@alextwoods I tried your suggestion but it then fails with:
[code]

I guess the  `Aws::S3::Object.new` also can't handle a bucket ARN.

Unfortunately I can't easily switch to the client API because the higher level library we use in a legacy project (https://github.com/sorentwo/carrierwave-aws) is build around the resource model.
But I'll see if I can come up with a

[2021-02-23 18:30] mullermp commented on #2482
Actually, I think you can still use resource models for this, provided you initialize `Bucket` and not `Object`. Here is the code for [Bucket initialize](https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-s3/lib/aws-sdk-s3/customizations/bucket.rb#L15). Are you able to create an instance of bucket with the bucket name as the ARN, and then fetch the object from there? Bucket names are use

[2021-02-24 01:20] prem-prakash opened #2484 "Missing CORS Rule ID"
`Aws::S3::Types::CORSRule`
https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-s3/lib/aws-sdk-s3/types.rb#L689
do not have the ID field

The id field is present in other languages SDK like .NET https://github.com/aws/aws-sdk-net/blob/master/sdk/src/Services/S3/Custom/Model/CORSRule.cs#L72

It is important to identify the rule.

[2021-02-24 07:20] mullermp commented on #2484
Hey, thanks for opening an issue. These types are generated from the s3 service model: https://github.com/aws/aws-sdk-ruby/blob/34f240beff5219df268fec68065374b47d894c23/apis/s3/2006-03-01/api-2.json#L1259. The s3 api docs do not mention an ID for this structure. I do know that the .NET s3 client is hand written. That ID shouldn't exist at all but is likely there for legacy support. Could you pleas

[2021-02-24 09:28] roccoblues commented on #2482
Hi @mullermp, the bucket version also doesn't work:

[code]

Anyway, we have switched to a version without accesspoint now and everthing is working as expected.

[2021-02-24 10:18] albandum commented on #1389
Hi,
Just wondering if that https option has ever been added ? I'm facing the exact same issue. I'm managing the certificate and need https urls, but I can't figure out how to do it correctly.

Thanks !

[2021-02-24 16:14] prem-prakash commented on #2484
Hi @mullermp thanks for answering this issue.

In my use case, we use the ID to define a default CORSRule, which is updated separated from the other ones. We use S3 CORS rules to allow our clients' domains to access S3 content. When an account of a client is created we update the allowed origins of the default (identified by the ID) CORSRule. The other CORS rules are defined for other purposes.

O

[2021-02-24 20:18] mullermp commented on #2484
I see. It's not part of S3's official API (in which our code is generated around). I've reached out to the .NET SDK guys to see why that was added in the first place. I don't know if we can augment the `CORSRule` type and if we could I'm not sure whether or not we should even do that. We try to stay true to the API reference. For S3, .NET (and Java V1) are exceptions because they are hand written

[2021-02-24 20:48] prem-prakash commented on #2484
The ID field was present in the V1 of the ruby SDK:

https://github.com/aws/aws-sdk-ruby/blob/1.6.7/lib/aws/s3/cors_rule.rb#L60

I am facing this issue due to the upgrade to V3. The .NET SDK was just an example.

Regarding your proposed solution, it would work to put new cors rules, but the problem is when I want to search for a specific rule to update it.

I found another way to handle my use cas

[2021-02-24 21:00] mullermp commented on #2484
Ah! Weird that this is in v1 of the SDK.. v1 Ruby SDK was also hand written (v2/v3 are code generated) but I left it out because it's long been deprecated, in 2015. This is really strange. Thank you for pointing this out. I wonder if there is a hidden S3 feature. I'm going to investigate further.

[2021-02-24 21:13] mullermp commented on #2484
https://docs.aws.amazon.com/AmazonS3/latest/userguide/enabling-cors-examples.html

This example has usage of Rule ID! I think you are on to something. I think I need to engage an appropriate S3 team and find out why this is not modeled.

[2021-02-24 23:22] prem-prakash commented on #2484
Yeap, I saw these examples too. Hope to hear from this interaction with an S3 team.

[2021-02-24 23:53] alextwoods commented on #2482
@roccoblues  - Sorry that was still not working and that you had to switch to a version without accesspoint.

When I test locally I the code that I suggested was working:
[code]

This results in the following SDK calls:
[code]

Do you have any more sample code or any other differences?

[2021-02-25 00:05] alextwoods commented on #1389
@albandum  - We just added support for this in #2485. This change actually makes `public_url` behave consistently with `presigned_url` with `virtual_host` and now defaults to `https`.  For users where https does not work (ie, bucket names containing dot (.) characters), you may set `secure: false` to fallback to using http.

[2021-02-25 00:57] mullermp commented on #2484
I've engaged the appropriate team. This may take a while. The plan is to get this confirmed by the S3 team, find out why it's missing (it could just be a mistake), and if that's the case, get it included into an SDK release for all the languages.

[2021-02-26 23:43] phene opened #2486 "Specifying region `fips-aws-global` does not provide a fips endpoint."
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers
- [x] I've searched for [previous similar issu

[2021-02-28 18:19] priv-kweihmann opened #2487 "Ship LICENSE file with gem"
https://github.com/aws/aws-sdk-ruby/blob/master/LICENSE.txt should be shipped with the gem, otherwise it's impossible to have the gem properly used with compliance tooling.
Which makes it harder to use it in a corporate environment - this gem is just picked as an example - the missing LICENSE file applies to **all** aws gems provided via rubygems.org

[2021-02-28 18:53] prithvin commented on #1391
@jclusso  what was the solution?

[2021-02-28 21:25] jclusso commented on #1391
@prithvin I manually added the parameter to the URL before I sign it. If you can’t figure it out when I’m on the computer I can send the code I used to do it. I believe I used the URI library to add it IIRC.

[2021-02-28 21:31] prithvin commented on #1391
thanks @jclusso ,  yep the problem i was having (this is the working code snippet is in javascript for future ref) is that we  **have** to replace URL reserved characters with their UTF-8 encoding

[code]

[2021-03-01 17:29] mullermp commented on #2487
Thanks for pointing this out. I will take a look at supporting this.

[2021-03-01 17:57] mullermp commented on #2487
Hey, thanks for opening an issue. In all of the gemspec files, there should be a [license= attribute](https://github.com/aws/aws-sdk-ruby/blob/master/build_tools/aws-sdk-code-generator/templates/gemspec.mustache#L14) that is already set to `Apache-2.0`. Does your company's corporate environment/compliance tooling look at this field? Within Amazon's internal build system for example, we have toolin

[2021-03-01 18:05] mullermp commented on #2486
Thanks for opening this issue. I will take a look at this. I will also say that SDK teams are currently in talks about FIPS and what it means for features such as S3 access points. The whole situation is not ideal because they're not modeled very well (they're still referred to as "pseudo regions") and they also are inconsistently modeled ("fips" is a prefix AND a suffix in some cases).

[2021-03-01 18:10] priv-kweihmann commented on #2487
@mullermp you're right about the fallback use of the license meta data field - still one can't verify the exact terms and conditions as the license text isn't available. INAL but my understanding of the Apache license is that the terms and conditions should be shipped along the source distribution (which is by nature the case with ruby).
On the other side I totally get the pain point here, shippin

[2021-03-01 18:47] mullermp commented on #2487
You are right that the license should be shipped with the gem; I interpret "should" as if it were in an RFC, where it's recommended but not required. If I had to choose between a SPDX comment on each code generated file vs including a LICENSE.txt file with each gem, I would choose the latter because it would be less intrusive to not have to update code generation for 4000+ files. I will prepare a

[2021-03-01 18:50] priv-kweihmann commented on #2487
@mullermp thanks

[2021-03-01 19:11] mullermp commented on #2486
Yes. I am not critiquing your method, just pointing it out as a pain point on our side.

[2021-03-01 21:29] mullermp commented on #2486
Also for reference, there's a public doc with all of the endpoints - https://aws.amazon.com/compliance/fips/

[2021-03-01 22:54] mullermp commented on #2486
So, I started diving into this issue and unfortunately it's much bigger than just the Ruby SDK. I checked around with some of the other SDKs (PHP, JS v2, Go v1/v2, etc) and they have the same correct, but broken, behavior.

We have some internal documentation for how SDKs should be resolving endpoints from regions. Ruby SDK region resolution follows it almost exactly. Specifically there's a line t

[2021-03-01 23:51] mullermp commented on #2486
I've created a PR https://github.com/aws/aws-sdk-ruby/pull/2489 with a proposed change - I want to get it "ratified" by the other language SDK teams first.

Regarding your feature request about FIPS detection, I think it it something we can honor. I'm sure you are aware, but the FIPS regions are not included in the partition's region list. Your method seems correct.

[2021-03-03 22:20] #2487 closed

[2021-03-04 22:32] mullermp commented on #2486
This should be released tomorrow. I've created a backlog item for each SDK to audit their behavior and push a similar fix.

[2021-03-05 20:20] mullermp commented on #2484
I'm working with S3 and the documentation writers to prepare a release for this, targeting next week.

[2021-03-07 00:02] #2481 closed

[2021-03-10 20:13] mullermp commented on #2484
This has been added: https://github.com/aws/aws-sdk-ruby/blob/0465bfacbf87e6bc78c38191961ed860413d85cd/apis/s3/2006-03-01/api-2.json#L1266

[2021-03-10 20:13] #2484 closed

[2021-03-11 00:02] #2482 closed

[2021-03-12 14:38] msedlmairHH commented on #1391
Hey @jclusso would you be kind and share your code with me or the rest? I'm stuck with this. I'm getting signature mismatch with signed urls and response-content-disposition

Thank you very much.

[2021-03-12 18:17] jclusso commented on #1391
@msedlmairHH

Here is how I'm doing it

[code]

[2021-03-22 17:43] mullermp commented on #2486
Re-opening as a feature request for determining if a FIPS endpoint is available. This falls under the larger problem of modeling FIPS..

[2021-03-22 17:49] phene commented on #2486
I'm happy to open that up as a new issue. I can provide some specific requirements that would make working with fips regions easier.

[2021-03-22 17:50] mullermp commented on #1912
I'm not sure how relevant this feature request still is. It definitely dropped off our radar. But I think this would be easy to add.

The definition would be:

[code]

[2021-03-22 18:00] phene opened #2496 "FIPS Regions Should Be Easier to Find and Use"
Today, each service may or may not have a FIPS endpoint, and specifying the pseudo-region for that FIPS endpoint is not easy or straight-forward.

For example, if I want to use the FIPS endpoint for CloudFormation in us-west-2, I would need to specify the `us-west-2-fips` region. For EBS in the same region, I would need to specify `fips-us-west-2`. All of the necessary information is in aws-partit

[2021-03-22 18:06] mullermp commented on #2486
That's even better. Thank you.

[2021-03-22 18:06] #2486 closed

[2021-03-23 16:01] DrSayre opened #2497 "Some emails cannot receive an email through ActionMailer using delivery_method amazon_ses"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers

**Descr

[2021-03-23 17:29] alextwoods commented on #2497
Yeah - thats a bit weird - to me this looks like its likely `ActionMailer` behavior.  What makes the email "bad" in these cases?  Is there a difference in content or send address that could be causing some part of ActionMailer to fail?

Its interesting that the `message-id` on the failed send has `@localhost.mail` - is it possible you're setting `delivery_options` or `delivery_method` in the Maile

[2021-03-24 02:05] DrSayre commented on #2497
Not sure what makes the email bad.  From what I can tell from AWS Support there is nothing preventing sending to the email.  They could not find it in the logs where we attempt to send and could actually send to the email calling using `send_raw_email` directly.  Did try another mailer and got the same issue.

Only using amazon_ses for delivery_method.  For example, if I call delivery_method on th

[2021-03-24 16:26] mullermp commented on #2497
Are you using `aws-sdk-rails`? Should this issue belong in https://github.com/aws/aws-sdk-rails?

That namespace, `AWS::SimpleEmailService` is part of Ruby SDK v1 and is deprecated and not guaranteed to work: https://docs.aws.amazon.com/sdk-for-ruby/v1/api/AWS/SimpleEmailService.html

[2021-03-25 19:18] sybohy opened #2498 "Aws::Sigv4::Signer presign_url expires_in option not supported for SQS url presigning?"
We're pre-signing URL's for a resource to poll a specific SQS queue. The `expires_at` option does not seem to be respected for SQS.

We tried setting the `expires_in` to 1 day, 10 seconds, 5 days...etc. Each time, the URL is issued correctly but only lasts for 15 mins (the default).

## Signer

Upon inspecting the AWS-sigv4 lib, the `presign_url` appears to be doing the right thing when looking at

[2021-03-25 21:27] alextwoods commented on #2498
Just want to confirm a few things - I don't believe the `SendMessage` Action should be used for polling (I believe it would be `Action=ReceiveMessage`.

How are you constructing the url?  I was able to create a presigned url with: `https://sqs.<region>.amazonaws.com/<id>/<name>?Action=ReceiveMessage`.

Can you also confirm that in the generated url that `X-Amz-Date` and `X-Amz-Expires` are set cor

[2021-03-25 21:50] alextwoods commented on #2498
I was able to reproduce this issue locally and confirmed that `X-Amz-Date` and `X-Amz-Expires` were set correctly, but that the `X-Amz-Expires` value was ignored by the service.  I'm contacting the SQS team to see if this is a bug on their end or something they don't support.

[2021-03-26 08:40] skolsuper commented on #2012
Did you find a resolution to this?  I think I have a similar bug, when searching for a prefix that does not exist I get pages and pages of empty arrays and then a rate limit exceeded error

[2021-03-26 16:37] mullermp commented on #2012
I believe this to be intended, so that a response can be given to the client quickly. You can use the `.next_page` method to get the next API response using the next token. The SDK should provide appropriate backoff and a retry mechanism.

I dug up a section of the AWS API Standards in our internal documentation with regards to latency:

[2021-03-27 03:22] sybohy commented on #2498
@alextwoods I apologize for the typo; I meant for my bug report to be about `Action=ReceiveMessage` and not `SendMessage` as I originally indicated. To be clear, I did do all the testing/bug-hunting with `Action=ReceiveMessage`. Looking forward to hearing back from the SQS team.

[2021-03-27 05:22] skolsuper commented on #2012
Hi @mullermp, thanks for the quick response.  Sounds reasonable about the API but it does seem a bit overkill for parameter store which is limited to 10k parameters total IIRC.  I've opened a support request because this has caused our deployment process to change from taking ~4mins to >30mins every time, starting in the last week.  But anyway this is not an SDK issue so I only mention it to share

[2021-03-29 16:09] mullermp commented on #2012
Are you configuring a particular retry strategy? Here is the [related code and options](https://github.com/aws/aws-sdk-ruby/blob/e3bd3f3be4d318351a7db3e6539c181f66e701e9/gems/aws-sdk-core/lib/aws-sdk-core/plugins/retry_errors.rb#L40-L154).

What is the exact error you are seeing? Is it really called `RateLimitExceeded`? I don't see that in the [SSM API](https://github.com/aws/aws-sdk-ruby/blob/ver

[2021-03-30 02:29] cforcey commented on #1915
Just a quick note on this old issue that this comment on the [.NET SDK](https://github.com/aws/aws-sdk-net/issues/1296#issuecomment-494998477) covers the issue of partial rows.   We handled it in ruby
by just buffering the segments until we got a \n:

[code]

In most cases, the \n is there and the join is a noop and life goes on.  When a partial row arrived, we fetch another until we get a return.

[2021-03-30 03:40] skolsuper commented on #2012
Apologies for being imprecise, the exact error thrown is a `Aws::SSM::Errors::ThrottlingException`.

I did not configure retry strategy at all.  The problem here is not so much that the call is failing, but that it's succeeding so much more slowly.  AWS support has recommended we pay for increased throughput, which is OK I guess, but it sucks a bit to have to pay for all these empty pages that wer

[2021-03-30 17:36] mullermp commented on #2012
I personally don't think it's fair for you to pay for more throughput on empty pages. I would push on the support team for the service team to investigate the issue.

[2021-03-30 18:14] itghlu opened #2502 "Aws::S3::Client#copy_object raises Aws::Xml::Parser::ParsingError"
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers
- [x] I've searched for [previous similar issu

[2021-03-30 19:06] alextwoods commented on #2498
I'm still speaking with the SQS team, but It looks like the service itself likely doesn't support the `X-Amz-Expires` header (ie, `expires_in`).

A few possible workarounds:
1. Generate the presigned url within 15 minutes of when it will be used.
2. Front this with a simple API Gateway/Lambda that just `receive_messages` and returns the results. This would give you an always available url (though

[2021-03-30 21:50] alextwoods commented on #2502
I'm looking into this now - trying to get a reproduction but haven't been able to yet.

One workaround is to switch the XML engine you are using - some of them are more forgiving than others. Based on the stacktrace, it looks like you have nokogiri loaded. If you add ox to your Gemfile, the AWS SDK will pick it up and use ox as the engine and it is a bit more forgiving and is able to parse the xml

[2021-03-30 22:46] alextwoods commented on #2502
Is there any chance these bad requests were retries?  You should be able to see something like:
`[Aws::S3::Client 200 0.572954 1 retries] ` in the logs.

[2021-03-30 23:36] itghlu commented on #2502
From one of the recent script runs with the exception, there were no retry logs for `copy_object` requests.

One thing that was noted previously though, is that client debug logs like `[Aws::S3::Client 200 0.572954 1 retries]` are not logged for requests with the malformed XML. Only the `http_wire_trace` logs are available for them.

[2021-03-31 04:13] skolsuper commented on #2012
Thanks @mullermp, I did this and the support team requested more info so they could investigate. While getting that info for them, I found I will have to eat my words.  The slowdown was due to another issue with our code slightly downstream of this, the empty pages have probably been there all along.  Thanks so much for your help on this issue anyway, sorry to waste your time 🙏

[2021-03-31 07:04] tchukuchuk opened #2503 "Create zip archives using AWS Lambda with files from S3"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers

**Descr

[2021-03-31 14:47] kellyfelkins commented on #1915
@cforcey thank you. This seems like a good solution. We went a different path and haven't revisited this but might in the future. Thank you.

[2021-03-31 16:46] itghlu commented on #2502
`ox` was able to parse the malformed XML as suggested. All logging was available since there were no errors. Some extra notes:
- The `Aws::S3::Client 200...` logs showed 0 retries for responses with the malformed XML.
- About 3M S3 objects were copied in the last test, and only 55 responses were bad so this seems like a rare occurrence.
- Nothing was obviously abnormal about the bad responses. Res

[2021-03-31 16:56] alextwoods commented on #2502
Thanks for the extra details - that helps!  Glad `ox` was at least able to parse the malformed XML.

I'll follow up with S3 on this, but I believe this may be an edge case behavior on their end.

[2021-03-31 17:24] alextwoods commented on #2503
I believe the fundamental issue here is that the `IO.pipe` used by the SDK to stream uploads does not allow seek, but it looks like `Zip::OutputStream.write_buffer` needs to be able to seek within its stream.

I believe you may need to use a different Zip library - it looks like `zip_trick` may support what's needed here: https://github.com/WeTransfer/zip_tricks

[2021-04-01 00:02] #2497 closed, assigned to nobody

[2021-04-01 22:50] tylercallahan opened #2504 "Aws::S3::Errors::SlowDown after upgrading aws-sdk-s3 to 1.92.0"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-04-02 16:37] mullermp commented on #2504
Hey. Thanks for opening an issue. `Aws::S3::Errors::SlowDown` is certainly a service side issue. `aws-sdk-s3` version 1.92.0 included changes that support S3 object lambdas. Are you by chance using an ARN as input to the bucket parameter? Are you also configuring a retry mode?

[2021-04-02 20:16] dbelling opened #2505 "Higher default multipart threshold for S3 uploads"
**Is your feature request related to a problem? Please describe.**

I recently went through a frustrating exercise with an, arguably dated [`1.8.0`](https://rubygems.org/gems/aws-sdk/versions/1.8.0), version of the sdk involving the [`upload_file`](https://github.com/aws/aws-sdk-ruby/blob/a82c8981c95a8296ffb6269c3c06a4f551d87f7d/gems/aws-sdk-s3/spec/object/upload_file_spec.rb) function. This parti

[2021-04-02 20:23] tylercallahan commented on #2504
Thanks Matt. We aren't using an ARN or a retry mode (or the S3 Object Lambda feature). (I did see a `retry_limit` parameter in the logs set to 3, but per the docs [here](https://docs.aws.amazon.com/sdk-for-ruby/v2/api/Aws/S3/Client.html) I think that's just the default.)

Let us know if you think of anything else we can check, and otherwise we'll update here if we find anything.

[2021-04-02 21:17] mullermp commented on #2505
Hey. Thanks for opening an issue. I would be open to changing the default and generally encourage it. However I think this could break a large number of unit tests for depending packages.. We would really need to consider the implications of that.

[2021-04-02 21:26] mullermp commented on #2504
Thanks for getting back to us. If you aren't using an ARN for input, then, in theory, there shouldn't have been a change in `aws-sdk-s3` that would cause this issue. Are you sure that rolling back to the previous gem version really changed anything? More specifically, have you isolated the change and rollback to just the S3 gem upgrade and not any other changes to your application? The only differ

[2021-04-03 00:01] dbelling commented on #2505
Understood. Is there any documentation regarding semantic versioning the sub packages of the sdk to make this change in the most conservative way possible?

[2021-04-05 15:44] alextwoods commented on #2498
I've confirmed that SQS doesn't support presigned url parameters including `expires`.  I've left it as a feature request to them, but for now you'll need to use one of the other workarounds.

[2021-04-05 15:44] #2498 closed, assigned to nobody

[2021-04-05 21:22] dbelling commented on #2505
I took a stab at this in [#2506](https://github.com/aws/aws-sdk-ruby/pull/2506) - from what I could tell, the `aws-sdk-s3control` and `aws-sdk-s3outposts` packages were the only libraries that I could find which have a dependency on the core functionality in `aws-sdk-s3`. These test suites (along with the core test suite) appear to be passing now.

Please let me know if there's anything else I sho

[2021-04-07 17:12] alextwoods commented on #2505
The individual service gems follow standard semantic versioning - breaking changes would require a major version upgrade, which we in general would only do w/ a new version of the SDK.

I think the possible risk in changing the default here is that many non-AWS packages depend on this functionality, and this change to default behavior may break their tests (or actual behavior) and we don't have co

[2021-04-07 18:48] dbelling commented on #2505
@alextwoods - thanks for the clarity and update!

[2021-04-08 18:25] mockdeep commented on #2504
Okay, I guess this can probably be closed. We contacted support and they weren't able to provide a lot of information either. They did ask for a request id, which doesn't appear to be in our logs anywhere. If we configure a `logger` will that display the request id for us? Or is there another way we can get at it when an error happens?

[2021-04-08 18:57] mullermp commented on #2504
For an S3 call, I think the best way to access the request ID is to do `resp.context.http_response.headers['x-amz-request-id']` where `resp = s3.list_buckets` or some other operation. You can configure a log formatter pattern with `http_response_headers` if you wanted to log it automatically. In whatever logger you are using, you might be better off logging the request ID at the debug level.

I'll

[2021-04-08 18:57] #2504 closed, assigned to nobody

[2021-04-12 16:10] #2503 closed, assigned to nobody

[2021-04-12 16:49] #2505 closed, assigned to nobody

[2021-04-13 02:18] Haresaku opened #2508 "validation Error detected by using Aws::S3::Client#write_get_object_response"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-04-13 16:00] mullermp commented on #2508
I'm taking a look at this. I am guessing that S3 does not like the empty content-type and accept-encoding headers used by the Ruby SDK..

[2021-04-13 18:16] mullermp commented on #2508
As expected, S3 Object Lambdas is validating that the Metadata has values of at least length 1. Content-Type and Accept-Encoding are of length 0. The Ruby SDK does this because Net::HTTP sets some default values that do not work well with AWS services. I'm working with S3 to relax this validation to accommodate for Ruby SDK's legacy code. I am also investigating ways to remove that legacy code in

[2021-04-20 20:00] VitalyTarasiu commented on #824
We are in 2021, any updates?

[2021-04-20 20:44] jcavalieri commented on #2473
I'm getting this with active storage. And I definitely have region set: `  region: us-east-1`

[2021-04-21 13:16] JacobJohansen opened #2509 "Does the ruby sqsClient have the equivalent of javas connectionTTL"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html) : Couldn't find equivalent
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk

[2021-04-21 15:30] alextwoods commented on #2509
I'm not familiar with exactly what Java's connectionTTL does, but ruby supports 3 http parameters you may be able to tweak: `http_open_timeout`(default 15), `http_idle_timeout`(5), and `http_read_timeout` (60), see the [Client#Initialize](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/SQS/Client.html#initialize-instance_method) documentation for details.

[2021-04-21 18:17] jcavalieri commented on #2473
I think I may have solved this. At least on my case. I had changed the service name in storage.yml. Turns out you just can't do that because the blobs record the service name used in `storage.yml`.

So I had to update the `service_name` column for all blob records.

I hope this helps anyone else.

[2021-04-22 12:51] JacobJohansen commented on #2509
it give the connection in the client http pool a max time to live; so even if its not idle, it will reap the connection and put a new one in the pool giving it fresh connection metadata (potentially sticky session to an sqs nodes)

[2021-04-22 15:30] lphm opened #2510 "Error "multipart upload failed: File too large - sendfile""
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-04-22 15:44] alextwoods commented on #2509
Try setting the `:http_idle_timeout`, it's used in the [connection pool](https://github.com/aws/aws-sdk-ruby/blob/version-3/gems/aws-sdk-core/lib/seahorse/client/net_http/connection_pool.rb#L284) to set Net::Https `keep_alive_timeout` on the connections.

[2021-04-22 16:59] mullermp commented on #2510
Thanks for opening the issue. I think this may be an issue with ActiveStorage and not the SDK. I was not able to reproduce this by only using the SDK functionality. I did the following:

Created a 2G test file with `mkfile 2G 2g_file`. When using the upload stream, I used [similar code to ActiveStorage](https://github.com/rails/rails/blob/e56a5146cf176ed752008dbbeb2cba7d43d9b333/activestorage/lib/

[2021-04-22 17:16] lphm commented on #2510
Same error :
Aws::S3::MultipartUploadError: multipart upload failed: File too large - sendfile
/home/test/vendor/bundle/ruby/2.7.0/gems/aws-sdk-s3-1.93.1/lib/aws-sdk-s3/multipart_stream_uploader.rb:94:in `abort_upload'
/home/test/vendor/bundle/ruby/2.7.0/gems/aws-sdk-s3-1.93.1/lib/aws-sdk-s3/multipart_stream_uploader.rb:83:in `upload_parts'
/home/test/vendor/bundle/ruby/2.7.0/gems/aws-sdk-s3-1.93.

[2021-04-22 17:46] mullermp commented on #2510
That's strange. If multipart_threshold is > 2G then it shouldn't be attempting to multipart upload. Is your top level key "remote_backups_amazon" working with ActiveStorage as expected? The [docs expect :amazon](https://edgeguides.rubyonrails.org/active_storage_overview.html) but it may only need to match `config.active_storage.service`. From the SDK perspective, everything is working as intended.

[2021-04-22 20:14] lphm commented on #2510
Ok, I have made many tests and it works nicely when size of file < 5G. But when file is > 5G, single upload cannot be made and "Aws::S3::MultipartUploadError: multipart upload failed: File too large - sendfile" is raised.
I don't understand why this error appears...

[2021-04-22 21:16] mullermp commented on #2510
Just to clarify: a 2GB file is working for you now, and you're having difficulty uploading a >5GB file?

[2021-04-22 22:00] JacobJohansen commented on #2509
Sorry, i was just looking through the code you pointed me to, that will still leave the session in the pool

I believe the [Session](https://github.com/aws/aws-sdk-ruby/blob/a82c8981c95a8296ffb6269c3c06a4f551d87f7d/gems/aws-sdk-core/lib/seahorse/client/net_http/connection_pool.rb#L321) would need a new attribute extension `attr_reader :created_at` and initialized at initialization

a new option in

[2021-04-23 20:37] mullermp commented on #2510
That error is strange. Using the SDK (and the code above, similar to what ActiveStorage is doing) I was able to successfully upload a 6G file. If you're still having trouble, perhaps raise an issue in the Rails github repo?

[2021-04-23 20:42] alextwoods commented on #2509
Ah I see, so you're looking to reap active, but older connections?

What code are you using to poll SQS?

[2021-04-25 10:38] josegomezr opened #2511 "Support for S3:UploadPart presigned URL"
**Is your feature request related to a problem? Please describe.**
I'm trying to implement multipart uploads on rails using direct storage. However I've found it very difficult to sign the `S3:UploadPart` URL endpoints. I can get `S3:PutObject` signed urls, but if I try the same method aka:

[code]

**Describe the solution you'd like**
Can the `S3::Object` class expose `Aws::S3::Presigner#presigne

[2021-04-25 19:16] lphm commented on #2510
I don't understand problem. I create a rake test as below :
[code]

Same error :
Aws::S3::MultipartUploadError: multipart upload failed: File too large - sendfile
/home/test/vendor/bundle/ruby/2.7.0/gems/aws-sdk-s3-1.93.1/lib/aws-sdk-s3/multipart_stream_uploader.rb:94:in `abort_upload'
/home/test/vendor/bundle/ruby/2.7.0/gems/aws-sdk-s3-1.93.1/lib/aws-sdk-s3/multipart_stream_uploader.rb:83:in `upl

[2021-04-25 19:23] lphm commented on #2510
I think it is not link to a Rails/ActiveStorage problem. Maybe a missing / malform configuration on my S3 bucket ?

[2021-04-26 16:31] JacobJohansen commented on #2509
its a logstash pluggin that currently stops pulling messages from time to time

[2021-04-26 17:01] mullermp commented on #2510
That's strange. You might be right. Try creating a new bucket with default settings. Maybe also try a different file? I used the `mkfile` command to generate a dummy file - but I was not able to reproduce what's going on.

[2021-04-26 17:10] mullermp commented on #2511
Thanks for opening an issue. The Resource models contain many issues and aren't really maintained much - There are many, many instances of monkey patching for S3 resource models in the SDK. We're open to pull requests. However, you should be able to do this easily by constructing a `Presigner` object directly and avoiding resource models entirely (recommended).

[code]

[2021-04-26 17:39] josegomezr commented on #2511
I'll follow your advice!

Thanks for the reply!

[2021-04-26 17:52] mullermp commented on #2511
No problem. Please re-open if there is concern or if you wish to open a PR.

[2021-04-26 17:52] #2511 closed, assigned to nobody

[2021-04-26 18:13] josegomezr commented on #2511
I've made a small PR for this case, thought it was gonna be more complicated 😅

[2021-04-26 19:05] lphm commented on #2510
Same error. I created bucket in new region, different file made with another tool, etc.
Does multipart upload requires permissions on Amazon S3 instance ?

[2021-04-26 19:38] lphm commented on #2510
It works perfectly with AWS Cli...

[2021-04-26 20:05] alextwoods commented on #2509
Adding `http_connection_ttl` may make sense - I'd like to spend a little more time considering and understanding what other SDKs do here as well.

In the meantime, does setting `http_idle_timeout` to `0` potentially address your issue?

[2021-04-26 20:29] JacobJohansen commented on #2509
well the connections are always polling, its just that they keep going to servers with no data on them currently... I believe it has something to do with a node migration behind the scenes.

the client is also ran from a project that has a very low deployment frequency.

[2021-04-26 21:12] alextwoods commented on #2509
I believe setting `http_idle_timeout` to `0` should still address that (though it effectively disables the connection pool) - connections will not be re-used at all.

[2021-04-26 21:21] mullermp commented on #2510
Could you enable `http_wire_trace: true` in the client to see if "File too large - sendfile" is returned by S3?

[2021-04-26 21:22] mullermp commented on #2510
I'm not able to reproduce this, I don't know why, either. It works just fine for me.

[2021-04-27 07:44] lphm commented on #2510
I enable `http_wire_trace` and error is throw after "DELETE" call, maybe when file is transfered ?! I don't understand why a DELETE command is sent.

<- "DELETE /large-file?uploadId=zaqUkmzX49dupiujDwPe_hWrRQWx3s91r4g_pFsMs13Y_uDExab1hG.2GWZ4gS0jdnsbBPhFc_h5WGhiIgkNuj6u3mAsH0MlihMOlxB57skKWx5Cl27ejU5JVHhzpTFq HTTP/1.1\r\nContent-Type: \r\nAccept-Encoding: \r\nUser-Agent: aws-sdk-ruby3/3.114.0 ruby

[2021-04-27 17:13] mullermp commented on #2510
The `DELETE` call is from `abort_multipart_upload` which is expected and called right before raising the error: https://github.com/aws/aws-sdk-ruby/blob/882aa1033c79bc9506b3da9631a55e16a0ab6ce5/gems/aws-sdk-s3/lib/aws-sdk-s3/multipart_stream_uploader.rb#L88-L94 At this point, there was already an issue uploading a part.

The `abort_upload` method is called when `errors` array is not empty. That er

[2021-04-27 17:30] lphm commented on #2510
No change if I pass on 10MB part size. Attached details log with 5MB part size and 2G file
[aws_log.txt](https://github.com/aws/aws-sdk-ruby/files/6386469/aws_log.txt)

[2021-04-27 17:40] mullermp commented on #2510
This is a very weird edge case. I don't see any failures in the log file. Maybe threading is an issue? Could you also try changing the thread count to 1?

[2021-04-27 17:47] mullermp commented on #2510
This may be a long shot, but are you using IO anywhere in your app? `sendfile` is a system command. Perhaps IO needs to be flushed somewhere somehow?

[2021-04-27 18:23] lphm commented on #2510
My test code is just a rake test, so no.

My test code is just a rake task, so no :

desc "test big file"
  task test: :environment do

    o = Aws::S3::Object.new(
      bucket_name: 'sociatex-remote-backup',
      key: 'large-file',
      region: 'eu-west-3',
      access_key_id: Rails.application.credentials.dig(:aws, :access_key_id),
      secret_access_key: Rails.application.credentials.dig(:

[2021-04-27 18:24] lphm commented on #2510
My test code is just a rake task, so no :

desc "test big file"
  task test: :environment do

    o = Aws::S3::Object.new(
      bucket_name: 'test-remote-backup',
      key: 'large-file',
      region: 'eu-west-3',
      access_key_id: Rails.application.credentials.dig(:aws, :access_key_id),
      secret_access_key: Rails.application.credentials.dig(:aws, :secret_access_key),
      http_wire_trac

[2021-04-27 18:25] lphm commented on #2510
No changes...
Is it as :
   .... o.upload_stream(part_size: part_size, thread_count: 1) do |out| ....

[2021-04-27 19:17] mullermp commented on #2510
I think the issue is in [`copy_stream`](https://ruby-doc.org/core-2.6.3/IO.html#method-c-copy_stream) which uses `sendfile`. It states "Specialized mechanisms, such as sendfile system call, may be used on appropriate situation." Rails will use copy_stream for multipart uploads, which we are recreating here in your rake task.

[2021-04-27 19:23] mullermp commented on #2510
I think we're approaching Ruby stdlib territory here. The [man page for sendfile](https://man7.org/linux/man-pages/man2/sendfile.2.html) suggests that maybe the error is `EOVERFLOW`

[2021-04-27 19:26] mullermp commented on #2510
This is probably wacky, but have you tried using a different host?

[2021-04-27 19:42] lphm commented on #2510
No, I can't, too complicated for me. And on my development host, I'm behing on a slow Internet connection.
Maybe you think the problem is on Ruby stdlib ?

[2021-04-27 20:02] lphm commented on #2510
I test with another S3 like service (IBM cloud storage) and I have same error for big files.
Aws::S3::MultipartUploadError: multipart upload failed: File too large - sendfile

[2021-04-27 20:49] mullermp commented on #2510
Yeah. I think the usage of `copy_stream` is the problem for you. Both myself and a co-worker cannot reproduce your issue. I am thinking it might be OS/host related because it is failing on what appears to be the `sendfile` system call. Rails is using `copy_stream` for multipart uploads, so there is no avoiding it. I am willing to bet that if you try using the normal `upload_file` command, it will

[2021-04-30 22:59] mullermp commented on #2510
Just checking in, were you able to diagnose this? I am sorry that we couldn't find the root cause, but I don't believe this to be an SDK issue, it appears to be Ruby's (and then Rails) use of `copy_stream` (sendfile) on your machine.

[2021-04-30 23:01] mullermp commented on #2508
In `us-east-1` I was able to confirm that this works without a plugin. Other regions should eventually have the fix.

[2021-04-30 23:01] #2508 closed, assigned to nobody

[2021-04-30 23:04] mullermp commented on #2502
S3 is aware of this, closing. Please re-open if there is any concern.

[2021-04-30 23:04] #2502 closed, assigned to nobody

[2021-05-03 06:33] lphm commented on #2510
Sorry for response delay. I have made another test with IBM cloud storage and all is right : no error appears with multipart_threshold: <%= 1000.megabytes %>. I think Amazon has a limitation...

[2021-05-03 16:35] mullermp commented on #2510
There are limitations to multipart upload, documented here: https://docs.aws.amazon.com/AmazonS3/latest/userguide/qfacts.html but none of these apply in this case..

[2021-05-03 16:36] mullermp commented on #2510
Did you try the `upload_file` method above?

[2021-05-04 18:44] grncdr opened #2514 "[dynamodb] occasionally undefined credentials in EndpointCache"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)

- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk

[2021-05-04 21:20] mullermp commented on #2514
Is "dynamo_singleton" working as expected? It seems that you are using ECS/EC2 to fetch your credentials, and if this happens enough times rapidly, IMDS will throttle requests and the client will not have any credentials set.

[2021-05-05 09:05] grncdr commented on #2514
I *thought* it was, added some logging code, and determined that it wasn't actually being used 🤦

Thanks for the pointer to look closer!

[2021-05-05 09:05] #2514 closed, assigned to nobody

[2021-05-05 10:16] prat23k opened #2516 "FATAL: Seahorse::Client::NetworkingError: execution expired - aws sdk secrets manager"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ ] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-05-05 14:54] lphm commented on #2510
no I did'nt try this. But I switch finally to IBM CS. So ticket can be closed for me.

[2021-05-05 14:54] #2510 closed, assigned to nobody

[2021-05-05 15:41] mullermp commented on #2516
Thanks for opening an issue. Can you try passing `http_wire_trace: true` option to your Client and share the network logs?

[2021-05-10 01:50] nkuroda opened #2519 "`require_https_for_sse_cpk` option does not work"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-05-10 14:43] #2519 closed, assigned to nobody

[2021-05-10 15:54] mullermp commented on #2519
Is there still an issue? I see you closed this.

[2021-05-11 00:01] #2509 closed, assigned to nobody

[2021-05-15 16:10] flah00 opened #2522 "iam list_user_tags"
I am unable to successfully iterate over user tags, when using max_items

## Successful call

I see all of the tags associated with my user (in my case it's 4)

`iam.list_user_tags(user_name: 'u').tags.count == 4`

## Unexpected results

When I try using the enumerator I only get one user back. Using this same idiom with list_users works as expected.

`iam.list_user_tags(max_items: 1, user_name: '

[2021-05-17 17:16] mullermp commented on #2522
Hey there, I'm not sure exactly what issue you are having. `max_items` will give you 1 tag. `iam.list_user_tags(max_items: 1, user_name: 'u').map{|r| r.tags}.flatten.count` should give you 1 tag, not 4.

I am also not sure why you are mapping the tags to a new array and then flattening it. `iam.list_user_tags(user_name: 'u').tags` should give you a list of Tag structures.

[2021-05-17 18:11] flah00 commented on #2522
My intention is to simulate paging, by controlling `max_items`. My understanding is that using an `Enumerator` on a response allows code to read all paginated data. So, when I `map` a response from `list_user_tags`, I should be retrieving all available data, not just 1 tag.

A paginated response would return a 2 dimensional array. I am flattening the results because I don't care about the dimensio

[2021-05-18 16:37] mullermp commented on #2522
Interesting.. I think that `list_user_tags` is working as expected but `list_users` is not. Enumerable responses have [redefined unsafe methods](https://github.com/aws/aws-sdk-ruby/blob/version-3/gems/aws-sdk-core/lib/aws-sdk-core/pageable_response.rb#L144) such as `count` so that it only counts the data returned, it prevents N API calls. If you enable `http_wire_trace: true` in your Client, I wou

[2021-05-18 16:51] mullermp commented on #2522
I agree something fishy is going on here. I'm taking a closer look.

[2021-05-18 17:07] mullermp commented on #2522
I think I see the problem. `resp = list_user_tags(max_items: 1)` will return a response with `is_truncated=true` but `resp.next_page?` returns false. For `list_users`, `resp.next_page?` correctly returns true, so pagination works as expected.

[2021-05-18 17:23] mullermp commented on #2522
aaaaand here's the problem. `list_user_tags` is not modeled as a paginated API. https://github.com/aws/aws-sdk-ruby/blob/bd0bda64c02566b313785e906b7c402896b95ffd/gems/aws-sdk-iam/lib/aws-sdk-iam/client_api.rb#L3452-L3476

This would affect all SDKs not just Ruby. I'm surprised this went unreported, then again, with `max_items` defaulting to 100, I seriously doubt there are users with over 100 tags

[2021-05-18 17:30] flah00 commented on #2522
I agree, 100+ user tags is an edge case

I'm writing a script in which I assume the admins creating crazy users ... and wanted to verify my pagination assumptions... so here we are : )

[2021-05-18 17:50] mullermp commented on #2522
The pagination change would be:
[code]

I verified that `iam.list_user_tags(user_name: user_name, max_items: '1').map.count` returns 2 tags (expected).

[2021-05-18 18:09] mullermp commented on #2522
To fix this, IAM needs to do a service release. It may take a while to round up the service team to prepare that. I've drafted a code review internally. In the mean time, it's probably best not to use `max_items` of 1..

[2021-05-18 20:32] flah00 commented on #2522
👍

agreed, max_items 1 was only for testing, my script lets default max_items do its thing

[2021-05-18 21:55] mullermp commented on #2522
I've gotten the changes merged upstream and a release is staged for tomorrow.

[2021-05-19 16:36] 0xGuybrush opened #2524 "ECS client's run_task not correctly using ephemeral_storage property"
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers — I've [just raised a Question on Stack Overfl

[2021-05-19 18:38] mullermp commented on #2522
https://github.com/aws/aws-sdk-ruby/blob/9abf2be62392139e4442e8d52b317529a78e93be/gems/aws-sdk-iam/lib/aws-sdk-iam/client_api.rb#L3460-L3466

[2021-05-19 18:38] #2522 closed, assigned to nobody

[2021-05-19 18:38] mullermp commented on #2522
It should work now. Re-open if there's still concern.

[2021-05-20 20:19] jhundley9109 opened #2525 "Issue updating gem aws-partitions on Ubuntu 18.04"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ ] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-05-20 20:34] mullermp commented on #2525
This is a strange error. On my machine (MacOS) `gem update` runs just fine. Is this problem actually limited to "aws-partitions" or is it because it happens to be the first gem to be updated? Perhaps try updating your rubygems version to the latest 3.2.17.

[2021-05-20 23:09] ajredniwja commented on #2524
Reached out to the ECS team for them to investigate this, will update once I hear back from them.

[2021-05-21 10:37] 0xGuybrush commented on #2524
Brilliant, thanks very much Ajwinder!

[2021-05-21 14:00] jhundley9109 commented on #2525
Thank you for the feedback, as I dig into this a little deeper it does appear to be a general error with ruby gems being able to update, it just so happened this gem was the first in the list to attempt to be updated. I'll have to figure out what broke the ruby installation here.

Thanks!

[2021-05-21 14:00] #2525 closed, assigned to nobody

[2021-06-01 21:32] aymenbuu commented on #824
^ @VitalyTarasiu  I can second this. We are in 2021.

Still waiting for this feature to drop :(

[2021-06-02 17:53] mullermp commented on #2496
I haven't forgotten about this. I just wanted to give you an update. There's an on-going discussion about FIPS and how modeled endpoints should not have pseudo regions such as "fips-region". They should have never been introduced the way they currently are, and the problem is multiplied across all SDKs.

[2021-06-02 22:17] WoLkErSs opened #2528 "content type is not set when upload files .ics"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ ] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-06-02 23:20] mullermp commented on #2528
Thanks for opening an issue. The `Content-Type` is not automatically determined for the object. When uploading the file, use the `content_type` param to set it to what you expect (`text/calendar`).

[2021-06-03 00:17] #2516 closed, assigned to nobody

[2021-06-03 05:37] WoLkErSs commented on #2528
Thanks!

[2021-06-03 15:20] #2528 closed, assigned to nobody

[2021-06-03 18:10] phene opened #2529 "Mechanism/Hook to Provide MFA Token Code For AssumeRole Authentication"
Today, providing a `token_code` for assuming a role with an MFA requirement has to be done manually during the client creation. It would be great if a mechanism could be added to the Aws config to support a way to dynamically fetch the token. Perhaps the ability to provide a lambda that gets called?

This would allow users to either invoke a library, executable, or even prompt for STDIN in order t

[2021-06-03 18:15] alextwoods commented on #2529
Can you provide an example of how your currently using the `token_code` and the resulting credentials?

I believe this is something we could support by providing some sort of callback on expiration w/ the RefreshingCredentials module potentially.

[2021-06-03 18:25] phene commented on #2529
I've actually implemented my own Credentials class which performs this refreshing behavior. It currently just prompts for the MFA token via STDIN, but I could imagine extending it to support other mechanisms for retrieving it. I would like to just rip it all out in favor of leveraging CredentialProviderChain, but I can't without proper MFA token support.

[2021-06-03 18:59] mullermp commented on #2529
Thanks for opening this! I think we could have a credential provider class that prompts for tokens (or from other sources). Did you want to contribute that back to the SDK? Unless we have a mechanism to fail fast, I don't think we can introduce prompting into the credential provider chain because it could be blocking for other applications.

[2021-06-03 19:03] phene commented on #2529
I'll consider a sample implementation, since my existing implementation would not be suitable for integration into the core SDK. I don't think the core itself should include prompting, just the hook/callback to allow users to do so.

[2021-06-03 19:21] phene commented on #2529
This is likely incomplete, but it's along the lines of what I'm thinking:

[code]

[2021-06-04 06:36] ajredniwja commented on #2524
@another-dave: Soft update: the ECS team has pushed out the changes which should be reflected soon.

[2021-06-04 08:28] 0xGuybrush commented on #2524
Hi @ajredniwja, that's great — thanks for following it up. I'll allow some time for it to take effect & check it out some time next week :+1:

[2021-06-07 18:32] jessedoyle opened #2530 "LexModelsV2: Implement Waiters"
**Is your feature request related to a problem? Please describe.**
Some Lex V2 API calls return a `bot_status` field that may be one of a number of different enumeration values (i.e. `Creating`, `Available`, etc.). See [1].

**Describe the solution you'd like**
It would be great if waiters were defined for the LexModelsV2 APIs that return a status field so that the calls may be treated in a synchr

[2021-06-07 20:24] mullermp commented on #2530
Thanks for opening a feature request. Those API definition files come from an upstream source internally. If you want to implement those waiters JSON definitions, you can share them with me here, and I can commit them upstream. You can code generate the waiters in the Ruby SDK by making a `waiters-2.json` file with the definitions, and run `rake build:aws-sdk-lexmodelsv2` in aws-sdk-ruby/ root. Th

[2021-06-07 20:25] mullermp commented on #2530
EC2 has similar waiters that work based on a status, you can use it as inspiration.

[2021-06-07 20:48] tmccombs opened #2531 "Unable to initialize client using profile that uses multiple levels of assume_role"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-06-07 20:56] jessedoyle commented on #2530
Thanks @mullermp! I'll give it a shot!

[2021-06-07 21:23] mullermp commented on #2531
Thanks for reporting this. I think this is indeed a bug. My understanding is that it should be chaining.

[2021-06-07 22:46] alextwoods commented on #2529
This looks pretty reasonable but a few general questions/comments.

Getting the `token_provider` through SharedConfig may not quite make sense - this class is primarily for getting configuration from the shared config files (ie `~/.aws/config`), but I assume we'd only be setting the token_provider as code through `Aws.config`?   Are there other ways we'd want to configure it?

I think it likely ma

[2021-06-08 11:58] ytkg opened #2534 "[aws-sdk-personalize] `Types::DescribeFilterResponse#filter` unexpected return value"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers

**Descr

[2021-06-08 16:01] alextwoods commented on #2534
Thanks for filing this - I believe this is a name conflict between the enumerable methods that get added by [PageableResponse](https://github.com/aws/aws-sdk-ruby/blob/version-3/gems/aws-sdk-core/lib/aws-sdk-core/pageable_response.rb) (which include `filter`) and the delegation we do in the [Response](https://github.com/aws/aws-sdk-ruby/blob/version-3/gems/aws-sdk-core/lib/seahorse/client/response

[2021-06-08 16:14] ytkg commented on #2534
Thanks!

[2021-06-08 20:06] alextwoods commented on #2534
Unfortunately, we aren't able to resolve this naming conflict without making a breaking change as users rely on both the delegation and the PageableResponse (Enumerable) methods that are added on all responses.  I've opened a PR to at least address the documentation for these methods: #2535

[2021-06-08 23:18] mullermp commented on #2531
To clarify some findings - this is not truly a bug, but the assume role chaining feature just seems to be missing. Other SDKs do support this behavior and we do not. The proposed set of changes for SDKs date back to 2017. I took at the look at the scope of work and it's not a simple feature to add. We will work on implementing this. In the mean time, a work around is to use only one layer source p

[2021-06-09 00:39] tmccombs commented on #2531
It seems like it is at least a bug that the error doesn't give an indication of what the actual problem is. Although I'm not sure how difficult it would be to add better diagnostics.

Unfortunately in my case, a single layer doesn't work, as the different levels are all in different accounts. I was able to sort of  work around  it by using multiple AssumeRoleCredentials.

[2021-06-09 15:51] ghost commented on #460
### I solved by changing my time zone (wich wasn't the correct one)

[2021-06-09 21:48] alextwoods commented on #2502
S3 has made a change to correct this issue and it should be deployed within the next couple of weeks.

[2021-06-10 17:14] agrare opened #2536 "AWS S3 GetBucketLocation XML Parser Fails with Stubbed Responses"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-06-10 17:27] mullermp commented on #2536
Thanks for reporting this. This does look like broken behavior.

[2021-06-10 17:48] #2536 closed, assigned to nobody

[2021-06-10 18:01] #2534 closed, assigned to alextwoods

[2021-06-10 18:03] mullermp commented on #2524
Has this been fixed @ajredniwja @another-dave ?

[2021-06-14 09:18] 0xGuybrush commented on #2524
Hi @mullermp, @ajredniwja,

sorry for the delay getting back on this — didn't have a chance to test last week in the end. Just to confirm that this is all working as expected now. Just did a test run to bump up the ephemeral storage to 100GB and all worked fine :tada:

Thanks for your help!

Best
Dave

[2021-06-14 09:18] #2524 closed, assigned to nobody

[2021-06-14 19:37] #2456 closed

[2021-06-21 18:31] aarontc opened #2542 "Seahorse::Client::H2::Connection#connect appears to assume TLS without checking endpoint URI for scheme"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-06-21 19:50] dig12345 commented on #824
+1

[2021-06-21 23:16] alextwoods commented on #2542
Thanks for submitting this and for the clear description/reproduction steps - I was able to reproduce this.

I've put up a PR with a proposed fix: #2543 which I believe is reasonable, but need to further test it.

An alternative approach could be to expose the `ssl_verify_peer` option as config on the `AsyncClient` - I've tested with that set to false with localstack and appears to work as well, b

[2021-06-22 16:12] #2531 closed, assigned to nobody

[2021-06-22 16:36] #2542 closed, assigned to alextwoods

[2021-06-24 08:19] CliveMillerTR opened #2545 "Cannot copy S3 objects with UTF-8 keys"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-06-24 08:22] CliveMillerTR commented on #2545
![Screenshot 2021-06-24 092203](https://user-images.githubusercontent.com/58516624/123228890-baa9b380-d4cd-11eb-9ec6-6cb9d94ab2c1.png)

[2021-06-24 09:05] CliveMillerTR commented on #2545
Updated to latest version, `1.96.1` and the problem remains.

[2021-06-24 17:52] mullermp commented on #2545
Thanks for opening this. I think you're right that this is a bug. The [API docs](https://docs.aws.amazon.com/AmazonS3/latest/API/API_CopyObject.html#API_CopyObject_RequestParameters) say that `x-amz-copy-source` should be URL encoded, and it seems in this case it is not.

[2021-06-24 17:59] mullermp commented on #2545
Thanks for opening an issue. At first I thought this was a bug, but it's actually intended behavior. As far as I'm aware, HTTP headers do not support UTF-8. The [S3 API docs](https://docs.aws.amazon.com/AmazonS3/latest/API/API_CopyObject.html#API_CopyObject_RequestParameters) and the [Ruby SDK docs](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/S3/Client.html#copy_object-instance_method) say

[2021-06-25 08:18] CliveMillerTR commented on #2545
Hi Matt,
Thank you so much for looking into this. Yes, of course, you're absolutely right. I've inserted `CGI.escape()` and my request now looks correct:
[code]
and has worked as expected.

[2021-06-25 08:18] #2545 closed, assigned to nobody

[2021-06-28 21:38] dvogel commented on #1725
I believe I'm experiencing the same issue. I have a handful of buckets that were created in us-east-1. It shows as much in the AWS web console. The SDK returns an empty location constraint for these buckets. Attempting to get the tags or ACL yields the same permanent redirect exception, which includes the correct region in the response header. This repro script:

[code]

Outputs:
[code]

This is u

[2021-06-28 21:56] dvogel commented on #1725
I found that guidance [in the service docs](https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketLocation.html).

[2021-07-01 19:18] josegomezr opened #2547 "Expose `Aws::S3::Presigner#presigned_request` to `Aws::S3::Object`"
**Is your feature request related to a problem? Please describe.**
Following #2511, in our use case, `Aws::S3::Object#presigned_url` worked, but it's still a bit short, although I can now pre-sign any S3 Method, I also require the headers (For example, when using SSE: `x-amz-server-side-encryption`, `x-amz-server-side-encryption-aws-kms-key-id`, etc.).

When I created my resources (bucket, policie

[2021-07-02 03:23] ag-TJNII opened #2548 "How to tell within which regions a service is available"
Confirm by changing [ ] to [x] below:
- [X] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers

For a g

[2021-07-02 17:07] alextwoods commented on #2548
We don't have a higher level abstraction for accessing the regions that a service is available in.  However, AWS Systems Manager allows you to query for that (along with a lot of other related queries), see:  [some example SSM Queries](https://aws.amazon.com/blogs/aws/new-query-for-aws-regions-endpoints-and-more-using-aws-systems-manager-parameter-store/).

Here is some example Ruby code to get al

[2021-07-02 17:07] #2548 closed, assigned to alextwoods

[2021-07-03 04:22] fer1035 commented on #2196
Thank you. I've been searching everywhere for "urn:ietf:params:oauth:grant-type:device_code" to use with the Python SDK (boto3). It doesn't seem to be documented anywhere in the official AWS docset.

[2021-07-06 13:22] mullermp commented on #2548
You can use `aws-partitions` to select a region and enumerate available regions: https://github.com/aws/aws-sdk-ruby/blob/version-3/gems/aws-partitions/lib/aws-partitions.rb#L85-L101

[2021-07-06 17:09] ghost commented on #824
Just do the loop yourself, the SDK only contains the actual API calls, not some utility that goes on top.
It's not very hard. CS102, recurse through directories.

[2021-07-06 22:33] iqre8 commented on #460
It was the folder permission for me.

[2021-07-07 00:56] shaunakv1 commented on #824
@pviet-cohere it's not "just a loop". May be read up on the documentation for the original utility?

https://docs.aws.amazon.com/cli/latest/reference/s3/sync.html

[2021-07-07 16:07] eirc opened #2550 "Cannot sign requests with role based credentials"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-07-08 15:53] eirc commented on #2550
Ok digging deeper in this all day and it appears I am mistaken, the SDK is not wrong here.

For reference my issue was that I was trying to use `Aws::SharedCredentials` and such objects to load profiles and roles etc. This is not the correct way. To my understanding these are low level data structures that don't resolve the numerous ways AWS credentials are provided. It seems (to me) this happens

[2021-07-08 20:33] mullermp commented on #2550
Yes, you are correct. It doesn't work the way it seems like it should. We should take this up as a documentation enhancement.

[2021-07-10 02:02] spachari-im opened #2554 "ArgumentError (invalid configuration option `:dynamodb') thrown when using custom DynamoDB endpoint"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-07-12 09:19] eirc commented on #2550
@mullermp if so I assume you want the ticket to remain open then?

[2021-07-12 15:27] alextwoods commented on #2550
@eirc  I pushed doc updates to [SharedCredentials](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/SharedCredentials.html#initialize-instance_method).  I also created a draft PR for adding a new ProviderChainCredentials that would use the credentials resolution chain (see #2551) - however, we ultimately decided not to merge it because of the additional complexity and messy dependencies on vari

[2021-07-12 15:27] #2550 closed, assigned to nobody

[2021-07-12 22:56] mullermp commented on #2554
Thanks for reporting this issue. This seems like a regression from V2. Because V3 is modularized, there is not a good way to get all of the possible service names.

You should be able to pass these endpoints/configuration directly into the Client constructor. This is preferable to global state. Are you able to do this?

[2021-07-13 01:15] mullermp commented on #2554
After some investigation, this IS supported, however, services must be loaded/required before using `Aws.config[identifier]`. If you must use global configuration, ensure that S3, SQS, and DynamoDB gems are loaded and required. Otherwise, configure your clients on construction.

[2021-07-13 01:15] #2554 closed, assigned to nobody

[2021-07-13 15:32] alextwoods commented on #2554
Just to expand a little on @mullermp's answer:

In general we recommend NOT doing this - avoid global configuration and configure your clients on construction (or if you need some sort of application configuration with a different lifecycle, we'd recommend managing that yourself).

But, as @mullermp  mentioned - If you MUST use the Aws.config for service configuration, ensure that ALL services you

[2021-07-13 16:01] haines opened #2556 "SSM: `wait_until :command_executed` fails with `InvocationDoesNotExist` error"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-07-13 17:29] mullermp commented on #2556
Thanks for reporting this. You are correct that a "CommandExists" waiter should probably be added. Another alternative might be to extend the current waiter to retry on InvocationDoesNotExist. I'll have to think that one through.

If I were to get you a change to waiters for you to apply locally, would you mind help testing that?

[2021-07-13 18:09] haines commented on #2556
Yep, happy to try out whatever solution you come up with!

[2021-07-13 22:36] alextwoods commented on #2556
I've created a PR (#2559) which adds a retry on on the `InvocationDoesNotExistError` - I've tested this locally and it fixes the issue for me.  @haines  - can you test with this change as well?   You can pull the branch and then use `gems/aws-sdk-resources/bin/aws-v3.rb` to launch an interactive REPL with the SDK with the changes.

[2021-07-14 09:52] haines commented on #2556
@alextwoods I dropped your branch into my Gemfile and ran my application after commenting out the ad-hoc initial wait for the command invocation to exist, and it worked perfectly - thanks!

[2021-07-16 02:32] spachari-im commented on #2554
@mullermp  @alextwoods

I want to proceed with global configuration for now (to avoid extensive code changes). Can you please give an example of explicitly loading the Clients?

I tried loading the gems like this in the script before configuring the custom URL:

[code]

This fixed the 'dynamo' issue.

Is this the best way to load them?

[2021-07-16 02:42] spachari-im opened #2560 "Configure custom URL for S3 not working even after preloading"
Confirm by changing [ ] to [x] below:
- [ x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers

**Des

[2021-07-16 03:41] #2560 closed, assigned to nobody

[2021-07-16 08:19] RemcodM opened #2561 "aws-sdk-s3 fails when downloading file of exactly 5242881 bytes from S3 bucket"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-07-16 17:21] mullermp commented on #2554
Other than `aws-sdk` yes that appears correct. Load the service gems `aws-sdk-sqs` etc.

For client construction, it is easy:
[code]

[2021-07-19 16:26] mullermp commented on #2561
Thanks for reporting this. We are working to get a fix.

[2021-07-19 20:46] #2561 closed, assigned to nobody

[2021-07-22 15:34] alextwoods commented on #2556
Just following up on this - I've got the waiter changes merged into the service teams upstream repository and I'm working with them to get the changes included in an upcoming release.

[2021-07-27 19:21] mullermp commented on #2530
Waiters have been shipped!

https://github.com/aws/aws-sdk-ruby/blob/version-3/apis/models.lex.v2/2020-08-07/waiters-2.json

[2021-07-27 19:21] #2530 closed, assigned to nobody

[2021-08-03 08:33] ilyazub commented on #2469
@Seitanas Can you share a code sample of reading encrypted datastream from openssl in chunks and uploading them as multipart data?

[2021-08-05 10:14] aggarwalShivani opened #2570 "Use of *ca-bundle.crt in code and impact of delelting it"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers

**Descr

[2021-08-11 21:41] Faust85 opened #2571 "Can no longer create RDS snapshot using argument "destination_region""
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-08-12 14:27] #2571 closed, assigned to nobody

[2021-08-12 20:11] mullermp commented on #2571
Hey. Thanks for opening an issue. Just wondering why this was closed - what was the issue?

[2021-08-12 20:14] mullermp commented on #2570
Thanks for opening an issue (sorry I didn't get to this sooner). The bundled cert is not used by default. I think it should be fine to delete it - it should not fail at runtime unless you call `Aws.use_bundled_cert!` anywhere in your code (or any applications that may call it).

[2021-08-16 17:50] #2570 closed, assigned to nobody

[2021-08-17 02:19] fcecagno opened #2572 "S3 upload_file integrity check"
The official docs mention that AWS will verify integrity of the file or part using `content_md5`. However, I couldn't find in the source code `content_md5` being passed on both modes, single part or multipart.
So my question is the following: should the developer using the SDK implement the integrity check and pass `content_md5`, or is it safe to rely on the SDK implementation of upload_file and d

[2021-08-17 16:44] mullermp commented on #2572
Thanks for opening an issue. The developer should not need to calculate MD5 unless you feel the need to do so. The SDK will calculate MD5 for all operations modeled with "httpChecksumRequired" in the API ([example](https://github.com/aws/aws-sdk-ruby/blob/9ea0b2b110b54ef65fba8ae02def383069484d29/apis/s3/2006-03-01/api-2.json#L682)). For S3, the SDK additionally will do "PutObject" and "UploadPart"

[2021-08-17 17:02] guillaumedenece commented on #2481
Hey @mullermp / @alextwoods,

I have stored the client in a singleton and this solved the issue.

Here is the code I implemented:
[code]

Thank you very much for your help!

[2021-08-17 19:00] fcecagno commented on #2572
Thank you very much for your information, I'm sure this information will help other developers in the future.

[2021-08-17 19:00] #2572 closed, assigned to nobody

[2021-08-23 20:10] neilsimon opened #2574 "Gem install fails or takes extremely long for aws-sdk/aws-sdk-resources"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [ x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sd

[2021-08-23 20:21] mullermp commented on #2574
This is a known issue. The can was kicked down the road. Related: https://github.com/rubygems/rubygems.org/pull/2470

[2021-08-23 20:25] mullermp commented on #2574
Workaround is to no longer use umbrella gems `aws-sdk` or `aws-sdk-resources`. I would appreciate it if you could make an issue in the rubygems.org repo citing this and related issues. I am uncertain if the rubygems.org team is willing to increase that constant.

[2021-08-25 16:50] stiller-leser opened #2576 "Specify signature_version v2 in Aws.config.update"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers

**Descr

[2021-08-25 22:14] mullermp commented on #2576
What API/Service are you trying to use SigV2 with?

There is a SigV2 gem: https://rubygems.org/gems/aws-sigv2 and it's used in SimpleDB and ImportExport

[2021-08-26 07:40] stiller-leser commented on #2576
I am trying to use the EC2 API - Also, I should have mentioned that ;)

[2021-08-26 16:05] alextwoods commented on #2576
The EC2 API is modeled as sigv4, and looking back, even the [oldest version 2015-10-01](https://github.com/aws/aws-sdk-ruby/blob/version-3/apis/ec2/2015-10-01/api-2.json#L10) is sigv4.

Is there an issue or error you're running into with sigv4?  Can you provide some example code + error messages?

In general (aside from S3), signature version isn't configurable because its specified by the service

[2021-08-26 16:49] stiller-leser commented on #2576
Unfortunately I was forced by the internal service to sign the requests with v2. After looking at the EC2 gem this morning, I have reimplemented the needed functionality for the service in a standalone gem.

Thanks for all the help though!

[2021-08-26 16:49] #2576 closed, assigned to nobody

[2021-08-30 16:33] mullermp commented on #2576
That doesn't make too much sense... but glad you were able to solve your problem.

[2021-09-01 13:52] deepakdash opened #2579 "Use of DAX in rails application"
Hi there,

I want to use AWS DAX with DynamoDB in a Rails application. I have the aws-sdk installed. I found that the aws-sdk-dax is the ruby gem to be used for using the dax. However, I am not getting any document on using it inside the Rails application. Appritiate for your help.

[2021-09-01 15:36] alextwoods commented on #2579
The DAX team has unfortunately not provided a DynamoDB drop-in DAX client ([supported DAX clients](http://dax-sdk.s3-website-us-west-2.amazonaws.com)).  The AWS SDK For Ruby supports only the control plane operations for DAX (eg, create cluster).  This is a long standing feature request, see #1845.  I'll note this as a feature request and send the request to the service team.

[2021-09-01 15:36] #2579 closed, assigned to nobody

[2021-09-02 03:52] deepakdash commented on #2579
Can we use other services like elastic search or redis with it?

[2021-09-03 20:54] phuongdh opened #2581 "Signature does not match when request has Content-Length header"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-09-07 06:25] hariharan-chandrasekar opened #2582 "The list_tags_for_resource method in organisation client in returning an undefined method"
require 'aws-sdk'
sts = Aws::STS::Client.new(region: 'us-east-1')
token  = sts.assume_role({duration_seconds: 900,role_arn: "arn:aws:iam::xxxx:role/xxx", role_session_name:"AHA"})
org_client = Aws::Organizations::Client.new(region: 'us-east-1',access_key_id: token[:credentials][:access_key_id], secret_access_key: token[:credentials][:secret_access_key], session_token: token[:credentials][:session_

[2021-09-07 16:30] mullermp commented on #2582
This is a strange error. The latest `Aws::Organizations::Client` client has the `list_tags_for_resource` API and should most definitely exist. Are you somehow using an older version? What version of the gem are you using?

Could you call `Aws::Organizations::Client.new.operation_names` and see if `list_tags_for_resource` is there?

[2021-09-07 20:43] mullermp commented on #2581
Thanks for opening an issue. I am assuming you are adding headers like so: `signer.presign_url(... , headers: { 'Content-Length' => 123 })`

Could you describe your use case and what you are trying to do? I need more information to reproduce this.

In our S3 Presigner, `Content-Length` is considered an unsigned header. Could you try this?

[code]

[2021-09-07 22:15] phuongdh commented on #2581
Hi Matt,

As seen in the code above, I don't add any header when generating the presigned URL. I'm only adding headers when making requests with Postman.

The use case workflow is:
1. Client asks us for an upload URL
2. We generate a presigned URL (without knowing how large the file will be, hence no `Content-Length`)
3. Client sends `PUT` request to the presigned URL *with* a `Content-Length` hea

[2021-09-08 06:52] hariharan-chandrasekar commented on #2582
@mullermp You were right. The instance I tested this on was an old instance and the gem used for organizations was an old one. I installed the latest one and this fixed the issue. I raised a query here because even the support team found it bizarre that we got this error.
Ps: I'm a little embarrassed it was a simple fix and I should of thought of it before. Thanks for the time :)

[2021-09-08 06:52] #2582 closed, assigned to nobody

[2021-09-08 23:49] mullermp commented on #2581
Thanks. This is being looked at by the service team, premium support, and myself.

[2021-09-09 19:00] mullermp commented on #2581
I am thinking that API Gateway is expecting `Content-Length` to be signed when it's provided, but the pre-signed URL only signs the `host` header.

[2021-09-09 19:01] mullermp commented on #2581
I verified that our signing only signs the `host` header, both as `X-Amz-SignedHeaders` and in the actual signed canonical request.

[2021-09-09 23:24] phuongdh commented on #2581
Is this something that's unique to API Gateway? S3 seems to [explicitly avoid signing](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/Sigv4/Signer.html#presign_url-instance_method) `Content-Length` header, and `Aws::Sig4::Signer.presign_url` says [non-Amazon headers are optional](https://github.com/aws/aws-sdk-ruby/blob/version-3/gems/aws-sigv4/lib/aws-sigv4/signer.rb#L353-L356).

[2021-09-13 18:43] alextwoods commented on #2581
@phuongdh  - I'm trying to understand the use case a bit more.  As you've mentioned, S3 does have a special case that does allow you to create a presigned URL without the `Content-Length` header to support presigned URLS for `PutObject` with out content length being known ahead of time.   The documentation on presigned urls I think is misleading - non-amazon headers are optional except when requir

[2021-09-13 19:15] phuongdh commented on #2581
@alextwoods the reason we need to go through API Gateway is because S3 responds with a 200 code, while our clients expect a 201. So our API Gateway integration intercepts and modifies the response code from 200 to 201.

I tried using `body_digest: 'UNSIGNED-PAYLOAD'` with no success.

[2021-09-14 22:31] alextwoods commented on #2581
With `body_digest: 'UNSIGNED-PAYLOAD`, can you try do the PUT with chunked encoding (and not sending a content-length)?

[2021-09-15 03:58] lenon opened #2586 "EC2 waiters: "snapshot_completed" does not consider "error" as a terminal state"
**Is your feature request related to a problem? Please describe.**

Hi! I have a snapshot of an EBS volume that has reached an "error" state. In my code, I have something like the following:

[code]

Eventually, the waiter stops, and this error is raised:

[code]

The problem with this waiter is that it does not consider "error" as a terminal state, only "completed", so it will keep waiting until

[2021-09-15 15:41] mullermp commented on #2586
Thanks for opening an issue. I see you're interested in fixing this - in theory this is simple to fix. Waiter acceptors are defined as JSON in the API folder: https://github.com/aws/aws-sdk-ruby/blob/b6f6164248dce3f2121682f8bdeb08736830029c/apis/ec2/2016-11-15/waiters-2.json#L369 Once defined, the ec2 gem can be regenerated with `rake build:aws-sdk-ec2` and then tested.

If you are willing to come

[2021-09-16 19:21] lenon commented on #2586
@mullermp thanks for the guidance! I opened this PR here to fix the issue https://github.com/aws/aws-sdk-ruby/pull/2587

[2021-09-16 23:29] phuongdh commented on #2581
Unfortunately our clients must send a `content-length` header. Even if they didn't, from my testing the file will end up being an empty object in S3, seems like S3 needs this header for uploading.

[2021-09-17 07:22] osamao3 opened #2588 "Main1"
**Describe the issue with documentation**
A clear and concise description of what the issue is.

**To Reproduce (observed behavior)**
Steps to reproduce the behavior (please share code or minimal repo)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any o

[2021-09-17 16:09] #2588 closed

[2021-09-17 16:54] dishcandanty opened #2589 "Add waiter for IGW Exists"
internet_gateway_exists

There isn't a waiter for `internet_gateway_exists`. When creating, then immediately tagging a gateway I've been intermittently seeing issues where the gateway doesn't exist yet.

https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/EC2/Waiters.html

[code]

[2021-09-17 19:57] mullermp commented on #2589
Thanks for opening a feature request. Would you be interested in implementing and testing it? Waiter definitions are listed here as JSON: https://github.com/aws/aws-sdk-ruby/blob/version-3/apis/ec2/2016-11-15/waiters-2.json

[2021-09-23 17:43] mullermp commented on #2407
Closing issue. We plan to use Rubocop more strictly for future versions of the SDK.

[2021-09-23 17:43] #2407 closed

[2021-09-23 17:48] mullermp commented on #2581
I'm sorry to say this, but it's seeming like this use case is not supported by API Gateway. From the Ruby SDK perspective, if the service is rejecting the request, I don't know what else we can do about it. If another SDK works with this use case, we can explore differences in the pre-signed URLs. You may need to use S3 pre-signed URLs directly and add some lambda function to change the response c

[2021-09-23 17:48] mullermp commented on #2586
Still waiting on this to be deployed.

[2021-09-23 19:15] alextwoods commented on #2556
The Waiter changes were released today in `aws-sdk-ssm` version `1.118.0`.

[2021-09-23 19:15] #2556 closed, assigned to nobody

[2021-09-24 10:53] sdy15 commented on #1750
@awood45 How suddenly aws-sdk 3.0.1 throwing error for ffi? Which was working perfectly  with ruby 2.1.0 still last month.Now I am getting below error
Error installing aws-sdk:
	ffi requires Ruby version >= 2.3

Also if I try to install lower version of ffi. It throws below error
his could take a while...
ERROR:  Error installing ffi:
	ERROR: Failed to build gem native extension.

    /opt/puppetl

[2021-09-24 11:03] sdy15 opened #2591 "aws-sdk 3.0.1 throwing error for ffi requires Ruby version >= 2.3"
How suddenly aws-sdk 3.0.1 throwing error for ffi? Which was working perfectly with ruby 2.1.0 still last month.Now I am getting below error
Error installing aws-sdk:
ffi requires Ruby version >= 2.3

Also if I try to install lower version of ffi. It throws below error
 /opt/puppetlabs/puppet/bin/gem install ffi:1.12.2
Fetching: ffi-1.12.2.gem (100%)
Building native extensions.  This could take a

[2021-09-24 16:23] mullermp commented on #2591
The Ruby SDK no longer supports Ruby versions 1.9 to 2.2 as of recently. Is that the issue?

[2021-09-24 16:34] sdy15 commented on #2591
@mullermp  No. The issue is when I am trying to install aws-sdk 3.0.1 using ruby 2.1.0 ,its throwing me ......
"ffi requires Ruby version >= 2.3" . It was working fine in last month.

Also if I try to lock ffi as per ruby 2.1.0 compatible  ,its throwing me ERROR: Failed to build gem native extension.

As I tested ,Its only working if I downgrade aws-sdk to V2.Which I don't want.

[2021-09-24 16:46] mullermp commented on #2591
I'm not sure what's going on. Where is FFI coming from?

Also, have you considered moving away from `aws-sdk` and instead use the modularized service gems such as `aws-sdk-s3`? You might not run into that issue.

[2021-09-24 16:49] sdy15 commented on #2591
@mullermp Thanks for your reply. I am also not sure from where suddenly ffi is coming.
Yes.I tried with `aws-sdk-resources` ,its also throwing same error for me.This is the below error.

Fetching: ffi-1.15.4.gem (100%)]# Fetching: ffi-1.15.4.gem
ERROR:  Error installing aws-sdk-resources:
	ffi requires Ruby version >= 2.3.

[2021-09-24 16:52] mullermp commented on #2591
`aws-sdk` depends on `aws-sdk-resources` which depends on every service gem. Apart from deploying every service gem, it's incredibly slow to download and install. I recommend only depending on the services you need.

Have you considered updating your Ruby version? 2.1 is extremely end of life. If you are using your "system" Ruby, I would recommend against that and to use a Ruby version manager lik

[2021-09-24 17:32] sdy15 commented on #2591
@mullermp For now updating ruby is painful.Because I am using ruby which is bundle with puppet agent.Replacing ruby means,I need to change the puppet agent and all corresponding codes now.

Is there any way I can get rid of ffi and install aws-sdk v3  for now, specifically 3.0.1 or 3.0.0 which is ruby 2.1.0 compatible .

[2021-09-24 17:35] mullermp commented on #2591
I'm not sure where FFI is coming from. We do not directly depend on it anywhere as far as I'm aware.

[2021-09-27 18:03] mullermp commented on #1912
This was added on March 24 - https://github.com/aws/aws-sdk-ruby/commit/45499f3876e02a3ad169d7730ad09d6564c6cc56#diff-5df294fbe99ec78b537fc91be8c3d04b866c530627c9ef2ff56b2330b7c6fbef

I forgot to close this!

[2021-09-27 18:03] #1912 closed

[2021-10-05 17:17] indigotechtutorials opened #2593 "Signature does not match the one you provided. Ruby"
Confirm by changing [ ] to [x] below:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers

I have

[2021-10-05 17:33] mullermp commented on #2593
Hey there. I don't think I follow what you are asking. Do you have any more information or details on how you're using the Ruby SDK?

[2021-10-05 17:36] indigotechtutorials commented on #2593
Im trying to use the AWS::V4::Signer class to presign my websocket url and I keep getting an error that the signature is different from the one aws generated.
Im thinking its because the OpenSSL::Hmac library gives back a different output then the JS crypto library hmac.

[2021-10-05 17:36] indigotechtutorials commented on #2593
When I do it with the javascript it works but I wanted to do it in the backend and then pass the presigned url to the js.

[2021-10-05 17:38] indigotechtutorials commented on #2593
Right now I made a API and sent the formatted time, region, string_to_sign etc. That is needed to create the signature and am only doing the hmac hashing in ruby and it still says the signature is wrong

[2021-10-05 17:49] mullermp commented on #2593
Interesting.. I have never seen websocket pre-signed urls. When you say "AWS::V4::Signer" are you referring to V3 Ruby SDK `Aws::Sigv4::Signer#presigned_url` method? I think it's doubtful that Ruby and JS hmac libraries are different.

Are you able to add some debugging in the JS code as well as the local install of the Ruby SDK? It would be easier to diagnose if we can compare the output of the p

[2021-10-06 14:25] indigotechtutorials commented on #2593
### Generated by JS
#### This way works AWS likes signature
Canon Request
[code]

stringToSign
[code]

sig
`2fd1a85b3f4bab3bd0d0f9cc151beace9db1ee4a30f2a81b64c68f01878004b3
`

[2021-10-06 14:36] indigotechtutorials commented on #2593
Lol now it is working for me I probably screwed up the url I was passing in websocket urls are just like http urls but I must have got it confused.

[2021-10-06 14:36] #2593 closed, assigned to nobody

[2021-10-06 16:01] mullermp commented on #2593
I'm glad you were able to figure it out! Sometimes debugging can really help :) Let me know if you need any thing else.

[2021-10-06 16:06] indigotechtutorials commented on #2593
Yes thank you for giving me your input and quick response.

[2021-10-06 16:46] mullermp commented on #2586
This has been shipped: https://github.com/aws/aws-sdk-ruby/blob/8ef583acccd8420771713e797af3e2dc684f0ec3/apis/ec2/2016-11-15/waiters-2.json#L380-L385

Thanks for your contribution!

[2021-10-06 16:46] #2586 closed, assigned to nobody

[2021-10-11 16:22] malcolm-pro commented on #2378
I hit this error last week and relieved to have found this comment, or I would still be stuck trying to figure out why the official SDK doesn't seem to work. Perhaps the documentation could be clearer in the preference of the Client model over the resource models?

Fwiw, this seems to be the issue; this call to deep_merge is inserting a new metric with `metric_name` set to whatever namespace the M

[2021-10-11 17:39] mullermp commented on #2581
Marking this as closing soon. I'm sorry that we never got to the root cause of this. API Gateway team is aware of this and I will make sure that they have this feature request in their queue.

[2021-10-16 21:54] weedySeaDragon opened #2596 "put_lifecycle_configuration using an and: gives a MalformedXML response"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-10-18 16:43] mullermp commented on #2596
This is kind of funny, but I think this bug was fixed in version 3.109.2 with this change, just shy of your 3.109.1 version: https://github.com/aws/aws-sdk-ruby/commit/6ca1851522c36a29108928453486de62241ef2f5#diff-76b3a26d1c7fcce659f02509fef1b5ab43093ef04d54e9b88c9a3bb51d4a57f2

I was able to reproduce the issue with your version, and it appears to work after 3.109.2 and with the current version.

[2021-10-18 16:43] #2596 closed, assigned to nobody

[2021-10-22 17:20] Timothyjb opened #2599 "Add start_from_head option to GetLogEventsRequest"
**Is your feature request related to a problem? Please describe.**
It would be really great if we could include an option in `FilterLogEventsRequest` to sort results by newest to oldest.

**Describe the solution you'd like**
Including the option `start_from_head` similar to `GetLogEventsRequest`.

**Describe alternatives you've considered**
I can definitely sort the results in my application. The

[2021-10-22 18:39] mullermp commented on #2599
Thanks for opening a feature request. If I understand your use case, this appears to be a service team request and not an SDK. Can you open this in https://github.com/aws/aws-sdk/issues?

[2021-10-22 18:40] mullermp commented on #2599
Also I'm not sure what service you're talking about. I'm assuming CloudWatchLogs because it defines `FilterLogEventsRequest`.

[2021-10-26 07:13] ngocbuildxuan commented on #2076
Maybe you missing **gem 'bootsnap'** in gem file.

[2021-10-27 20:58] phuongdh commented on #2581
Thank you for the updates, we have pivoted to a non-Gateway solution for now.

[2021-10-27 20:58] #2581 closed, assigned to nobody

[2021-10-28 17:40] Timothyjb commented on #2599
@mullermp Hi, That make sense! I wasn't sure where this type of request should go. I can report elsewhere.

[2021-10-28 17:40] #2599 closed, assigned to nobody

[2021-10-28 20:02] komealy opened #2603 "Stacktrace being thrown from aws-sdk-core-3.121.4 about undefined method `signing_service`"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-10-28 20:15] alextwoods commented on #2603
Thanks for opening this - I pushed a change (#2602) yesterday that added the `signing_service` method into partitions but forgot to bump the minimum dependencies.

You can resolve this by using the latest `aws-partitions` gem (>= 1..520.1) and I'll work on a fix.

[2021-10-28 20:38] komealy commented on #2603
It does look like updating `aws-partitions` gem does indeed get past this. I ran locally with that updated as well to `1.520.1`, and it looks to work.

Specifically the version that did not work and threw the stack trace is `aws-partitions-1.520.0`:

[code]

[2021-10-28 20:41] alextwoods commented on #2603
Thanks for the verification and sorry you ran into this!

I've got a RR out to fix this: #2604

[2021-10-29 12:22] Lobosque commented on #808
Why was this closed? Is there a solution to this?

[2021-11-01 17:01] laupow opened #2605 "Better error/guidance for no SSO session"
**Is your feature request related to a problem? Please describe.**
In [`read_cached_token`](https://github.com/aws/aws-sdk-ruby/blob/9d29a70cd90482d34b4ecf1e0800a7f0ac1035f4/gems/aws-sdk-core/lib/aws-sdk-core/sso_credentials.rb#L92-L105) there's a good attempt to provide users with a helpful error message for SSO session errors.

One edge case I ran into is after somebody runs `aws sso logout` the

[2021-11-01 17:05] alextwoods commented on #2605
Hey - thanks for submitting this request - agree we should have better error messages for that situation!  I'll take a look at a fix.

[2021-11-01 18:31] mullermp commented on #2605
Wow, such bug report, many bugs!

[2021-11-01 19:21] komealy commented on #2603
This issue no longer happens with `aws-sdk-core-3.121.5` and `aws-partitions-1.521.0`.

This set of gems was successful:

[code]

I'll go ahead and close this issue since this new set of versions resolves the problem.

[2021-11-01 19:21] #2603 closed, assigned to nobody

[2021-11-01 19:23] alextwoods commented on #2603
Thanks for the verification!

[2021-11-02 16:10] #2605 closed, assigned to alextwoods

[2021-11-03 21:43] rittneje opened #2607 "Aws::STS::Presigner forces regional endpoint regardless of client config"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-11-04 00:16] rittneje commented on #2607
I found the root cause of the bug.
https://github.com/aws/aws-sdk-ruby/blob/9e16f6d3c5c1a8e2fba982ba07f93b164b3b4406/gems/aws-sdk-core/lib/aws-sdk-sts/presigner.rb#L55-L57

That needs to be changed to:
[code]

[2021-11-04 15:26] mullermp commented on #2607
Thanks for reporting this. It was fixed as part of this PR that will be merged today: https://github.com/aws/aws-sdk-ruby/pull/2553/files

Relevant section:
https://github.com/aws/aws-sdk-ruby/blob/415d9ac0157973ae5db2d5da59e2c1ff5d28d126/gems/aws-sdk-core/lib/aws-sdk-sts/presigner.rb#L55-L63

[2021-11-04 18:14] #2607 closed, assigned to nobody

[2021-11-04 19:35] #2591 closed, assigned to nobody

[2021-11-04 19:36] #2574 closed, assigned to nobody

[2021-11-04 19:38] mullermp commented on #2496
This has been addressed in https://github.com/aws/aws-sdk-ruby/pull/2553

I have exposed `fips_regions` and `dualstack_regions` in `Aws::Partitions`, along with `use_fips_endpoint` and `use_dualstack_endpoint` configurations. I've found a way to deprecate pseudo regions for all SDKs. A `fips` pseudo region will now be normalized and automatically set `use_fips_endpoint` to true. Please migrate awa

[2021-11-04 19:38] #2496 closed, assigned to nobody

[2021-11-09 09:12] stevenyongezypay opened #2612 "Pinning aws-sdk-secretsmanager to version 1.48.0 now requires Ruby version >= 2.3"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2021-11-09 17:07] mullermp commented on #2612
Thanks for opening an issue. Are you able to use Bundler? It should be able to resolve this correctly.

[2021-11-09 17:18] mullermp commented on #2612
Just curious, what is blocking you from upgrading your Ruby version?

[2021-11-09 17:51] alextwoods commented on #2612
I confirmed that in Ruby 2.2, bundler (with a Gemfile/`bundle install`) will correctly install `aws-sdk-secretsmanager` version `1.48.0`.

It looks like rubygems builds the list of transient dependencies based on the latest resolved versions that match: https://rubygems.org/gems/aws-sdk-secretsmanager/versions/1.48.0/dependencies.  So I believe the other option if you can't upgrade ruby versions a

[2021-11-10 00:20] stevenyongezypay commented on #2612
We are using Centos 7 and the latest version of Ruby seems to be 2.0.

[2021-11-10 01:56] stevenyongezypay commented on #2612
We later got this resolved by adding `force: yes`:

    - gem:
        name: aws-sdk-secretsmanager
        version: 1.48.0
        force: yes

Force gem to install, bypassing dependency checks.

As the other alternatives suggested by @alextwoods using `--conservative` is not available in the Ansible options, yet.

https://github.com/ansible/ansible/issues/18925

Happy for this to be closed.

[2021-11-10 16:42] #2612 closed, assigned to nobody

[2021-11-17 18:04] #2547 closed, assigned to nobody

[2021-11-21 06:57] JVerma205 commented on #824
Hi guys, I also am looking for SDK equivalent of CLI aws sync; I found this really helpful article that served my purpose. The code is easy to run as well.
https://blog.bitsrc.io/a-practical-guide-to-building-a-node-js-service-on-an-aws-s3-bucket-aff19105ba83

Nevertheless, I do request aws-sdk to include the sync feature to standardize the algo.

[2021-11-22 13:12] JovanToroman commented on #1577
For me, this issue happened on the `DeleteObjects` command and it happened because the keys I was trying to delete contained escapeable html characters (`&`, `<`, `>`). After replacing these characters with their object versions (`&amp;`, `&lt;`, `&gt;`), everything worked as expected.

[2021-11-25 19:37] shaicoleman opened #2617 "Slow Aws::InstanceProfileCredentials.new when not running under EC2"
Aws::InstanceProfileCredentials.new tries to do network calls when not on AWS, this causes initializing objects to be extremely slow, for no obvious reason, e.g.

Example code:
[code]

This can be triggered by initializing unrelated objects, which was quite difficult to track down, e.g.
[code]

This happens because if the client doesn't find credentials via the environment variables, it falls back

[2021-11-26 20:16] mullermp commented on #2617
Thanks for opening an issue. You are correct that `InstanceProfileCredentials` does attempt to make network calls to EC2 Metadata service.

When initializing a client, the SDK needs credentials. It is not an unrelated object - when the client is initialized, it looks in multiple locations for credentials, [using the credential provider chain](https://github.com/aws/aws-sdk-ruby/blob/7a76dd6e99d5d5

[2021-11-26 20:19] mullermp commented on #2617
That said, can I ask what your use case is and what you are trying to do? Or is this just an intended bug report?

[2021-11-26 22:36] shaicoleman commented on #2617
@mullermp, mainly, I wasted a couple of hours to figure out why things were so slow on development and testing. Creating a new instance of an object shouldn't take a couple of seconds.

I consider it to be a bug.

Also, it's unexpected that creating an instance of an unrelated object would trigger network requests.

This was also causing our specs to run slow, as the client was initialized, but th

[2021-11-29 19:04] mullermp commented on #2617
That makes sense, I'm sorry that it was frustrating. I can investigate whether the UUID approach will work. There may be backwards compatibility concerns with it. I am also exploring options for lazy loading credentials (same issue but pushed to operation calls instead of client initialization) and ping/query endpoint before attempting to fetch credentials.

For your specs, are you using a stubbed

[2021-11-29 19:20] mullermp commented on #2617
Another thing worth mentioning is that you can disable EC2 Metadata credentials by setting `AWS_EC2_METADATA_DISABLED=true`

[2021-11-29 21:17] shaicoleman commented on #2617
Thanks, that's useful, I didn't come across that in the docs.

I think the Aws::Lambda::Client documentation was a bit misleading: "To construct a client, you need to configure a :region and :credentials.", when it should have said either :region or :endpoint. A few more usages examples would also be helpful.

[2021-11-30 18:00] mullermp commented on #2617
Region is required for SigV4 signing, while the endpoint can be changed/overridden. When endpoint is not provided, it is derived using the region. This makes endpoint entirely optional and region required.

[2021-11-30 18:00] mullermp commented on #2617
https://github.com/aws/aws-sdk-ruby/commit/47651cf95447f2ec28f13aca936e9cb6fe85b3d9 Added some documentation for disabling EC2 metadata in the credential chain.

[2021-11-30 19:12] phene opened #2619 "S3Control API Requests Fail with InvalidURI"
**Describe the bug**
S3Control API requests are getting 400 responses due to a bad URI. Further investigation shows that Seahorse is only making requests to the root endpoint domain and the path/operation is lost.

**aws-sdk-s3control**

**To Reproduce (observed behavior)**

[code]

**Expected behavior**
It should succeed.

**Additional context**
It appears the new [Dualstack plugin](https://githu

[2021-11-30 19:22] mullermp commented on #2619
Sorry about this. I'm pretty sure the fix is to have code similar to the S3 Dualstack plugin.

[2021-11-30 19:26] mullermp commented on #2617
What type of examples were you looking for?

[2021-11-30 19:32] #2619 closed, assigned to nobody

[2021-12-03 18:18] ziggythehamster opened #2621 "Faraday/Typhoeus HTTP adapter support (potentially as a plugin)"
**Is your feature request related to a problem? Please describe.**
Net::HTTP doesn't get very good parallel throughput because it's totally in Ruby and doesn't benefit from being able to manage its own I/O or threading in the same way that a C extension would. The AWS SDK supports pluggable handlers, and this was brought up in #301, but in SDKv3 I don't know what the current pattern for implementi

[2021-12-04 00:01] #2617 closed, assigned to nobody

[2021-12-07 22:29] OpakAlex commented on #2473
Why it's inside initializer? Raise this error when service call s3, this is so strange behaviour for OOP language. initialize can not return raise of error, it must be instance!

[2021-12-10 17:26] mullermp commented on #2589
This has been shipped! https://github.com/aws/aws-sdk-ruby/blob/5d4ab84a8fadffd4aedc4ccebaeee21c1f38ce8f/apis/ec2/2016-11-15/waiters-2.json#L284

[2021-12-10 17:26] #2589 closed, assigned to nobody

[2021-12-14 10:17] awendt opened #2623 "Please make the Endpoint accessible on Aws::S3::Errors::PermanentRedirect"
**Is your feature request related to a problem? Please describe.**

When accessing buckets in bulk, they may be in different regions. A client with region X can access buckets in that region but when accessing a bucket in region Y, an `Aws::S3::Errors::PermanentRedirect` is raised. The error message returned by the API includes the `Endpoint`:

[code]

but this is not accessible in Ruby.

**Descri

[2021-12-14 17:32] alextwoods commented on #2623
We're looking into how we can more gracefully handle or expose this information.

However, in the meantime the correct bucket region is exposed through the response headers which are available in the context:

[code]

[2021-12-16 20:23] ghost commented on #2177
I was able to get around this issue by setting my docker's network mode to `host`. Not sure if anyone else out there has tried it but if `host` networking is an option things seem to work out nicely.
![image](https://user-images.githubusercontent.com/42475461/146443550-f6320d76-66d0-4f51-9b95-cf3330856cc8.png)
![image](https://user-images.githubusercontent.com/42475461/146443827-2a5bcab4-4a0b-46e7

[2021-12-22 01:52] phene commented on #2529
It might even make sense to just support this like the [ProcessCredentials](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sourcing-external.html). Seems like something the whole CLI/SDK ecosystem could benefit from. Just allow people to roll their own Token Code retrieval.

[2021-12-23 20:14] phene commented on #2529
A few use cases that could be supported with the above method:

- External program prompts user for their MFA token code
- External program reaches into a password manager to get the token code
- External program calls a web service to trigger a push notification on a mobile device. Acceptance of the push notification allows the web service to generate a token and deliver it back to the external p

[2022-01-06 04:46] dedman opened #2628 "S3::Object::upload_file does not allow thread_count param when file less than multipart threshold."
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2022-01-06 17:02] alextwoods commented on #2628
Thanks for opening this - I'm looking into possible solutions.

[2022-01-06 17:37] mullermp commented on #2628
I'm pretty sure we just need to unpack `thread_count` here: https://github.com/aws/aws-sdk-ruby/blob/82da029b0bc9dc2317e3b0c7a42628a22f048d3d/gems/aws-sdk-s3/lib/aws-sdk-s3/customizations/object.rb#L436

with
[code]

[2022-01-06 18:51] #2628 closed, assigned to alextwoods

[2022-01-08 00:21] dmhagan77 opened #2630 "Not able to use Multi-Region Access point with s3_client.list_objects"
Confirm by changing [ ] to [x] below:
- [ X ] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [ X ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers

**D

[2022-01-10 17:31] alextwoods commented on #2630
Thanks for opening this and sorry you're running into this issue.  To use Multi region access points, you'll need to use the crt version of the `aws-sigv4` gem. (note: CRT support for Ruby is still in developer preview, which is why it requires a special version).  I'd recommend using the [1.4.1.crt version](https://rubygems.org/gems/aws-sigv4/versions/1.4.1.crt).  If you're using a Gemfile, I'd r

[2022-01-10 19:30] dedman commented on #2628
Awesome, thanks Alex!

[2022-01-11 00:55] cpdohert commented on #2473
This behaviour also breaks a number of 12factor best practices, among them the fact that a Rails app using the S3 SDK needs to be built separately for each different set of AWS configuration options.  It's not clear to me why Rails' asset precompilation state - which is supposed to be solely for packing JS, CSS, HTML and static images - has a dependency on an S3 SDK gem. Is it generating JS/CSS?

[2022-01-18 23:35] dmhagan77 commented on #2630
Thanks for the heads up on the gems, that seems resolve my issue that I raised.  Thank you for the recommendation.

[2022-01-18 23:35] #2630 closed, assigned to alextwoods

[2022-01-20 14:24] michalbugno opened #2634 "`RubyVM.stat[:global_constant_state]` changed by `ResponsePaging`"
Hey y'all,

If I did my debugging right the code responsible for paginating response is changing `RubyVM.stat[:global_constant_state]` by calling `resp.extend(PageableResponse)`

https://github.com/aws/aws-sdk-ruby/blob/a82c8981c95a8296ffb6269c3c06a4f551d87f7d/gems/aws-sdk-core/lib/aws-sdk-core/plugins/response_paging.rb#L10-L16

This is not ideal because it can affect performance significantly, t

[2022-01-20 17:44] alextwoods commented on #2634
Hey - thanks for raising this issue.  I agree with your assessment that the `ResponsePaging` plugin is causing the `:global_constant_state` to increase (specifically by one per request made) and that specifically its the `resp.extend(PageableResponse)` that is causing the increase.

Having a plugin that dynamically has all non-async responses extend `PageableResponse` was an unfortunate design dec

[2022-01-20 17:52] michalbugno commented on #2634
@alextwoods Yeah, I noticed the design was different in v2.

Is there any way to disable this plugin completely at a cost of pagination not working or is it something you wouldn't recommend?

[2022-01-20 18:14] alextwoods commented on #2634
Great question - yes you can!  The PageableResponse does add some methods to each response object (mostly enumerable methods) - so removing it *could* break your application if you use those methods. Otherwise, it is reasonable to do so.  There are a number of ways to do it - but all of them involve using the `remove_plugin`/`add_plugin` on the Client classes - these would need to be done during a

[2022-01-20 18:21] michalbugno commented on #2634
Wow, thanks for that! Good stuff, this will probably be Good Enough™ for me :)

[2022-01-20 22:39] #2634 closed, assigned to nobody

[2022-01-24 10:16] henrik opened #2636 "Unsupported option: foo_starts_with after upgrading aws-sdk-s3 from 1.111.1 to 1.111.2"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2022-01-24 16:55] alextwoods commented on #2636
Hey - sorry you're running into this.  I introduced this in a recent cleanup - I'll have a fix out shortly.

[2022-01-24 18:09] #2636 closed, assigned to alextwoods

[2022-01-24 20:40] henrik commented on #2636
Thank you, @alextwoods! :)

[2022-01-25 15:03] adibsaad commented on #2378
Ran into this as well. Used the client API as per the comments, but if we're not supposed to be using the resource models, is there some documentation or deprecation notice? When I opened up the yard docs (https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/CloudWatch.html) I saw nothing telling me to avoid the resource models.

[2022-01-25 17:17] mullermp commented on #2378
Resource models are "supported" but they're not maintained very well, because they are modified by hand by the service teams, and also have limitations. The Client API is far more reliable.

[2022-01-26 01:34] adibsaad commented on #2378
Fair enough, but none of this was made clear in the documentation. Would have been nice to see a warning somewhere.
If it's still supported, albeit loosely, how can I bring this issue to the service team's attention?

[2022-01-26 17:44] mullermp commented on #2378
The https://github.com/aws/aws-sdk repo has a collection of service team issues, you can reference this issue (and describe your issue) and mention that the resources.json model possibly needs update. I can't guarantee how quickly it would be fixed.

[2022-01-27 19:12] rgates-fieldwire opened #2640 "Stubbing behavior for SQS queue's url not returning valid URL"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2022-01-27 19:25] alextwoods commented on #2640
Hey - the stub defaults are "dumb" (and based only on the types) - to stub the method to return an expected queue you need to stub the expected response, eg:

[code]

Note, you can also use dynamic behvaior by providing a block - for an overview, see:[ Client Stubbing](https://aws.amazon.com/blogs/developer/advanced-client-stubbing-in-the-aws-sdk-for-ruby-version-3/).

[2022-01-27 19:34] rgates-fieldwire commented on #2640
I used the AWS config stubbing to inject a proper URL.

[code]

Which unblocked me. However I was also using the S3 stubbing functionality and it returned a valid URL when I got the public_url for a S3 object. The difference in behavior made me think it was a bug.

[2022-01-28 18:26] danielvdao opened #2641 "Refresh credentials for assume-role-with-web-identity calls"
**Is your feature request related to a problem? Please describe.**
When using a `DynamoDB` client, `AssumeRoleWithWebIdentity` calls happen on EKS pods to grab a AWS token using the STS client. In a Rails app, this solution can be subverted by initializing a singleton client instance on boot using the initializer. However there's an expiration time tied to these tokens and if a cluster has a lot o

[2022-01-28 18:37] danielvdao commented on #2641
As a reference, this issue has been surfaced in the Python lib: https://github.com/boto/boto3/issues/2345 and also referenced [here](https://www.rokt.com/engineering-blog/improving-app-latency-eks/). It'd be nice to have an agreed upon way to do this.

[2022-01-28 18:47] alextwoods commented on #2641
You can mange the refresh timing/scheduling yourself by calling the `refresh!` method on the credentials - because the credentials don't lock when they are not "near" ( < 5 minutes) from expiration, this won't cause other threads that are using those credentials to block.

[code]

[2022-01-28 18:55] danielvdao commented on #2641
@alextwoods let me give that a shot and get back to you :-) then for more advice.

[2022-01-28 20:08] danielvdao commented on #2641
@alextwoods what would you say to doing something like:

[code]

and in an initializer, do something like:

[code]

We're running on Rails 6 with a Puma webserver.

[2022-01-28 21:53] alextwoods commented on #2641
That seems pretty reasonable overall - I'm not sure what your environment is exactly - but I'd potentially consider a check on the `credentials` before kicking off the thread: ie, check if its a [RefreshingCredentials](https://github.com/aws/aws-sdk-ruby/blob/version-3/gems/aws-sdk-core/lib/aws-sdk-core/refreshing_credentials.rb).    You're currently checking the `credentials.expiration` which wou

[2022-01-28 22:27] danielvdao commented on #2641
@alextwoods would you be opposed to me _trying_ 🙂 to add a method in [RefreshingCredentials](https://github.com/aws/aws-sdk-ruby/blob/version-3/gems/aws-sdk-core/lib/aws-sdk-core/refreshing_credentials.rb#L20) that checks to see if an options for `auto_refresh: true` is present and in the `initialize` method, call if it `true`?

Something like:

[code]

I'm wondering if one can just pass the clien

[2022-01-28 22:43] danielvdao commented on #2641
Just to be clear (realize that I wasn't), by trying I meant opening a pull request 😅🙇🏽‍♂️

[2022-01-29 18:53] jcohenho commented on #2092
@cjyclaire I'm using the following as in the linked spec file to stub the presigned_url timestamped signature.
[code]

My test correctly runs and stubs the X-Amz-Signature param when run individually, however when I run my entire rspec test suite, it fails every time with a newly generated Signature. Is there some global pollution happening that could affect the Timestamped signature generation?

[2022-01-31 13:45] Deboshruti commented on #2318
31/02/2022 - Any update on this yet?

[2022-01-31 17:28] alextwoods commented on #2092
There shouldn't be any global pollution happening from the SDK signers - but possible something in rspec/stubbing Time.now?  Can you provide a larger example to repro?

[2022-01-31 19:25] jcohenho commented on #2092
Here are two classes with passing unit tests when run by themselves (or one right after the other). s3_presigner_spec will always pass when run against the entire suite, while bin_zip_file_spec will only pass when run individually:

[code]

[code]

Not sure if it's worth sharing the code for this second test, but I'm happy to if needed. This test will pass when run by itself, but then fail when I

[2022-01-31 19:46] alextwoods commented on #2641
I'm not opposed to providing some utility to help with the refreshing of credentials - however, I'm concerned about adding it as a parameter (even default disabled) that would get used as pat of the default provider chain.  Spawning threads for credential refreshing could be unintended/surprising for users - especially those that are creating a large number of clients.

[2022-01-31 20:00] alextwoods commented on #2092
Any chance any of the other content is changing between tests? Does the `x-amz-date` header change? I can't see from the diff you have above - but thats the header used in creating the signature.

To debug further, you could try stubbing the `Signer#sign_request` method to print out the requests and compare them.

[2022-01-31 20:42] jcohenho commented on #2092
@alextwoods sorry, I updated my previous comment to include the full URLs. `x-amz-date` is the same in both results, only the signature is different. Can you link me to the sign_request method? I can't seem to locate which one you are referring to. Thank you!

[2022-01-31 20:51] alextwoods commented on #2092
Edit: Sorry, should have been the `presign_url` method -  https://github.com/aws/aws-sdk-ruby/blob/version-3/gems/aws-sigv4/lib/aws-sigv4/signer.rb#L377

[2022-01-31 21:57] alextwoods commented on #2641
Just another thought - what if the refresh when credentials were close to expiration (ie, 5 minutes before expiration) but still valid was async?  That is - the current request would use the existing, non expired credentials, but kick off a thread that would refresh the credentials in the background?

[2022-01-31 22:24] jcohenho commented on #2092
@alextwoods you were indeed correct in your assumptions- after debugging, I realized that the URL changes based on the ID of the bin factory, but I wasn't taking the filename change into consideration when generating the signature. Everything is working now across tests, thanks so much!

[2022-01-31 23:41] danielvdao commented on #2641
Do you mean something [here](https://github.com/aws/aws-sdk-ruby/blob/version-3/gems/aws-sdk-core/lib/aws-sdk-core/refreshing_credentials.rb#L32) where we do something like:

[code]

I can see the benefit to doing something like that then is that the process checking credentials kicks off a background thread to refresh credentials instead of actually calling the auth API in-line. I think it would

[2022-02-01 00:14] alextwoods commented on #2641
Yeah - I recently had to dig into this while looking at another, related issue, but I do believe the code as is is correct (ish *, I think there is another related threading weirdness).

The reason the `near_expiration?` is checked before calling the mutex is to avoid locking as much as possible, when we aren't close to expiration.  However, once that is true and we lock, we check `near_expiration

[2022-02-01 00:25] danielvdao commented on #2641
Ah yeah, the optimization for lock fetching makes sense. As for old/new value -- hard to say 😂 (my Ruby threading knowledge is still getting there) my understanding is that there's a potential of Ruby caching whereby one needs to acquire a mutex for the most updated value of a critical variable, but in this case I imagine it's fine since we refresh near expiration.

I think the [visibility section

[2022-02-01 02:24] danielvdao commented on #2641
PR here - https://github.com/aws/aws-sdk-ruby/pull/2642

[2022-02-01 12:47] jimingeorge commented on #808
[Here](https://medium.com/homeday/the-workaround-for-extending-the-expiration-date-for-an-amazon-s3-bucket-pre-signed-url-78a0cdf9f7f7) is a workaround I found

[2022-02-01 20:35] navels commented on #2097
The shared credentials provider isn't refreshable, right?

[2022-02-01 20:46] alextwoods commented on #2097
`SharedCredentials` are not refreshable - they represent just static credentials loaded from a profile (NOT a set of credentials resolved from a profile using the `CredentialProviderChain` ).

[2022-02-01 20:57] lenon opened #2643 "Aws::SSM::Errors::ParameterNotFound#message returns a class instead of a string"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2022-02-01 21:04] alextwoods commented on #2643
Thanks for raising this - I agree this looks like it may be a bug - I'm investigating.

[2022-02-01 22:40] alextwoods commented on #2643
It looks like this behavior was introduced in #2416.  I believe this should potentially be changed to `self.class.to_s` instead. I'm checking to see to see if there are any possible issues with that change.

[2022-02-01 23:28] amancevice commented on #910
I just had this problem and got around it by instantiating an STS client and then getting the credentials:

[code]

[2022-02-02 16:52] lenon commented on #2643
Thanks, @alextwoods!

[2022-02-02 18:08] #2643 closed, assigned to alextwoods

[2022-02-02 22:01] phene opened #2645 "Using the SDK with FIPS enabled"
There appear to be a number of resources that require the use of `OpenSSL::Digest::MD5` to operate:
- aws-sdk-core's http_checksum plugin
- aws-sdk-s3
- aws-sdk-sqs

Since MD5 is not approved for use with FIPS, is there any plan to modify the APIs or SDK in order to work when FIPS is enabled?

As a point of comparison, botocore performs detection MD5 availability and sets a MD5_AVAILABLE constant.

[2022-02-03 14:30] grncdr opened #2646 "Passing filenames to Aws::S3::Client#put_object"
**Describe the issue with documentation**

Examples in [the documentation for `put_object`](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/S3/Client.html#put_object-instance_method) often pass a filename as the `:body` parameter. However, when I try this, I end up with an object containing the filename as it's content.

**To Reproduce (observed behavior)**
Here is an example from the document

[2022-02-03 14:32] grncdr commented on #2646
It's also very strange to me that the filename is stored with surrounding quotes in the S3 object. I've been unable to determine at which step of parameter parsing that occurs.

[2022-02-03 17:02] alextwoods commented on #2645
Hey - yeah this is unfortunately a known limitation (see #2397).    I wasn't aware of the `usedforsecurity` option - if we can find support (or if its eventually added) to Ruby's OpenSSL libraries we could use that.  In the meantime - I'll leave this open as a feature request and update if there are any new options or API changes.

[2022-02-03 17:31] alextwoods commented on #2646
Thanks for opening this - the documentation is unclear!  The `body` parameter is not expected to work as a file name (it can be either the body contents as a String/StringIO or it can be a File object) and the parameter documentation is: `:body (String, StringIO, File) — Object data.`.  However, I agree the examples are very confusing and make it look like the body parameter should accept a file n

[2022-02-03 19:50] phene commented on #2645
Adding reference to https://github.com/aws/aws-sdk-ruby/issues/2645 as well...

[2022-02-04 09:39] xangadix opened #2651 "Zeitwerk error"
Zeitwerk::NameError: expected file /tmp/build_418f614f/app/models/attached_trix_image.rb to define constant At                                                    tachedTrixImage, but didn't

`daan@develop:~/projects/webcamconsult$ git push staging feature/webpage:master -f
Enumerating objects: 2760, done.
Counting objects: 100% (2515/2515), done.
Delta compression using up to 2 threads
Compressing

[2022-02-04 13:28] grncdr commented on #2646
Thanks @alextwoods, I have been refactoring a bunch of S3-related code recently and when I saw the examples in the docs my first thought was "that's pretty magical... but would make my life so much easier..." too bad it doesn't work. 🤷

If I could ask for one more clarification. I noticed some code that seems like it closes files after reading them. Is that documented somewhere? It would be nice t

[2022-02-04 16:31] alextwoods commented on #2651
I'm not quite sure I understand what the issue is - could you provide some code to reproduce it?

[2022-02-04 16:46] alextwoods commented on #2646
Yeah - It would be nice if that worked, but I don't believe theres a generic way we could distinguish between file names and actual body text.

Note - the [`Object#upload_file`](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/S3/Object.html#upload_file-instance_method) method *does* take a string path and will manage opening the file and closing it (it also will handle splitting larger files a

[2022-02-04 16:53] xangadix commented on #2651
I'm not sure how this ended up here it was meant as a comment for an internal project, sorry about that. I've closed it

[2022-02-04 16:53] #2651 closed, assigned to nobody

[2022-02-04 18:08] grncdr commented on #2646
Ah that's exactly what I was looking for. Thank you!

[2022-02-08 09:31] haines opened #2654 "Attempting to use `Aws::SharedCredentials` with no `~/.aws/credentials` file fails in an unexpected way"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2022-02-08 18:43] mullermp commented on #2654
Thanks for opening an issue. I need to investigate all the possible cases, but on the surface, I agree that an error should probably be raised here.

[2022-02-09 18:42] resistorsoftware opened #2655 "S3 Direct Upload to a key"
I have a configuration where I direct upload to S3 using Rails 7. My configuration is simple:

    amazon:
      service: S3
      access_key_id: <%= Rails.application.credentials.dig(:aws, :access_key_id) %>
      secret_access_key: <%= Rails.application.credentials.dig(:aws, :secret_access_key) %>
      region: us-east-1
      bucket: "my-bucket"

My problem is, I setup my access token and secur

[2022-02-10 00:05] mullermp commented on #2655
Is this ActiveStorage usage? If so, consider opening an issue in rails/rails. Unless you're using the SDK directly, I don't know if I can help you here.

[2022-02-10 00:13] #2655 closed, assigned to nobody

[2022-02-10 20:44] svadnala opened #2656 "Preference for a credentialProvider when invoking Aws::CredentialProviderChain"
Confirm by changing [ ] to [x] below:
- [ ] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-ruby) for answers

**Descr

[2022-02-10 21:03] mullermp commented on #2656
Thanks for reaching out. You are correct about the default behavior. The credential provider chain is resolved in order and the SDK will use the first credentials that it finds.

For question 1. Instance profile credentials are last in the list. If you are seeing a mix of web identity credentials and instance profile credentials, then the conditions necessary to use web identity credentials are no

[2022-02-10 21:23] svadnala commented on #2656
Thanks for clarifying on the disruption part clearly.

As mentioned earlier we're using https://github.com/aws/amazon-eks-pod-identity-webhook to have the env variables injected to the pod, so that WebIdentiyToken can be used, am not sure how would that be possible that env variables `AWS_ROLE_ARN and AWS_WEB_IDENTITY_TOKEN_FILE` maybe null.

since we use pod-identity-webhook, think we cannot make

[2022-02-10 21:30] mullermp commented on #2656
Yep. As long as the credentials are the same, it shouldn't matter where they are sourced from.

You can make use of `AssumeRoleWebIdentityCredentials` by using the ENV variables as parameters, and even go as far as asserting that you have them:

[code]

[2022-02-10 21:31] svadnala commented on #2656
Cool, thanks for the example snippet, will check with the team and get back before closing this as resolved

[2022-02-11 23:40] kylejw2 opened #2657 "Putting an event on an nonexistent EventBridge event bus returns a success"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2022-02-13 10:20] Andrel2s opened #2659 "Hel"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[ ]

[2022-02-14 11:09] vjagetiya-jeavio commented on #1205
I am polling SQS using Aws::SQS::QueuePoller... and have poller written in config/initialiser.. when we run it locally on Puma server it works fine and on any message on Queue is processed. While when we run the same code on the Passenger server it work on initialisation but later it stops polling and is not able to poll/process any message received further once server is up.

poller = Aws::SQS::Q

[2022-02-14 16:56] #2659 closed

[2022-02-14 17:04] mullermp commented on #2657
Thanks for opening an issue. I think I would agree that this is a service issue. Let me put this in front of the EventBridge team.

[2022-02-14 17:19] mullermp commented on #2657
Do you have any request IDs that would help the service team investigate? It should be on the response context. You can also see them in the wire log when settings the client's `http_wire_trace: true`.

[2022-02-14 17:25] mullermp commented on #2656
Sounds good. I am setting this to closing soon (4 day) but you can always re-open if there's still issue.

[2022-02-14 17:42] xjcoan opened #2661 "SNS Message Validator Errors when sending to FIFO Topic"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide for v3](https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-

[2022-02-14 20:25] alextwoods commented on #2661
Can you provide the value of `Aws::SNS::GEM_VERSION` in your environment?

In the code you have, the `body` parameter isn't supported - I believe it should be `message` instead.  Changing, `body` to `message` in your example, I am able to make the request without validation raising for unexpected parameters.  (Also a side note, the documentation you linked is for V2 of the SDK, rather than V3.  Th