[2017-04-28 18:48] kalpitad opened #1503 "Add support for DynamoDB Accelerator (DAX)"
Amazon DynamoDB Accelerator (DAX) was recently released in preview mode. Currently, only a Java client is available. Are there plans to include this in the Ruby SDK?

https://s3.amazonaws.com/dynamodb-preview-dax/DAX.html
http://dax-sdk.s3-website-us-west-2.amazonaws.com

[2017-04-29 22:48] awood45 commented on #1503
Stay tuned on this one. I don't have a release date for this, but I'll pass on the request.

[2017-04-29 22:48] #1503 closed

[2017-04-30 04:07] kalpitad commented on #1503
@awood45 -- Thanks for passing this along. Did you mean to close the issue?

[2017-05-01 15:53] awood45 commented on #1501
Shared examples are written in a cross-SDK way, which wouldn't take simple attributes into account. We'll need to see how we can adapt those examples to look like they would in a call with the `:simple_attributes` setting on.

Thanks for the report!

[2017-05-01 16:51] cjyclaire commented on #1497
The API update has been included in the latest release, closing : ) Thank you for the patience.

[2017-05-01 16:51] #1497 closed

[2017-05-01 17:01] bobziuchkovski commented on #1497
@cjyclaire Thank you very much for updating that so quickly!!

[2017-05-01 21:57] hanibash commented on #1123
@MaxGabriel Did you end up resolving this issue? We are seeing something similar:

[code]

[2017-05-02 14:22] marcelocarlos opened #1504 "SharedCredentials not loading profiles from `~/.aws/config` correctly"
**Issue**

SharedCredentials not loading profiles from `~/.aws/config` correctly. Whenever I am using `SharedCredentials` referring to a profile defined in ~/.aws/config using a `role_arn`, the profile is loaded, but it doesn't assume the role specified.

Tested with aws-sdk version: `aws-sdk-core-2.9.13`

**Examples**

~/.aws/credentials
[code]

~/.aws/config
[code]

Using the SDK:

[code]

Howev

[2017-05-02 15:24] chef1729 commented on #1449
I have the same issue what was done to fix it ?

[2017-05-02 16:52] awood45 commented on #1504
When you're using `SharedCredentials` directly, it expect the access key and secret key to be set. It's meant for loading static credentials from config only. You have two choices to get the behavior you want:

* Use the default credential provider chain. `Aws::S3::Client.new(profile: 'dev', region: 'eu-west-1')` should work with the credential files described above. The only caveat is that if you

[2017-05-02 17:59] marcelocarlos commented on #1504
Thanks Alex,

I'd rather avoid using the first option exactly because of the caveat of the environment variables. I've had quite a few problems with that in the past and I'd rather make everything explicit and predictable. It seems that it is the cause of the "problems" I'm having in my tests when using the default credential provider are also related to that. Even when I the profile is explicitly

[2017-05-02 19:28] awood45 commented on #1504
That does sound like another vote for the "integrate AssumeRoleCredentials with shared config" feature request.

[2017-05-04 03:48] mcfiredrill commented on #874
I had the same issue as @tyrauber .

I'm trying to put to a bucket with a presigned url and set the acl to `public-read`.

[code]
I'm sending these headers on the client:
[code]

The file starts to upload, but I get a 403 halfway through:

[code]

Yet it looks like the header is present in the url:
[code]

I tried removing the headers from my http request on the client side, but it doesn't seem to

[2017-05-04 17:14] cjyclaire commented on #1492
Adding notes, this failure is caused by [`webmock`](https://github.com/bblimke/webmock/blob/master/CHANGELOG.md#231), their support for ruby 2.4 landed in webmock 2.3.1. If you try `bundle update`, should help fix the problem.

Meanwhile, other 2.4 refractor work is tracked at #1505, we are working on getting it merged soon : )

[2017-05-04 18:33] cjyclaire commented on #1486
Just a soft update, pagination has been integrated into their coming new feature updates, which will be landed in SDK soon : )

[2017-05-04 18:50] flyinbutrs opened #1506 "Aws::SSM::Client missing paginators"
describe_parameters is missing paginators:

[code]

[2017-05-04 19:40] cjyclaire commented on #874
@mcfiredrill Sorry to hear that you have to work around the problem by downgrading. So this is a known limitation from S3 side, we are actively working on a feature that allows flexible customizable presigned behavior in the long run. Meanwhile there is [`aws-sigv4`](https://rubygems.org/gems/aws-sigv4) available for customized signing and presigned requests.

So here are some work-around with `aw

[2017-05-04 19:50] gbonk opened #1507 "`body_contents': undefined method `rewind'"
I'm making a call to list_tags for my CloudTrail

              client.list_tags( resource_id_list: trailArns) do |tag|

              end

TrailArns has two ARN that I pulled from

              client.describe_trails.trail_list.each do |trail|
             end

And I receive the following stack trace

[code]

My version of Ruby is:  ruby 2.3.1p112 (2016-04-26 revision 54768) [i386-mingw32]

[2017-05-04 19:52] cjyclaire commented on #1507
Taking a look

[2017-05-04 19:55] gbonk commented on #1507
Nevermind.  My fault.  I'm not iterating correctly...

              client.list_tags( resource_id_list: trailArns).resource_tag_list.each do |tag|

              end

[2017-05-04 19:55] #1507 closed

[2017-05-04 19:55] cjyclaire commented on #1507
Np, glad you figure out : )

[2017-05-04 19:56] gbonk commented on #1507
It is the way my brain works.  I have to ask the question first then the answer comes to me.  I guess I need a better rubber duckie :-)

[2017-05-04 20:15] cjyclaire commented on #1492
PR #1505 has been merged and will be tagged in the next release, feel free to reopen if you still have problem with it : )

[2017-05-04 20:15] #1492 closed

[2017-05-04 20:15] cjyclaire commented on #1461
PR #1505 has been merged and will be tagged in the next release, closing, yet feel free to reopen with further questions or comments : )

[2017-05-04 22:41] #1461 closed

[2017-05-05 04:00] mcfiredrill commented on #874
@cjyclaire Thanks I may give that Gem a shot 👍

[2017-05-06 00:48] cunnie opened #1510 "Aws::EC2::RouteTable#routes has nil entry when IPv6 route exists"
Behavior: Aws::EC2::RouteTable#routes has nil entry instead of IPv6 route. IPv4 route is present & accounted for.

Output from `pry-byebug` session:
[code]
Screenshot of Route Table via GUI

<img width="614" alt="routes" src="https://cloud.githubusercontent.com/assets/1020675/25768517/594765de-31ba-11e7-8a92-65f4ac0cde6e.png">

Expected value of `table.routes`:
[code]
Version of SDK **2.9.15**, fr

[2017-05-06 00:55] awood45 commented on #1510
Can you provide a wire trace of your call? When you create a client or resource, just add a new parameter:

[code]

That will help us diagnose the discrepancy.

[2017-05-07 01:04] johnathandavis opened #1511 "CloudFormation ValidationError CreateChangeSet changeSetName"
Hello,

I'm new to the Ruby SDK (and Ruby), so perhaps I'm looking over something obivous. I'm using the AWS Ruby SDK v2.9.15. My script is running from inside CodeBuild as a post-build step using Ruby version 2.3.1.

I'm calling the CloudFormation CreateChangeSet API using this code  (extra parameters omitted for space):

[code]

And get this error message:
[code]

I get this error message with a

[2017-05-08 14:42] rhymes opened #1512 "Branch for v3"
Where do I find the code and changelogs for V3?

Thanks

[2017-05-08 15:58] cunnie commented on #1510
Hi @awood45 ,

I've posted a gist of the trace [here](https://gist.github.com/cunnie/1aa747751aa68aaab97932df38883677#file-route_table_trace-txt-L409). Line 409 seems to be the point of interest, and it seems to have the proper information.

I've redacted it to remove our rspec debugging lines and to anonymize our AWS KEY.  **please let me know if I have left any creds in the trace that may compro

[2017-05-08 16:51] cjyclaire commented on #1512
@rhymes Thank you for the interest : )
The branch is [`code-generation`](https://github.com/aws/aws-sdk-ruby/tree/code-generation)
As for the changelog, each gem has it's own changelog, such as: [S3 Changelog](https://github.com/aws/aws-sdk-ruby/blob/code-generation/gems/aws-sdk-s3/CHANGELOG.md). There is also `aws-sdk` [changelog](https://github.com/aws/aws-sdk-ruby/blob/code-generation/gems/aws-

[2017-05-08 16:58] cjyclaire commented on #1512
Closing, yet feel free to reopen with further questions : )

[2017-05-08 16:58] #1512 closed

[2017-05-08 17:35] cjyclaire commented on #1510
@cunnie Soft update, I can reproduce this, working on investigating

[2017-05-08 18:00] cjyclaire commented on #1510
@cunnie Quick update, the problem might has to do with resource models, it could be possible that our resource model is outdated. If using ec2 client directly, it works fine without problem:
[code]

[2017-05-08 19:46] cjyclaire commented on #1510
@cunnie Soft update, this is caused by our resource model definition doesn't include `DestinationIpv6CidrBlock` in the [model](https://github.com/aws/aws-sdk-ruby/blob/code-generation/apis/ec2/2016-11-15/resources-1.json#L1445), it only includes `DestinationCidrBlock`.

I'll open a PR to address the fix shortly. Thanks for your patience

[2017-05-08 20:45] cjyclaire commented on #1510
PR #1513 is opened, which is under review.

[2017-05-08 20:51] cjyclaire commented on #1511
@johnathandavis Thanks for the info. taking a look.

[2017-05-08 20:51] cunnie commented on #1510
Thanks @cjyclaire — that's big help!

[2017-05-08 21:56] cjyclaire commented on #1511
@johnathandavis I tried with different change set name with numbers or '-', and I couldn't reproduce the problem with any of them. Your code snippet looks fine with me (assuming you intentionally omit `template_url` or `template_body` since they are irrelevant to this failure?).

The Error received is a service side validation failure, which is not caused by SDK client side validation. So for furt

[2017-05-09 09:42] rhymes opened #1514 "Relax v3 gems version of aws-sdk-core"
Hi,

I'm using aws-sdk-s3 1.0.0.rc3 and aws-sdk-sns 1.0.0.rc1 succesfully without a problem.

I was trying to upgrade both to the latest rc version so I started with upgrading aws-sdk-sns to 1.0.0.rc2.

When I launch the tests though I've encountered this error:

LoadError: cannot load such file -- aws-sdk-core/plugins/jsonvalue_converter.rb
/Users/rhymes/.rvm/gems/ruby-2.3.4/gems/activesupport-4.

[2017-05-09 16:29] cjyclaire commented on #1514
@rhymes Thanks for reporting, appreciate that!

I suspect that we failed to automatically bump version when core gem introduce changes to all service gems, I'm working on the fix and update shortly. The temporary work-around for this is that specifying the `aws-sdk-core` version directly in service gems.

[2017-05-09 16:29] #1511 closed

[2017-05-09 19:29] cjyclaire commented on #1514
@rhymes Soft update, this is a bug with `.rc` version locking only, I have merged the fix in [build](https://github.com/aws/aws-sdk-ruby/commit/4d837df5dedf0740c1e113ec81b7dbb8570b5c83) and did a new [release](https://github.com/aws/aws-sdk-ruby/commit/c71bb3b9294c52a61cad8c3ddade502604c4d969) including generated fixes just now.  After the gem publishing process is done, I'll update and close the

[2017-05-09 21:42] rhymes commented on #1514
@cjyclaire thank you for the swift response and fix!

[2017-05-09 22:23] cjyclaire commented on #1514
@rhymes Both gems are out: [`s3`](https://rubygems.org/gems/aws-sdk-s3/versions/1.0.0.rc7) and [`sns`](https://rubygems.org/gems/aws-sdk-sns/versions/1.0.0.rc4). And I have tested locally, closing, feel free to reopen with further questions or problems : )

[2017-05-09 22:23] #1514 closed

[2017-05-10 13:49] Shockolate opened #1515 "Lambda::Client#list_aliases stub_responses only responding with last element in Array<Hash>"
When stubbing the client and the #list_aliases method by passing in an array of Hashes,  only the last element is returned.
Strange behavior because the `stub_responses` for `#list_versions_by_function` works as intended with the `next_marker` field.

Source Code:
[code]

Test Code:
[code]
Output:
[code]

[2017-05-10 16:34] cjyclaire commented on #1515
@Shockolate Thanks for the info. Taking a look ...

[2017-05-10 17:34] cjyclaire commented on #1515
@Shockolate Interestingly, I couldn't reproduce it with the code snippet provided:
[code]
One thing might be worth checking is that, with your response result, when your client call `#list_aliases`, could it be possible that you are not checking the first call? Because when stubbing 2 responses, after first attempt, no matter how many time it makes the call, it will return the second response. And

[2017-05-10 17:49] Shockolate commented on #1515
@cjyclaire my ruby REPL  seems to agree with you. ~~Double~~ Triple checking my code :)

[2017-05-10 17:55] Shockolate commented on #1515
@cjyclaire Totally a bug in my code. I thought `#list_aliases` was called 0 times before the source code I posted. I was wrong: `#list_aliases` was called once before.

Sorry for wasting your time :/

[2017-05-10 17:55] #1515 closed

[2017-05-10 17:59] cjyclaire commented on #1515
@Shockolate No problem at all, glad that you figure it out : )

[2017-05-11 22:48] cjyclaire commented on #1486
Pagination has landed in `v2.9.17`, closing, thanks again for your patience : )

[2017-05-11 22:48] #1486 closed

[2017-05-16 10:05] rpradhi opened #1517 "How to sign urls for longer than a week using aws-sdk V2 for Ruby?"
Hi,

I want to sign URL's for longer than a week with AWS-SDK V2 in Ruby. Now i am using SDK V1 for URL Signing and for other purposes using V2. If V2 does this url signing which dont expire for a long term I can universally use V2 alone in my application.

Use case for having Long expiry of signed URL's: I am saving the URL in the database which is been accessed by the webservice.

Is that possib

[2017-05-16 17:02] cjyclaire commented on #1517
@rpradhi You can, there is an [`expires_in`](http://docs.aws.amazon.com/sdkforruby/api/Aws/S3/Presigner.html) parameter available for setting expiration.

[2017-05-16 17:13] awood45 commented on #1517
This is a limitation of Signature Version 4, you can't extend the signature expiration time out further than that. Here's the comment on this from an earlier issue #1345

"The limit in the v2 SDK is not flexible. The version 2 SDK uses AWS signature version 4. Sigv4 has the hard requirement that signatures are never valid for longer than 1 week. The v1 SDK uses an older signature version that does

[2017-05-16 17:13] #1517 closed

[2017-05-17 00:37] cconstantine opened #1519 "Unable to get tags on elasticbeanstalk environments"
Hello,

I've been scouring the docs for the better part of the day, and I can't figure out how to get the tags assigned to an elastic beanstalk environment.  I can see the tags on the web UI, but I would like to programmatically get them.

Thanks!

[2017-05-17 14:48] rpradhi commented on #1517
@awood45 Thanks for you for the detailed explanation. It helped

Between from my use case will AWS CloudFront signing URL serves the purpose of Long time expiry?

[2017-05-17 14:51] rpradhi opened #1520 "Extending Signed-URL implementation with AWS Cloud Front"
With respect to issue #1517  @awood45  Thanks for you for the detailed explanation. It helped

Between from my use case will AWS CloudFront signing URL serves the purpose of Long time expiry as AWS SDK V2 dont support Long time expiry? Please confirm

[2017-05-17 16:58] cjyclaire commented on #1519
@cconstantine Thanks for the information, looks like from public doc right now, it doesn't has a `describe` or `list` operation that contains tag information. I'll reach out to service team for some lights. Also, feel free to cut ticket to [`Aws Support`](https://console.aws.amazon.com/support/home) to make your voice heard as well : )

[2017-05-17 17:20] cconstantine commented on #1519
Oh wow, yeah.  Not having a public API for getting beanstalk tags seems like a decent reason for this gem not having a method for getting those tags.  Thanks for reaching out internally.

It appears that we don't have a high enough support contract to make a support request :(

[2017-05-17 17:24] cjyclaire commented on #1519
@cconstantine No problem at all, all feedback are highly valued, I'll keep updating : ) Appreciate your patience!

[2017-05-18 07:20] benoittgt opened #1521 "uninitialized constant Aws::Json::Handler::Builder"
Hello

I'm using version 2.6.44 and few hours ago, four times we received:
`uninitialized constant Aws::Json::Handler::Builder`
[code]

It's a random issue.

Is it related to https://github.com/aws/aws-sdk-ruby/issues/1271#issuecomment-239839723 ?

That's not easy to validate because I don't know how to reproduce this issue.

[2017-05-18 14:20] awood45 commented on #1521
My immediate guess would be that they are related, and the same workarounds apply. The modular SDK release is the long term fix.

Will leave this open a bit to see if those workarounds work for you.

[2017-05-18 17:02] awood45 commented on #1520
Possibly? I think it depends on what you're trying to do, but I haven't spent a lot of time around that side of CloudFront personally. I'd recommend some of the resources in our [Getting Help](https://github.com/aws/aws-sdk-ruby#getting-help) guide to answer this question.

[2017-05-18 17:02] #1520 closed

[2017-05-18 23:45] cjyclaire commented on #1519
@cconstantine Appreciate your feedback and patience, this feature is tracked in ELB's backlog now : )

[2017-05-18 23:45] #1519 closed

[2017-05-19 22:52] awood45 commented on #1521
Going to go ahead and close this, but feel free to reopen if workarounds don't improve the situation.

[2017-05-19 22:52] #1521 closed

[2017-05-20 15:08] jlaxson opened #1522 "Batch TooManyRequestsException is not retried as a throttling exception"
When Batch throttles, it returns a 429 with error TooManyRequestsException.  The sdk treats this as a fatal error and not one that should be retried with backoff.

[2017-05-22 17:16] awood45 commented on #1522
Thanks for the heads up - going to write a patch for this.

[2017-05-22 17:32] #1522 closed

[2017-05-22 17:32] awood45 commented on #1522
Thanks for the report! This will be retryable with the next release.

[2017-05-22 22:41] JiaYangSF commented on #876
I was trying to run the webapp test that passed in device farm in jenkins, then I got this:
[JENKINS] Archiving /apps/automation/web_mobile/pom.xml to com.myfico.webapp/myFico-WebApp/0.0.1-SNAPSHOT/myFico-WebApp-0.0.1-SNAPSHOT.pom
[JENKINS] Archiving /apps/automation/web_mobile/target/myFico-WebApp-0.0.1-SNAPSHOT.jar to com.myfico.webapp/myFico-WebApp/0.0.1-SNAPSHOT/myFico-WebApp-0.0.1-SNAPSHOT.ja

[2017-05-25 14:30] deepeeess opened #1526 "\\n does not properly parse in send_raw_email (SES)"
I am unable to use `\n` to specify a newline character in a string for send_raw_email as specified here:

http://docs.aws.amazon.com/sdkforruby/api/Aws/SES/Client.html#send_raw_email-instance_method

For example, the following code fails with the stacktrace below:

    resp = @ses.send_raw_email({
    raw_message: {
        data: "From: user@domain.com\\nTo: user@domain.com"
      }
    })

Stack

[2017-05-25 19:14] cjyclaire commented on #1526
Taking a look

[2017-05-25 19:26] awood45 commented on #1526
Curious why you're double-escaping the `\n` character - I haven't looked at email protocols in a while but if you're looking for a newline why not do this?

[code]

I think your blockstring variant would encode that way.

[2017-05-25 19:52] deepeeess commented on #1526
The example link in the official AWS doc I posted double escapes it, I've tried it single escaped, still still bombs out.

[2017-05-25 19:58] islemaster commented on #1331
Hi there!  I'm a colleague of @wjordan.  This issue has recurred for us using [`aws-sdk-core` 2.9.14](https://github.com/aws/aws-sdk-ruby/tree/v2.9.14/aws-sdk-core/lib).  Here's a recent stacktrace:

[code]

[2017-05-25 19:58] awood45 commented on #1526
Well if they're both bombing out, that's definitely interesting. Your `mailtext` string above just renders as `"From: user@domain.com\nTo: user@domain.com\n"`.

[2017-05-25 19:59] awood45 commented on #1331
Let's reopen and take a look...

[2017-05-25 20:03] deepeeess commented on #1526
I'll verify it again, but I'm almost certain both ` data: "From: user@domain.com\\nTo: user@domain.com"`  and  data: "From: user@domain.com\nTo: user@domain.com" will fail.  It could be that I need a trailing `\n` after the `To:` field.  Give me a few minutes and I'll test.

[2017-05-25 20:13] deepeeess commented on #1526
Ok. I was wrong.  The double escaped `\\n` [as specified in the documentation](http://docs.aws.amazon.com/sdkforruby/api/Aws/SES/Client.html#send_raw_email-instance_method) is what causes the failure.  It will work with or without a single escaped `\n` without a trailing slash after the `To:` field. Thank you 👍

[2017-05-25 21:06] awood45 commented on #1526
Ok - glad that fix worked. Also, thanks for reporting because the documentation shouldn't be steering you wrong like that.

[2017-05-25 21:08] deepeeess commented on #1526
Yeah I agree the documentation should be updated.  Thank you again for your help.

[2017-05-26 22:07] ohTHATaaronbrown opened #1527 "Aws::DynamoDB::Client reads items with some UTF-8 chars in string properties incorrectly"
I have an item in a DynamoDb table that has a string property storing YAML markup, which contains this:

[code]

I can store that value, and confirm that it's stored correctly by viewing it using the AWS DynamoDb console.

When I read the value back out, using code similar to this:

[code]

What I get is this:

[code]

In https://stackoverflow.com/questions/41756526/cannot-delete-dynamodb-record-c

[2017-05-29 19:14] cunnie commented on #1510
@cjyclaire : I'm closing this issue because there's an open PR to fix and, on our end, we've inserted a nil-check in our code to get past this particular error. Thanks again for all your help.

[2017-05-29 19:14] #1510 closed

[2017-05-30 14:20] stiller-leser opened #1528 "Aws::S3::Presigner on bucket, not key level"
Is it possible to create a presigned URL for a whole bucket instead of just one specific key? The scenario here would be a bunch of blobs (packaged as form-data) coming from ajax-requests in the browser. They would need to be stored into mybucket.s3-my-region.amazonaws.com/path/to/storage/location .

[2017-05-30 18:27] cjyclaire commented on #1528
@stiller-leser Thanks for the information, first, currently no. PresignedUrls are based on single operation currently, such as `#get_object` or `#put_object`, for those operations `key` is a required parameter as you see. I heard your use case, after a quick thought, I couldn't find a single operation tied to it specifically.

Meanwhile an enhanced and flexible presigned interface feature has alre

[2017-05-30 18:32] cjyclaire commented on #1527
@ohTHATaaronbrown Thanks for reporting! Taking a look to reproduce and test the proposed fix. Meanwhile, happy to take a PR to review as well.

[2017-05-30 19:17] awood45 commented on #1528
I think a bit more clarification is needed on what you're trying to do. I can see two approaches - one you can do today with some code, and one that is not possible:

If you want to get presigned URLs for everything in a bucket at a given point, that's not difficult:

[code]

If you want a presigned URL that gives you some sort of navigable, updating interface, the problem is that that's stacking

[2017-05-30 19:31] cjyclaire commented on #1527
Soft update, unable to reproduce with my local Mac environment with ruby 2.3.3p222, will try to reproduce in a similar environment instead.

[2017-05-30 23:33] cjyclaire commented on #1527
Update, I tried with an newly launch EC2 windows instance and still couldn't reproduce. Happy to take a PR with the fix if you can reproduce that in your environment. Just heads up, make sure you have spec test in your PR with this issue : )

[2017-05-31 06:30] stiller-leser commented on #1528
First off, thanks for the elaborations. I really appreciate it.

The use case here is the following:
Uploading a file every x seconds from the user's browser directly to AWS S3. Yes, we could send a request every x seconds to the rails server to generate a signed url for that specific use case. The goal however was to minimize the interaction with the server as they could not only potentially DDOS

[2017-05-31 07:36] sharang-d commented on #1389
@cjyclaire Sorry for the late response.

I'm sorry but I don't understand what you mean. Is this is setting on the bucket or something like that which you are referring to?

[2017-05-31 12:47] ohTHATaaronbrown commented on #1527
Hmm... That's odd. I wonder if the ambient default encoding for the Ruby install might have something to do with it. I noticed yesterday that mine was set to `IBM437` for some unknown reason.

[code]

I'll investigate further in my environment, and if I can come up with a solid set of reproduction steps that I can codify into a test, I'll look into making up a PR for it.

Thanks for examining"

[2017-05-31 17:07] cjyclaire commented on #1389
@sharang-d No problem at all,  happy to reconsider this as a feature request with more information :).

So the reason why I'm curious and need more information is that, for S3 virtual hosting bucket style, the scheme is set to `http`, it's intentional. I'd like to hear more about why you would want `https` for virtual host style bucket. If you just want `https`, you can try [`:force_path_style`](h

[2017-05-31 17:16] awood45 commented on #1528
Given your requirements, it seems like the JavaScript SDK approach is the right one. Or you could make the S3 objects public and potentially reduce the amount of server-side URL generation you need to do, but I suspect that's not the goal here.

What bringing in Cognito does for you is to help solve the authentication problem. Presigned URLs aren't really designed to do what you're trying to do, s

[2017-05-31 17:16] #1528 closed

[2017-05-31 22:24] cjyclaire commented on #1526
I reached out to service team about this documentation confusion, it's in they backlog : )
Appreciate your reporting, closing. Yet feel free to reopen with further question or comments.

[2017-05-31 22:24] #1526 closed

[2017-06-01 04:39] sharang-d commented on #1389
@cjyclaire

I have configured a Cloudfront Distribution to serve objects from this bucket using a custom domain name over both HTTP and HTTPS.
I'm using the result of `object.public_url(virtual_host: true)` to display an image in the browser. When an HTTP URL is used I see the [mixed content warning ](https://developer.mozilla.org/en-US/docs/Web/Security/Mixed_content) telling me that "an insecure

[2017-06-08 00:03] BanzaiMan commented on #1502
@cjyclaire Hello. It's a bit over a month now, but the documentation has not been updated. Perhaps I'm a little impatient, but I'd appreciate some updates. Thank you!

[2017-06-08 02:03] cjyclaire commented on #1502
@BanzaiMan No worries, I'll follow up with service team with this : ) appreciate your patience!

[2017-06-13 17:48] ghostsquad commented on #1262
@awood45 is there another alternative to `Aws.use_bundled_cert!` ?

[2017-06-13 18:28] yjchieng opened #1532 "presigned_url return URL with unicode encoded query string"
Code:

[code]
url:

`filename.txt?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIBPRXOTS5N4QXQQA%2F20170613%2Fap-southeast-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20170613T181703Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=b0fddaf7063c7d7e7185dee4df1d47355211d8df1d62eafaf7795f2b65dc63a5`

This URL isn't valid because all the query strings, such as "&X-Amz-

[2017-06-13 18:34] #1532 closed

[2017-06-14 18:49] cjyclaire commented on #1413
This has been fixed in V3 documentation (which is compatible with v2 docs).
Closing : )

[2017-06-14 18:49] #1413 closed

[2017-06-16 12:09] Erowlin commented on #1371
Bump. It's still unclear whether you can stub a resource or not.
Is `Aws::EC2::Resource.new(stub_responses: true)` gonna work?

I found it counter intuitive to create a stubbed client and pass it to the resource, since it can false the specs. I currently do that whenever I want to upload something to S3:
[code]

[2017-06-16 16:35] cjyclaire commented on #1504
Tracked in our feature backlog, closing.

[2017-06-16 16:35] #1504 closed

[2017-06-16 16:35] cjyclaire commented on #1468
This is tracked in our feature backlog, closing.

[2017-06-16 16:35] #1468 closed

[2017-06-16 16:37] cjyclaire commented on #1527
Closing due to inactiveness, yet feel free to reopen with further information or questions : )

[2017-06-16 16:37] #1527 closed

[2017-06-16 23:22] janko-m opened #1535 "Aws::S3::Client#get_object can use range requests to resume interrupted downloads"
This [Amazon article](https://aws.amazon.com/blogs/developer/downloading-objects-from-amazon-s3-using-the-aws-sdk-for-ruby/) describes various ways in which you can download objects from S3. The Seahorse client currently retries any failed requests, which includes interrupted downloads. It retries them like any other request, by re-issuing the same request. That way it's currently not possible for

[2017-06-17 16:39] tongueroo opened #1536 "describe_instances returning only 1 result"
Seeing some strange behavior. With the ruby aws-sdk I'm always seeing only 1 instance return even though I have 4 instances and see 4 instances being returned in the aws cli.  Here's some debugging output.

Thinking I'm doing something silly here. Any guidance is appreciated.

I tried setting max_results to 50 just in case that could help but no luck there.  Using version: 2.9.42

[code]

Using la

[2017-06-18 00:52] tongueroo commented on #1536
Interesting, the Resource api returns the right number of instances.

[code]

[2017-06-19 15:25] mbaxa opened #1537 "Install error: "no implicit conversion of nil into String""
## Overview
When trying to `gem install` aws-sdk on El Cap, I get `no implicit conversion of nil into String` (details below).

## System Information
* Mac OS X 10.11.6 (15G1510)
* System ruby (ruby 2.0.0p648 (2015-12-16 revision 53162) [universal.x86_64-darwin15])

## gem install output
[code]

[2017-06-19 17:26] cjyclaire commented on #1537
@mbaxa That looks weird to me, try to reproduce with that ruby version on my mac right now ...

[2017-06-19 17:41] cjyclaire commented on #1537
@mbaxa I couldn't reproduce the error with exactly same ruby version. Could you share more error traces by `--backtrace` option? That might helps identifying the cause?

[2017-06-19 18:31] cjyclaire commented on #1347
Closing, this issue goes away in V3 documentation(which is currently under preview and is backward compatible with v2 doc). Adding some side notes: in V3, service errors are auto generated based on its shape from [`DynamicError`](https://github.com/aws/aws-sdk-ruby/blob/code-generation/gems/aws-sdk-sns/lib/aws-sdk-sns/errors.rb) module, and binds to its [operation](https://github.com/aws/aws-sdk-r

[2017-06-19 18:31] #1347 closed

[2017-06-19 19:04] mbaxa commented on #1537
[code]

[2017-06-19 19:07] awood45 commented on #1537
This appears to be an issue with your RubyGems setup, rather than the aws-sdk gem. [Likely related issue.](https://github.com/rubygems/rubygems/issues/1668)

I'd recommend you upgrade your version of RubyGems and see if that fixes the issue for you.

[2017-06-19 19:51] mbaxa commented on #1537
Did `sudo gem update --system`, it worked fine, now I get the following different error when running `sudo gem install -V --backtrace aws-sdk`
[code]

[2017-06-19 19:55] cjyclaire commented on #1535
Thanks for bring up the idea, appreciate that. I'd happy to dig more to see how do we make it clear as a feature request or enhance the user experience there. For the download, we release [`multipart downloader`](https://github.com/aws/aws-sdk-ruby/blob/master/CHANGELOG.md#2912-2017-04-26) in April, when it's making requests by `:range` or `:part`, when a single request fails, it ensures cleaning

[2017-06-19 19:59] awood45 commented on #1537
I think this may have to do with the general recommendation not to use `sudo` with RubyGems, but I'm not sure what is specific to your environment.

I've found [a Stack Overflow question](https://stackoverflow.com/questions/31972968/cant-install-gems-on-os-x-el-capitan) which seems to address your exact issue. I'd look through those answers and see which options work best for you.

Closing as I th

[2017-06-19 19:59] #1537 closed

[2017-06-19 20:20] mbaxa commented on #1537
Yeah, looks like system ruby is just a no go for OS X, too many problems getting it to work.

[2017-06-19 20:30] janko-m commented on #1535
Thanks for a thorough answer!

I did consider the new multipart downloader, however, my use case is a bit different than normal download. I actually need the to stream the content (i.e. pass a block to `#get_object`), because I'm allowing users to *partially* retrieve object's content, without having to fully download it. [Here](https://github.com/janko-m/shrine/blob/6047895005624e5451951271461e8c

[2017-06-19 21:16] joshlory commented on #1331
Is there any additional information we can provide to help investigate the error?  Thanks!

[2017-06-19 21:25] awood45 commented on #1331
It's just interesting because Trevor's original comment about the mutexes seems to still apply. If you have some sort of scenario that can reliably recreate this (if possible) that may help.

Additionally, how frequently are you seeing this issue currently?

[2017-06-19 22:21] cjyclaire commented on #1535
@janko-m Thanks for the information, I see.

Well, as that blog post suggests:

However, if partially retrieve is your main concern, I'm thinking perhaps we could add an extra `:recover` mode for multipart downloader that writes partial contents to specified file and returns the last part/range bytes information if retry still fails, and accordingly, it should also have a easy usage interface if w

[2017-06-20 06:06] janko-m commented on #1535
I'm not sure if that will have all the benefits of using `#get_object`.  For one, we don't know how much the user wants to download, the user chooses that, and I don't think it would be easy to add such an on-demand behaviour to the multipart downloader.

[code]

Secondly, using the `multipart downloader` would mean the contents would necessarily need to be downloaded to disk. However, that's not

[2017-06-20 06:09] mdub opened #1538 ""Could not find EC2 instance" error in ELB instance_in_service waiter"
I'm using the `instance_in_service` waiter, as follows:

[code]

I'm seeing occasional failures, of the form:

[code]

The intermittent nature suggests a race-condition.

[2017-06-20 14:05] toaster opened #1540 "CredentialProviderChain does not read ENV['AWS_PROFILE']"
Best explained by code:
[code]

This should be easily solvable by omitting the `profile` when creating `SharedCredentials` without config instead of explicitly use `default`.

[2017-06-20 17:28] cjyclaire commented on #1535
@janko-m Ah I see, thanks for the clarification,  I agree it's a separate issue, tagging this as a feature request, happy to take a PR for review. I'll do some benchmarking/exploring myself : )

[2017-06-20 17:45] cjyclaire commented on #1538
@mdub Thanks for the information, as you mentioned,

Does this happens with a newly launched Ec2 instance? Or a instance just removed and terminated?

I'm trying to reproduce this scenario to see what we can do to make that waiter more robust. Interestingly, the only situation that I can reproduce the error is when I used a wrong instance id, so I'm guessing this is happening when an instance has

[2017-06-20 19:42] janko-m commented on #1120
I *think* this is already possible by passing a `Proc` as a stub value. I discovered this feature when reading tests for aws-sdk itself, and I just made a PR to document this: https://github.com/aws/aws-sdk-ruby/pull/1539.

To take your original example, you should be able to do something like this:

[code]

[2017-06-20 20:42] cjyclaire commented on #1540
Thanks for reporting, PR #1541 has opened to address the fix

[2017-06-20 20:53] toaster commented on #1540
Thanks for the fast fix. Out of curiosity I had a look at the PR and wondered why you looked into `ENV` in the `CredentialProviderChain` instead of letting the `SharedCredentials` do its already existing lookup logic.
Digging even further I found out, that `SharedCredentials` duplicates (and therefore hides) the logic of `SharedConfig` which has the same fallback chain but only gets called for the

[2017-06-20 20:56] awood45 commented on #1540
At first glance, looks like an oversight when adding the `SharedConfig` layer. Hence the bug-nature of this.

[2017-06-20 20:59] mdub commented on #1538
@cjyclaire: It's happening for newly launched instances. I'm running it (the waiter) on the new instance itself – waiting for ELBs to mark it healthy, before sending a success signal to CloudFormation.

I think an "error" matcher needs to be added to the definition of the "InstanceInService" waiter. I'll send you a PR ... but imagine you'll need to get it fixed upstream (the waiter definitions are

[2017-06-20 21:06] cjyclaire commented on #1540
@toaster The reason for that is because for `SharedCredentials`, it allows `:profile_name` overwrite . Making `ENV` goes first there will lose the overwrite behavior there.

[2017-06-20 21:26] cjyclaire commented on #1538
@mdub Makes sense, thanks for your contribution all the same! I'll pull this PR upstream : )

[2017-06-20 22:03] tongueroo commented on #1536
@cjyclaire Thank you so much!  That was exactly the issue. I had a feeling that I was doing something silly.

Here's an example of it working.

[code]

NOTE: I'm back down to 2 instances.

[2017-06-20 22:03] #1536 closed

[2017-06-20 22:18] awood45 commented on #1540
Releasing this fix as `2.10.0`. It's a minor version bump since it has an effect on the default behavior for some customers, potentially.

[2017-06-20 22:18] #1540 closed

[2017-06-20 22:30] jeremydstone commented on #1331
It occurs periodically in bursts. For example, we had this happen not at all for the 2 weeks leading up to June 13. Then it happened 252 times on June 13 and 119 times on June 14. Then not at all for a few days, then 511 times on June 19.

When this does happen, it appears to be in a concentrated burst at a rate of about 1-2 faults per minute. They have all been on the same front end server within

[2017-06-21 11:54] toaster commented on #1540
I'm not convinced regarding the necessity of evaluating `ENV['AWS_PROFILE']` in `CredentialProviderChain`. Please see my simplified patch which leaves the specs (`rake test`) green.

[2017-06-21 16:55] cjyclaire commented on #1540
@toaster Yes, it's true, it's feasible to let the `SharedCredentials` have the default logic. That's why I edited my response ; )

The reason is, first I'd like to `CredentialProviderChain` deciding those default behavior, making `SharedCredentials` class as clean as possible : )

[2017-06-21 20:09] toaster commented on #1540
@cjyclaire I understand. But at the moment, you have two (with `SharedConfig` three) implementations of the “explicit profile -> AWS_PROFILE -> default” fallback chain.

[2017-06-21 20:15] awood45 commented on #1540
A refactor is reasonable, can review as a PR.

[2017-06-21 21:22] cjyclaire commented on #1506
Landed in release [v2.10.1](https://github.com/aws/aws-sdk-ruby/releases/tag/v2.10.1), closing : )

[2017-06-21 21:22] #1506 closed

[2017-06-22 06:19] toaster commented on #1540
The refactor should happen in the context that @cjyclaire gave regarding the responsibility for the fallback. I have not enough knowledge to decide this and leave it to you guys :).

[2017-06-22 23:40] cjyclaire commented on #1538
This will lands in v2.10.2 release, which will be out in an hour, closing.

[2017-06-22 23:40] #1538 closed

[2017-06-23 05:38] shantilal-narola opened #1544 "Unable to upload a large file with almost 3 GB to S3 using AWS-SDK"
Hello All,

I'm working with ruby 2.3.1 and rails 5.0.1. aws-sdk version 1.66.0

I have rails background  and have been using AWS SDK for uploading folder and maintain the hierarchical structure.  To upload the folder, i recursively upload my file and followed [this](https://gist.github.com/fleveque/816dba802527eada56ab) and the original [article](http://www.avitzurel.com/blog/2013/12/03/upload-fo

[2017-06-23 09:27] astratto opened #1547 "How to extract Export Name from outputs"
Hi,

Unless I'm missing something, Export Names are not extracted when listing the outputs of a Stack.

[code]

Is there a reason why the export name is not there?

[2017-06-23 18:30] cjyclaire commented on #1501
This has been tracked in our backlog, closing.

[2017-06-23 18:30] #1501 closed

[2017-06-25 17:58] KohheePeace opened #1549 "【Question & Help】Direct to S3 Image Uploads in Rails and React."
Hi, I want to upload image directly from the client side, but I cannot do it well. Can anybody help me?

**version**
Rails 5.1.1
ruby 2.4.1
aws-sdk 2.10.3

**my logic**
1. drug and drop the image to the Dropzone field
2. make ajax call by axios, then get the signedUrl
3. upload the image file by making the put request with the signedUrl

**Client Side (react)**: I'm using react-dropzone
[code]

**

[2017-06-26 16:32] awood45 commented on #1549
I'd recommend going to Stack Overflow for help with how to use React with Rails. Take a look at our [Getting Help](https://github.com/aws/aws-sdk-ruby#getting-help) section in the README.

In any case, it looks like your `upload` route is just rendering an existing object, which wouldn't make sense for a drag and drop upload. I don't have the React expertise to put that together, but Stack Overflo

[2017-06-26 16:32] #1549 closed

[2017-06-26 16:36] awood45 commented on #1547
I'm unable to reproduce this, and to be honest not sure what you're referring to. Can you refresh my memory on what you're expecting to find?

[2017-06-26 16:38] awood45 commented on #1544
I'm not finding a history of this type of issue with V1 of the SDK. One thing to keep in mind is that V1 is end of life, so while we can try to point you in the right direction, there won't be any further code updates to that library, even for bugs (except security issues that may arise, which we will still patch).

If you have any stack traces where an error is occurring, that would be helpful.

[2017-06-26 16:39] awood45 commented on #1544
I may also recommend looking in to the [Getting Help](https://github.com/aws/aws-sdk-ruby#getting-help) section of the wiki, as Stack Overflow is another source of support, if community members have seen this issue before.

Of course, my biggest recommendation would be to switch over to V2 of the SDK, which is actively supported, to see if that resolves your upload issue.

[2017-06-26 16:44] astratto commented on #1547
@awood45 sure, thanks for looking into this.

CloudFormation outputs have a Key, Value, Description and optional Export name: http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/outputs-section-structure.html

![image](https://user-images.githubusercontent.com/207754/27550282-05e770b8-5a97-11e7-9d20-3ff870fd7367.png)

The Export Name is not extracted, even when present.
Let me know if yo

[2017-06-26 17:06] awood45 commented on #1547
It would be useful to see the output of the following:

[code]

Feel free to anonymize as needed, the question is if the service is returning the values you're expecting. If it is, then we may need to look at the model. If it is not, the issue does not lie with the SDK.

[2017-06-26 17:22] astratto commented on #1547
Okay, using the SDK I get back a `Aws::CloudFormation::Types::DescribeStackOutput` with a `stacks` list of `Aws::CloudFormation::Types::Stack` that then have parameters of type `Aws::CloudFormation::Types::Output`.

[code]

Nothing surprising, so I used the aws cli and the export names are not exposed there neither...
[code]

And then found this: https://github.com/aws/aws-cli/issues/2637

[2017-06-26 17:27] awood45 commented on #1547
That's definitely a possible issue, that would be along the lines of "if the service is sending it over the wire but we don't render it..." that was my leading guess.

I'll try to get an update about what the service team is doing about this.

[2017-06-30 18:05] cjyclaire commented on #1484
@mhussain Is this still happening frequently for you? I couldn't reproduce this with a sample poller usage from SDK side, you can also cut a support TT to [AWS Support](https://console.aws.amazon.com/support/home) that can help look into the request as well.

[2017-07-02 10:15] lwoggardner opened #1550 "continue_update_rollback missing from Aws::CloudFormation::Stack"
I would expect this method to exist alongside #cancel_update and #delete for an existing stack.

[2017-07-03 17:13] cjyclaire commented on #1550
@lwoggardner  Thanks for reporting! Marking this as a resource model update task.

[2017-07-04 14:41] mikeys commented on #587
To whoever it may concern:
I think that the issue may be a bit different than what has been described and is a result of wrong thread handling:

In `https://github.com/aws/aws-sdk-ruby/blob/aws-sdk-v1/lib/aws/core/credential_providers.rb#L48`:
[code]

Using `EC2Provider` - Every thread which tries to fetch `credentials`, basically resets `@cached_credentials` if `near_expiration?` is true:
[code]

[2017-07-06 21:46] SGospodinov commented on #196
Hello, can someone please tell me with the what is expected behaviour if aws does not receive expected checksum. I mean is there is some kind which will be raised or how I can handle such a behaviour?

[2017-07-07 16:22] aquexata opened #1552 "Issues using Multipart Donwload #1213"
hi All,

I've just tested the Multipart Download #1213 and I've found some issues downloading big files from S3:

1) Parts are stored within /tmp and that fills the disk causing the download to fail
2) The current implementation downloads the file in many parts and then all parts are put together. That means that to download a 100GB file you need at least 200GB of free disk space. Also, the operat

[2017-07-07 18:08] cjyclaire commented on #1552
@aquexata Thanks for the feedback!

I'll do some benchmarking first and then try to make this better, I'll check cli/boto transfer and do some comparison as well. Any further comments and thoughts are welcome.

A bit clarification for Multipart download helper, it's a higher level abstraction providing customizable usage for S3 multipart APIs. It's true that it works in the way you describe, in te

[2017-07-08 19:22] ykessler commented on #1430
Same here: upgraded gem to 2.10 and issue resolved

[2017-07-10 23:58] cjyclaire commented on #1552
A soft update, talked to the boto team offline, enhancement could be made to make Ruby multipart downloader functionality better. Also, to make IO usage better, max IO parameter could also be added. Tracking this as a backlog item to be prioritized.

[2017-07-11 17:21] cjyclaire commented on #1544
Closing due to inactiveness, feel free to reopen with further questions or comments : )

[2017-07-11 17:21] #1544 closed

[2017-07-11 17:21] cjyclaire commented on #1484
Closing due to inactiveness, feel free to reopen with further questions or comments : )

[2017-07-11 17:21] #1484 closed

[2017-07-11 23:24] cjyclaire commented on #1552
Tracked in [backlog](https://github.com/aws/aws-sdk-ruby/blob/master/FEATURE_REQUESTS.md#s3-multipart)

[2017-07-11 23:24] #1552 closed

[2017-07-11 23:25] cjyclaire commented on #1535
Tracked in [backlog](https://github.com/aws/aws-sdk-ruby/blob/master/FEATURE_REQUESTS.md#s3-multipart) to be prioritized : )

[2017-07-11 23:25] #1535 closed

[2017-07-11 23:26] cjyclaire commented on #1399
This has been tracked in [backlog](https://github.com/aws/aws-sdk-ruby/blob/master/FEATURE_REQUESTS.md#port-over-the-ability-for-extra-headers-in-presignpost) to be prioritized : )

[2017-07-11 23:27] cjyclaire commented on #1385
Tracked in [backlog](https://github.com/aws/aws-sdk-ruby/blob/master/FEATURE_REQUESTS.md#add-message_group_id-to-sqs-message-resource-object-definition), meanwhile happy to take a PR for review and pull upstream : )

[2017-07-11 23:27] #1385 closed

[2017-07-11 23:29] cjyclaire commented on #1550
Tracked in [backlog](https://github.com/aws/aws-sdk-ruby/blob/master/FEATURE_REQUESTS.md#add-continue_update_rollback-to-the-cloudformation-stack-resource-object), meanwhile happy to take a PR for review and share with other SDKs

[2017-07-11 23:29] #1550 closed

[2017-07-18 05:58] bjeanes commented on #557
FWIW, I see this issue only when writing to file in block

I'm on an old version still (1.40.3), so I know this is well into "not supported" territory, but I don't see this mentioned above explicitly.

Compare writing to a `StringIO` vs a `Tempfile` (100% reproducible in each branch, for me):

[code]

Obviously, reading into a `StringIO` completely side-steps the advantage of chunked fetching, so

[2017-07-18 06:33] bjeanes commented on #557
Some further info. The exception only happens if I write the `chunk` to the file. If I write something else, the exception does not occur:

[code]

I added a counter to see how many chunks it processes:

[code]

In a completely un-scientific test of a "handful" of times, it always failed on the 8th chunk and always only wrote 34112 bytes, at least with my specific test file.

I suspected the prese

[2017-07-18 16:22] awood45 commented on #557
Thanks for the extra notes here.

[2017-07-19 17:32] fabiokr opened #1554 "Route53 retry issue"
SDK version: 2.6.50

Scenario: I noticed that sometimes our system was calling the Route53 `create_hosted_zone` api method, and getting a `HostedZoneAlreadyExistsError`. I'm pretty sure that that was a new zone, so I started investigating further.

I looked at CloudTrail at the time the error happened, and noticed that there were actually 4 API calls to create_hosted_zone, on the following order a

[2017-07-19 17:46] cjyclaire commented on #1554
@fabiokr Thanks for the information, so you can set `:http_wire_trace` to true at client to see the http raw wire log, you can also use [log formatter](http://docs.aws.amazon.com/sdkforruby/api/Aws/Log/Formatter.html) to keep track if wire trace is too much for you.

If you find something unexpected from SDK side, happy to take a close look if you could provide some reproducing code snippets . Als

[2017-07-21 08:17] Reechee88 opened #1555 "undefined method `use_bundled_cert!' for Aws:Module"
`gem "aws-sdk", "~> 2.0.0"`

`module Api
  require 'aws-sdk'

  class ProfileController < ApplicationController
  .......

   def method1
    ....
    Aws.use_bundled_cert!
    ....
   end`

`NoMethodError (undefined method `use_bundled_cert!' for Aws:Module):`

Any idea?

[2017-07-21 16:44] cjyclaire commented on #1555
@Reechee88 The `use_bundled_cert!` is introduce since [`v2.1.0`](https://github.com/aws/aws-sdk-ruby/commit/c7434229b4274cb710bacf06ec26730260b571b8), if you update your gem dependency, that will work : )

[2017-07-21 16:44] #1555 closed

[2017-07-22 00:31] mcgalcode opened #1556 "S3 Presigned Put URL With SSE Regression"
I am experiencing behavior outlined[ in this issue](https://github.com/aws/aws-sdk-ruby/issues/874) using the most recent version `Release v2.10.15 - 2017-07-20` of the SDK

Specifically, I am generating presigned PUT urls with the `#presigned_url` method and passing it the `server_side_encryption: "AES256"` option and the `acl: "private"` option.

This is generating URLs with this parameter in th

[2017-07-24 14:35] joshmosh commented on #651
+1

[2017-07-24 17:27] AllanFly120 opened #1557 "teunltjekeifjccgihhdgtjkcnberthvbgkveklgbehejveuiiuih"

[2017-07-24 17:48] #1557 closed

[2017-07-25 22:34] awood45 commented on #1554
This has been inactive - closing, feel free to reopen if you have wire trace info.

[2017-07-25 22:34] #1554 closed

[2017-07-26 15:39] sharang-d commented on #1389
@cjyclaire

This did not work. I am still getting the http version of the URL.

[code]

[2017-07-26 16:18] cjyclaire commented on #1389
@sharang-d
[code]
This overwrites client config, could you try remove the `:virtual_host` there?

[2017-07-26 17:40] sharang-d commented on #1389
@cjyclaire

If I do that the returned URL is not the virtual host URL which I use for hiding the bucket/region details.

[code]

I want the former to be returned with https.
I hope you understand my problem/requirement now.

[2017-07-26 17:58] cjyclaire commented on #1389
@sharang-d I understand that you want `https` with virtual host style, however, as in my first comment, [S3 Bucket VirtualHosting](http://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html) has limitations with `:https` scheme:

That's why it's set to `http`, thus I'm curious about your requirement originally, if you still want ':https' with virtual host, I can make this in the feature ba

[2017-07-26 18:07] sharang-d commented on #1389
I've answered that above. :)

This plus the fact that I have a valid certificate in place to use the HTTPS version makes me want https always.

👍

[2017-07-27 10:59] Chocksy opened #1558 "Trying to verify a SNS message fails"
I'm using rails 5 and i'm trying to verify a SNS message but i get this error https://sentry.io/share/issue/3133343238302e333138323235343431/

I'm doing the check by sending an email to `bounce@simulator.amazonses.com`
I'm trying to check bounces and complains into my app.

Is this a bug or am i missing something?

This is the code
[code]

Thanks <3

[2017-07-27 11:38] BRMatt opened #1559 "SpotInstanceRequestFulfilled waiter cannot handle apparent eventual consistency in spot API"
We use `kitchen-ec2` (and thus `aws-sdk-ruby`) to provision ec2 spot instances to test our infrastructure. Quite often the API call to create the spot instance will fail with an error that the spot instance request does not exist. Here's an example stack trace:

[code]

This [is the part of kitchen-ec2 that submits spot requests](https://github.com/test-kitchen/kitchen-ec2/blob/aac18fd2f80a0522d65

[2017-07-27 16:23] cjyclaire commented on #1558
@Chocksy Just double check, did you verified that `request.raw_post` is valid?

[2017-07-27 16:58] llibicpep opened #1560 "AWS_CONTAINER_CREDENTIALS_RELATIVE_URI ignored?"
I'm wondering if there's a chances of regression in picking up ECS task role vs EC2 cluster role. I am using latest kitchen-ec2 together with latest aws-sdk. I also tried a few recent versions for both. `AWS_CONTAINER_CREDENTIALS_RELATIVE_URI` is present in my container and available to the process that running kitchen. I reported issue there as well https://github.com/test-kitchen/kitchen-ec2/iss

[2017-07-27 17:03] awood45 commented on #1560
There is a chance of regression depending on how the roles are configured. If an ECS container role is present, we will use it and not use EC2 instance role, even if the EC2 instance ECS is running on has a role.

If the roles are the same, the outcome will be the same. If the roles differ in permissions, then it is possible switching could introduce auth errors for operations you don't have permi

[2017-07-27 17:04] awood45 commented on #1560
The other question, of course, would be which version of the `aws-sdk` gems you're using. The ECS container role feature would have to be present in your version of the SDK to be picked up.

[2017-07-27 17:07] llibicpep commented on #1560
@awood45 thanks for quick response. Seems that I've found the root cause and it belongs to kitchen-ec2. https://github.com/test-kitchen/kitchen-ec2/blob/v1.3.2/lib/kitchen/driver/aws/client.rb#L77 looks like as the last resort they are trying to pick up `InstanceProfileCredentials` directly not looking at AWS_CONTAINER_CREDENTIALS_RELATIVE_URI and not using chain resolve. So I am closing this issu

[2017-07-27 17:07] #1560 closed

[2017-07-27 17:07] awood45 commented on #1559
I don't see any issues off-hand in the `kitchen-ec2` usage of the waiter. I don't have enough information from this though to provide an answer with certainty, I'd need wire trace info of what responses the service was providing.

Perhaps some background would help: Was this spot request successfully fulfilled in the end, or did it fail?

[2017-07-27 17:08] awood45 commented on #1560
Yup, I can't speak to the behavior of a custom credential provider chain. Thanks for following up!

[2017-07-27 17:55] BRMatt commented on #1559
I'm afraid I don't have trace information from the client - does the aws sdk provide a way to get that? I do have the cloud trail log (I edited the original post earlier to include it) which shows the error code that caused the waiter to blow up.

Looking at the waiter configuration it seems it might need a retry processor on that error code, similar to the NatGatewayAvailable waiter?

[2017-07-27 17:58] awood45 commented on #1559
If you have the error code, that's helpful, and yes, we can take a PR on the waiter.

Did the spot instance request eventually succeed, despite the waiter failure? I'm also trying to understand what the final state of this waiter polling should have been.

[2017-07-27 18:01] Chocksy commented on #1558
@cjyclaire i managed to get the info from the request.raw_post and this is what it looks like:
[code]
It seems fine to me.
_Note: i changed a few of the ids to xxx_

[2017-07-27 18:09] BRMatt commented on #1559
It seems the request succeeded because an instance was created. The spot request ended up in the `request-canceled-and-instance-running` state. It looks like it was valid for around 5 minutes. I'm not sure why the instance was still running after the request was cancelled, or indeed what cancelled the request.

I'll see if I can submit a PR tomorrow.

[2017-08-01 18:16] cjyclaire commented on #1558
@Chocksy Apologies for getting back late, from your response, looks like you are using SES [notification](http://docs.aws.amazon.com/ses/latest/DeveloperGuide/notification-contents.html#top-level-json-object) for SNS? However, the [`MessageVerifier`](http://docs.aws.amazon.com/sns/latest/dg/SendMessageToHttp.verify.signature.html) is used in verifying signature in this [format](https://github.com/

[2017-08-01 18:19] Chocksy commented on #1558
Hmm so i should not very the message then?
I actually took most of the inspiration from this blog post that seems to be doing what i have in my code https://www.downrightlies.net/posts/2015/05/19/setting-up-ses-on-aws-to-send-emails-from-rails.html
So i don't understand. Did you guys change the notification?

[2017-08-01 18:28] cjyclaire commented on #1558
@Chocksy I don't think so, we won't introduce breaking changes in the response. In the blog post you linked, in the controller test part, it's actually following the correct message format.

[2017-08-01 18:29] Chocksy commented on #1558
Ok thanks @cjyclaire for your help. :D

[2017-08-01 18:29] #1558 closed

[2017-08-01 18:32] cjyclaire commented on #1558
@Chocksy I didn't deep dive into the whole blog, yet I think if you revisit your flow that might help uncover something, the MessageVerifier is used for :

[2017-08-01 18:35] Chocksy commented on #1558
So only for that and not the bounces and complains etc. I guess that would answer it as the initial subscription confirmation works fine but the bounce calls raise the error. I think i can live with it turned off for now.

[2017-08-01 22:17] thegreyfellow opened #1563 "Method Aws::S3::Object#presigned_url not working properly with buckets from different region than the API Keys"
Hi, I had a weird case happening in my app, tried to make a presigned url for objects so that they could be downloaded from the Frontend, but apparently, it did not work for all the buckets but only for those in the same region as the api key/secret key :confused: No worries tried to make a `Aws::S3::client.new (region: <bucket-specific-region>)`, but still I get the same behavior and that's reall

[2017-08-01 22:31] cjyclaire commented on #1559
[Release](https://github.com/aws/aws-sdk-ruby/releases/tag/v2.10.21) containing PR is out, closed

[2017-08-01 22:31] #1559 closed

[2017-08-01 23:05] cjyclaire commented on #1563
@thegreyfellow Sorry to know that this behavior blocks you for a while. First of all, what you have observed is the correct behavior of SDK. The presigner creates a default s3 client by default if client is not provided to overwrite, that's helpful when `:client` is not required for creating a presign url.

[2017-08-02 17:17] thegreyfellow commented on #1563
Okay :disappointed:, thanks for the clarifications.

[2017-08-03 17:33] #1563 closed

[2017-08-07 16:15] jasonperrone opened #1565 "Presigned URLs not working with Edge or IE"
Hi, I created a Presigned URL with the Presigner:
Aws::S3::Presigner.new.presigned_url(:get_object, bucket: 'my_bucket_name', key: 'my_key')

The resulting link works perfectly in Chrome. Clicking it results in a file download. In Edge and IE, S3 just never responds. The browser activity wheel keeps spinning, nothing appears in the console.

Anybody else see something like this?

[2017-08-07 16:55] jasonperrone commented on #1565
Now this is interesting. I can't even download a file from S3 using Edge right in the S3 console!

[2017-08-07 18:45] cjyclaire commented on #1565
@jasonperrone SDK has no control over browsers, since Chrome works fine, the url should be correct. If the problem exists with console still, feel free to cut support tickets to [`AWS`](https://console.aws.amazon.com/support/home) for console team or S3.

[2017-08-07 18:45] #1565 closed

[2017-08-07 18:46] jasonperrone commented on #1565
Agreed, thank you for the response.

[2017-08-11 09:55] BroganD1993 commented on #1547
Any updates on this @awood45? I'd love to see this added to the SDK

[2017-08-11 16:01] awood45 commented on #1547
Actually, I do have an update and forgot to update this - this value should be present in the latest version of the SDK. Try upgrading and see if this works for you now.

Closing since it's added to the API, if you continue to have issues after upgrading feel free to reopen.

[2017-08-11 16:01] #1547 closed

[2017-08-14 03:52] mike-bailey commented on #1460
I'm getting the same error with put_bucket_logging and would appreciate any help.
I've tried like ten different formats, all similar to the example, including:
[code]

[2017-08-14 14:12] tpett opened #1566 "`Aws::S3::FileDownloader` chunk downloading is not thread-safe"
When downloading multiple files at the same time in different threads the second file to finish downloading will always fail to concatenate its parts because the first file will have cleaned them up.

To reproduce:

[code]

The reason for this is that `FileDownloader` is using `Dir.tmpdir` as the top level for the chunks without any form of namespacing. ([See this line][1]). For a thread-safe opti

[2017-08-14 15:57] tomalok opened #1567 "Aws::EC2 describe_host_reservations --> NotImplementedError"
Attempting to retrieve dedicated host reservations from EC2...
[code]
...results in...
[code]

[2017-08-14 16:06] awood45 commented on #1566
Thanks for the report on this. This is definitely not intended behavior, and at this point looking at this as a bug.

[2017-08-14 16:49] awood45 commented on #1567
In your example, could you show me the output of `r.inspect`? I can't replicate this issue.

[2017-08-14 16:56] tomalok commented on #1567
`r` never gets set, because `ec2.describe_host_reservations` is failing (something with parsing the XML response?)

FWIW `aws-cli` finds our reservations just fine...
[code]

[2017-08-14 17:16] awood45 commented on #1567
Could you try running the following, so we can try to debug the response you're getting?

[code]

Feel free to strip anything sensitive out, but seeing what the service is returning will help us pin down where any issue may lie.

[2017-08-14 17:26] tomalok commented on #1567
`XXX` = stripped IDs, etc.

[code]

[2017-08-14 17:27] awood45 commented on #1567
Actually the request ID would be super useful (and are unique to the request), in case we need to involve the service team. We don't need any of the other IDs. If you prefer, you can email the request ID to alexwood@amazon.com as well.

[2017-08-14 17:30] tomalok commented on #1567
emailing you the RequestID, Alex...

[2017-08-14 23:49] cjyclaire commented on #1566
The fix PR has been merged, will be tagged in the next release ;) (likely tomorrow)
closing, will ping the thread once release is out, thanks!

[2017-08-14 23:49] #1566 closed

[2017-08-15 14:29] tpett commented on #1566
Wow, way to be super responsive guys!

[2017-08-15 14:35] tpett opened #1570 "S3 Object `download_file` method options"
From the documentation and the [error message][2] it would seem that you are to pass symbols to the `:mode` configuration option. However, the `FileDownloader` class counts on this config being a string. It looks like a simple `to_s` on [this line][1] would take care of it.

Thanks!

[1]: https://github.com/aws/aws-sdk-ruby/blob/master/aws-sdk-resources/lib/aws-sdk-resources/services/s3/file_downl

[2017-08-15 16:41] cjyclaire commented on #1570
@tpett I can see that it's a small change which is easy to make, the error message appears misleading, however it's documented as [`string`](http://docs.aws.amazon.com/sdkforruby/api/Aws/S3/Object.html#download_file-instance_method) or in [code](https://github.com/aws/aws-sdk-ruby/blob/master/aws-sdk-resources/lib/aws-sdk-resources/services/s3/object.rb#L269), could you lead me to the documentatio

[2017-08-15 17:22] awood45 commented on #1570
Just to be clear, are we seeing a particular failing case, or is this just a concern that the error message implies that only symbols are accepted? Want to make sure we are fixing the right thing.

[2017-08-15 18:06] tomalok commented on #1567
...please confirm receipt of RequestID.

[2017-08-15 19:40] awood45 commented on #1567
Yes, I have it. Looking to see if I can reproduce the issue.

[2017-08-15 19:44] tpett commented on #1570
Ah yes, I was looking at [this documentation][1] and you are correct it does say String. I missed that. I don't think there's any documentation that needs to be updated. It seems like it would be low cost to simply allow either symbol or string here and no compatibility will be broken, but it will be less surprising for discovery.

Now switching over to just my opinion: I think that symbols would

[2017-08-15 20:23] awood45 commented on #1570
Thanks - if we don't have a behavior issue (as I believe Strings work as well as Symbols in this case), I'm going to prefer not making a code change. Feel free to reopen if there is an issue.

[2017-08-15 20:23] #1570 closed

[2017-08-16 12:20] route opened #1572 "Seahorse::Client::NetworkingError: Connection reset by peer - SSL_connect"
I'm seeing an intermittent error like this sometimes in my long running process. So it all works but all of a sudden sometimes this start happening when I want to send a message to SQS with:

`sqs.send_message(queue_url: queue_url, message_body: message.to_json, message_group_id: bla)`

[code]

Then boom after a few more tries it works again which gives me an idea it's unlikely an issue in my code

[2017-08-17 12:36] route commented on #1572
Also maybe it's not related to this but sometimes on another side when I receive messages, this issue started to happen more often recently:

[code]
Error class remains unknown so far, but I can figure it out later on.

[2017-08-17 16:34] awood45 commented on #1572
This looks like a networking issue. It's unclear from this alone if it's a networking issue from your side or the service side without more context. It may be worth reaching out to [AWS Support](https://console.aws.amazon.com/support/home) in this case.

[2017-08-17 16:35] awood45 commented on #1572
Though for some context, are you running on EC2 or from a local machine?

[2017-08-17 17:17] pchaganti opened #1574 "Error class changed recently?"
Earlier versions of SDK used to return **Aws::EC2::Errors::SnapshotCreationPerVolumeRateExceeded** when we hit AWS limits on snapshots. The current SDK is returning **Aws::EC2::Errors::SnapshotCreationPerVolumeRateExceededException** instead. We catch the specific exception in our code as this is a retryable one.

Was there a change made to suffix errors with the string **_Exception_**?

thanks

[2017-08-17 17:21] awood45 commented on #1574
Thanks for the report on this, I'll investigate with the service team. I'd catch both exceptions as a workaround, sorry about this issue.

[2017-08-17 17:56] route commented on #1572
The SQS publisher is on DigitalOcean (Seahorse::Client::NetworkingError error), while consumer is on Heroku which is experiencing "We encountered an internal error. Please try again" error.

[2017-08-17 20:53] awood45 commented on #1574
For some background, do you know when the exception type changed for you? It wouldn't be tied to an SDK version, it would be a particular date. Do you know how often (for example, through logging) you caught the previous exception type?

I just want to be super clear that the exception we're getting has changed, and eliminate the possibility that you're encountering this exception for the first ti

[2017-08-17 21:12] pchaganti commented on #1574
Not sure of the exact date when it changed. It is definitely in the last week or so that we have been seeing this exception. The errors raised previously have never had the Exception suffix. We have had this code running for the last several years and the error handling has not changed.

[2017-08-17 21:14] awood45 commented on #1574
Thank you, that's helpful.

[2017-08-17 22:38] awood45 commented on #1574
Additionally, can you capture the exception(s) you're seeing currently using a wire trace? When we tried to reproduce we got `Aws::EC2::Errors::SnapshotCreationPerVolumeRateExceeded`, so if you're still seeing a different exception, that is very interesting indeed. To get a wire trace:

[code]

With that setting, you'll output the wire logs, which we can use to see the response the service provide

[2017-08-17 22:40] awood45 commented on #1574
Of course, when posting wire logs, feel free to strip anything sensitive (we shouldn't need any of that to actually diagnose the issue). But, please *do* keep any request ID values, which we can use to directly see what happened on the service side.

[2017-08-18 15:55] awood45 commented on #1574
Thank you for reporting this. The issue has been resolved on the service end. The correct exception is `Aws::EC2::Errors::SnapshotCreationPerVolumeRateExceeded`.

Sorry for the trouble, taking steps to help prevent it from happening again.

[2017-08-18 15:55] #1574 closed

[2017-08-21 07:21] TDA opened #1575 "AWS Ruby SDK for DAX API needs updates"
Looking at the blog post for AWS DAX (https://aws.amazon.com/blogs/aws/amazon-dynamodb-accelerator-dax-in-memory-caching-for-read-intensive-workloads/), it is specified that DAX supports all operations that DynamoDB does, however, this is not reflected in the DAX API (https://github.com/aws/aws-sdk-ruby/tree/master/aws-sdk-core/apis/dax/2017-04-19), and the files there look like they need to be up

[2017-08-21 16:07] awood45 commented on #1575
The `Aws::Dax::Client` documentation is correct, the SDKs broadly support the control plane APIs. Support for DAX as a database client to my knowledge only exists in Java today. I'll pass this on to that team as a feature request.

[2017-08-21 16:07] #1575 closed

[2017-08-21 16:58] TDA commented on #1575
@awood45 Is there a place where I can track that feature request?

[2017-08-21 17:02] awood45 commented on #1575
I don't know - the Dax team would certainly announce any new SDK launches, however.

[2017-08-21 22:23] awood45 commented on #1567
Another question that came up - are you running this code in a threaded environment?

[2017-08-21 22:24] awood45 commented on #1567
Additionally, can you provide your full `Gemfile.lock`? Wondering which XML parser you are using.

[2017-08-23 17:31] tomalok commented on #1567
The script at the top of this (discussion) thread is not threaded.  So, threading shouldn't be in play (at the moment).

Per the backtrace, `nokogiri 1.8.0` appears, but here's the whole `Gemfile.lock`, anyways...
[code]

[2017-08-23 21:49] mike-bailey opened #1577 "Aws::S3::Errors::MalformedXML: The XML you provided was not well-formed or did not validate against our published schema"
See: https://github.com/aws/aws-sdk-ruby/issues/1460#issuecomment-322094403

For updates on this issue.
It's reappeared in a different format (identical to the docs, so either the docs are in some way incorrect or the SDK is doing something wrong) so I figured I'd reopen.

[2017-08-23 22:47] stormbeta opened #1578 "Aws::SNS::MessageVerifier fails due to mismatched case on signing cert url"
The JSON key for the signing cert url isn't matched between the SDK code and what's actually being returned by AWS. This appears to be an error on the AWS side as this line hasn't changed since 2015 and a stored copy of an SNS message from Aug 15 has the expected upper case version of the field.

`aws-sdk-resources-2.10.32/lib/aws-sdk-resources/services/sns/message_verifier.rb:93`:  `x509_url = UR

[2017-08-23 22:50] cjyclaire commented on #1578
Thanks for reporting! taking a look ...

[2017-08-23 23:51] cjyclaire commented on #1578
@stormbeta Quick question, is this happening with message from Lambda only?

[2017-08-24 00:26] stormbeta commented on #1578
@cjyclaire This is coming through a lambda, yes. The messages I was looking at before were sent via email-json subscriptions, if that makes a difference.

[2017-08-24 17:03] cjyclaire commented on #1578
@stormbeta Thank you for your patience! the workaround PR fix has been merged will be out in the next release. A quick summary is that this is cause by Lamdba message formatting issue in SNS. I'll ping the thread once the release is out : )

[2017-08-24 17:03] #1578 closed

[2017-08-24 19:19] arianf opened #1580 "Allow for in-memroy multipart upload"
Allow for in-memroy multipart upload.

`Client#put_object` doesn't seem to upload an object with multipart, and `Object#upload_file` does multipart uploading, but it requires the file to be on disk.

[2017-08-24 19:32] awood45 commented on #1577
Can you provide a wire trace for this?

[code]

[2017-08-24 19:33] cjyclaire commented on #1578
The [release](https://github.com/aws/aws-sdk-ruby/releases/tag/v2.10.33) is out, thanks

[2017-08-24 21:31] mike-bailey commented on #1577
[code]
I removed anything I thought could have been private. If I'm wrong about that please LMK.

[2017-08-24 21:50] awood45 commented on #1577
Thanks, and I've been able to recreate this issue as well. Investigating whether this is a client or service issue, since I don't think we've touched the relevant code in some time.

[2017-08-24 21:51] mike-bailey commented on #1577
Thank you! Great response time.

[2017-08-24 21:54] awood45 commented on #1577
I've reached out to the service team for help debugging this as well.

[2017-08-24 21:56] mike-bailey commented on #1577
Cool, thanks. If it matters at all there's a `-` in one of the bucket names (which is mandatory per our use case). Let me know if I can help further.

[2017-08-24 22:42] awood45 commented on #1577
Thanks for the note - I don't think that's a factor since I reproduced the error without a dash.

[2017-08-25 16:18] optimisticanshul commented on #1504
@marcelocarlos would you mind sharing the code.

[2017-08-29 19:45] madkin10 opened #1581 "Gem install aws-sdk-resources conflicts with aws-sdk-core"
`gem install aws-sdk-resources` has a conflict with one of its dependencies `aws-adk-core`

This causes a prompt to happen in the middle of gem install and is causing some issues for my automated build process. Seems like this should not be desired behavior.

[code]

[2017-08-29 19:57] cjyclaire commented on #1581
@madkin10 Thanks for the info.! Quick question to help me reproduce this, what's your 'aws-sdk-core' version? I just tried to run 'gem install aws-sdk-resources' from scratch and there is no issue for me, the installed `aws-sdk-core` version is `3.0.0` as well

[2017-08-29 20:00] cjyclaire commented on #1581
This might likely has to do with your `aws-sdk-core` version is still `2.*`, `aws-sdk-core` `3.*`doesn't contain executables.

[2017-08-29 20:11] madkin10 commented on #1581
@cjyclaire Your theory was correct. However, This is still undesired behavior that you cannot install two separate version of a gem without them conflicting. Why are they trying to write an executable to the same location?

[2017-08-29 20:13] awood45 commented on #1581
In this case, it is intended behavior that V2 and V3 cannot coexist. I do see where build automation processes breaking due to the same executable is an issue, and we can take a look at ways to alleviate that.

[2017-08-30 07:45] autarchprinceps commented on #1581
This cannot possibly be the desired behaviour. Not only do certain rubygems depend on e.g. 'aws-sdk ~> 2.3' which will keep installing aws-sdk v2, while others may have a >= which would install v3, conflict and crash, it isn't even possible to do a gem update.
I don't know why aws-sdk v2 and v3 cannot coexist in your mind, but in rubygems in general you should and can install many different versio

[2017-08-30 11:33] kailasdp2000 opened #1582 "Require source code for AWS SigV4 release 1.0.1"
Hello,

I need source code for AWS SigV4 release 1.0.1. Was not able to find it on github. Can you please help?

Thanks,
Kailas

[2017-08-30 12:11] greysteil opened #1583 "No Changelog for version 3"
Version 3.0.0 was released on [Rubygems](https://rubygems.org/gems/aws-sdk) yesterday, but there's no changelog entry for it and `master` on this repo still points to [v2.10.35](https://github.com/aws/aws-sdk-ruby/blob/master/VERSION). Can we get an update on what's going on, and where the code for version 3.0.0 is?

[2017-08-30 12:24] menno commented on #1583
After checking some branches it seems to be located in this branch: https://github.com/aws/aws-sdk-ruby/tree/code-generation

[2017-08-30 12:28] menno commented on #1582
It's here: https://github.com/aws/aws-sdk-ruby/tree/code-generation/gems/aws-sigv4

Appears that the `code-generation` branch has not yet been merged to master following the SDK V3 release.

[2017-08-30 15:31] tomalok commented on #1567
This appears to be working fine with v3 of the SDK.

[2017-08-30 15:31] #1567 closed

[2017-08-30 16:06] awood45 commented on #1581
The executable conflict is not desired behavior, though also difficult to avoid.

However, major versions 2 and 3 not existing in the same project is a tradeoff we've made consciously. The [upgrading guide](https://github.com/aws/aws-sdk-ruby/blob/code-generation/V3_UPGRADING_GUIDE.md) walks through the use cases, but essentially the major versions are code compatible, so you're only changing pack

[2017-08-30 16:07] awood45 commented on #1583
We're moving V3 to the master branch soon, we have to coordinate that change with some internal tooling. For now V3 lives in code-generation, correct.

[2017-08-30 16:07] awood45 commented on #1582
Correct, that will be in master soon, and it lives in this repo.

[2017-08-30 16:07] #1582 closed

[2017-08-30 16:08] awood45 commented on #1567
Great! That would potentially lend some credence to the idea that some `autoload` issues were taking place, since once of V3's big changes is to cut that off entirely. Thanks for the update!

[2017-08-30 16:09] jamtur01 commented on #1583
No release tag either.

[2017-08-30 16:12] awood45 commented on #1581
The case of a library which is hard locking on old `aws-sdk` minor versions would raise other questions too, since that minor version is, I think, over a year old at this point and hasn't been receiving updates for new services and features for some time.

[2017-08-30 16:16] greysteil commented on #1583
Thanks for the update. Would be awesome if you could add the above details to the changelog, or a GitHub release - at the moment anyone doing a bundle update without a pinned version will be getting V3 but won't be able to find details of what's changed / currently happening easily.

(My particular interest is that I run [Dependabot](https://dependabot.com) which automatically creates PRs to bump

[2017-08-30 16:17] awood45 commented on #1583
Release tags are a more interesting issue now that we have modularized into 100+ gems. `aws-sdk` will probably be on `3.0.0` for a long time, it's the underlying service gems which will be updating. I'm open to ideas about how to add dozens of new GitHub releases/tags to this repo without it getting overwhelming.

The CHANGELOGs in the `code-generation` branch are current and will soon be in `mast

[2017-08-30 16:20] alvises commented on #1581
I think that's could be related to this. I've started to have chef scripts failing. This scripts are used in aws opsworks.

[code]

[2017-08-30 16:25] awood45 commented on #1581
@alvises Can you tell me a bit more about that environment? I'm inclined at this point to rename the executable for V3 and end that issue.

[2017-08-30 16:29] alvises commented on #1581
@awood45 they are all ec2 machines with ubuntu 14.04 under aws opsworks. Using aws-sdk-ruby library with Chef 12.13.37

[2017-08-30 16:31] awood45 commented on #1581
Thanks for the info. Working on a fix now.

[2017-08-30 16:31] alvises commented on #1581
@awood45 thanks!

[2017-08-30 16:38] greysteil commented on #1583
Interesting. Release notes aren't going to work for you with the above setup, but you should be able to get Rubygems to point to the right changelogs, which will help a lot - I'll create a PR for that now.

[2017-08-30 16:38] awood45 commented on #1581
I've pushed a fix to rename `aws.rb` to `aws-v3.rb` and we are working on getting it out this morning. This issue has discussed two different topics (the executable conflict and the V2/V3 packaging decisions) but I'm going to focus on the executable question here.

[2017-08-30 16:45] awood45 commented on #1583
The use case you have will be interesting with V3. We actually will be having hundreds of CHANGELOGs, and users will be migrating to only using a subset of service gems relevant to their use cases. It's unfortunately impractical for us to create repos for each gem, so a "single" CHANGELOG doesn't fit well going forward. Happy to discuss what we do have, or if there are ways to make our multiple ch

[2017-08-30 16:47] greysteil commented on #1583
Got a solution for you on that one: https://github.com/aws/aws-sdk-ruby/pull/1585

[2017-08-30 16:50] awood45 commented on #1581
The executable issue should be fixed as of `aws-sdk-resources` version `3.0.1`, which has the rename. Closing this, but feel free to reopen if the issue persists.

As for the discussion of why V2 and V3 can't coexist in general, if we want to discuss that we should do so in a different issue to avoid conflating this specific issue with that discussion.

[2017-08-30 16:50] #1581 closed

[2017-08-30 17:07] awood45 commented on #1583
Yep, that looks great. We're going to take on a task to add this to our generation process.

[2017-08-30 19:34] awood45 commented on #1583
Version 3 is now on the `master` branch. Leaving open while we work on your PR.

[2017-08-30 23:18] cjyclaire commented on #1583
The PR #1586 update is merged, will be out in the next release : ), closing

[2017-08-30 23:18] #1583 closed

[2017-08-31 05:50] maschwenk opened #1587 "STS Gem is not published to Rubygems"
### Issue description
It seems the `sts` gem was not published along with the others. Other v3 gems seem fine. Gem seems to be listed here: http://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/STS.html

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version
'aws-sdk-sts'

### Version of Ruby, OS environment
MacOS

### Code snippets / steps to reproduce
run `b

[2017-08-31 05:53] maschwenk commented on #1587
Never mind, I see it is under `core`

[2017-08-31 05:53] #1587 closed

[2017-08-31 06:20] greysteil commented on #1583
Nice, thanks!

[2017-08-31 11:28] janko-m opened #1588 "Regression: S3 object streaming is not working anymore"
### Issue description

In aws-sdk V2 you could stream an object from S3 by passing a block:

[code]

In aws-sdk-s3 this doesn't work anymore, even though it's still [documented](https://github.com/aws/aws-sdk-ruby/blob/dad6433b6c4940442b2eeda431c15f3cc576e94f/gems/aws-sdk-s3/lib/aws-sdk-s3/client.rb#L2526-L2532). It doesn't work because [`Aws::S3::Object#get`](https://github.com/aws/aws-sdk-ruby/b

[2017-08-31 12:23] pchaganti commented on #1454
Any further info on this?

thanks

[2017-08-31 16:17] awood45 commented on #1588
I am able to reproduce this error. Taking a look.

[2017-08-31 18:24] pchaganti opened #1589 "Cannot find UpdateSecurityGroupRuleDescriptionsIngress in API"
Please fill out the sections below to help us address your issue

### Issue description
The current EC2 API supports **UpdateSecurityGroupRuleDescriptionsEgress** and **UpdateSecurityGroupRuleDescriptionsIngress**. I dont see them in the API for the current release of the SDK (3.0)

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version
aws-sdk-ec2

### Ver

[2017-08-31 18:30] cjyclaire commented on #1589
@pchaganti Thanks for the attention! This will be included in next release across all SDKs very soon! I can ping the thread once it's out : ) (likely today)

[2017-08-31 19:54] Resisty opened #1590 "Aws::CloudWatchLogs::Client.new() produces NameError in versions >=3.0.0"
Please fill out the sections below to help us address your issue

### Issue description
The aws-sdk-core gem seems to have broken support for CloudWatchLogs. Attempting to use Aws::CloudWatchLogs::Client.new() fails.

### Gem name
'aws-sdk-core' 3.1.0, 3.0.0

### Ruby v2.3.0, Mac OS X Sierra 10.12.6

### Code snippets / steps to reproduce
First I tried to simply load a fluentd plugin using the aws

[2017-08-31 20:27] awood45 commented on #1590
You'll need to depend on the `aws-sdk-cloudwatch` gem rather than core, per the [relevant section in the upgrading guide](https://github.com/aws/aws-sdk-ruby/blob/master/V3_UPGRADING_GUIDE.md#user-of-the-aws-sdk-core-gem), then include `require 'aws-sdk-cloudwatch`. The `aws-sdk-core` gem in V3 does not contain service clients.

[2017-08-31 23:59] cjyclaire commented on #1589
The [release](https://rubygems.org/gems/aws-sdk-ec2/versions/1.1.0) is out, closing

[2017-08-31 23:59] #1589 closed

[2017-09-01 03:21] cjyclaire commented on #1588
Thank you for your patience, the fix PR was merged, will be out in the next release. I'll ping the thread again once next release is out.

[2017-09-01 03:21] #1588 closed

[2017-09-01 04:03] Resisty commented on #1590
Thanks for the info on that! For downstream projects (like the `definitely currently maintained` fluentd plugin) that end-users have no control over, the upgrading guide doesn't seem like an obvious document to read. Could we get that CHANGELOG visible, maybe?

[2017-09-01 04:03] #1590 closed

[2017-09-01 05:43] k1LoW opened #1592 "Aws::VERSION is not up"
### Issue description

Aws::VERSION is not up

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version

- aws-sdk-core

### Version of Ruby, OS environment

[code]

### Code snippets / steps to reproduce

https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-core/lib/aws-sdk-core/version.rb#L2

[2017-09-01 08:27] krystofspl opened #1594 "Aws::S3::Errors::XAmzContentSHA256Mismatch: The provided 'x-amz-content-sha256' header does not match what was computed. (JRuby threaded)"
### Issue description
Hello, we are using v2 with JRuby (9.1.5.0) and uploading in multiple threads simulataneously.

With v2, in some cases we started to obtain "Aws::S3::Errors::XAmzContentSHA256Mismatch: The provided 'x-amz-content-sha256' header does not match what was computed.".

The code runs fine if the threads count is reduced to one. Therefore we suspect some part is thread-unsafe...

##

[2017-09-01 16:38] cjyclaire commented on #1592
@k1LoW Thanks for catching, working on fix this

[2017-09-01 16:40] cjyclaire commented on #1592
A side note is that for core version, it's tracking [VERSION](https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-core/VERSION) file instead, which has the correct version, I'll remove the redundant one.

[2017-09-01 16:57] cjyclaire commented on #1594
@krystofspl Thanks for the info, taking a look. Curious if this has to do with autoload, could you try our [V3 SDK](https://aws.amazon.com/blogs/developer/announcing-the-modularized-aws-sdk-for-ruby-version-3/?sc_channel=sm&sc_campaign=Global_Campaign&sc_publisher=TWITTER&sc_country=SDK&sc_geo=GLOBAL&sc_outcome=awareness&trk=_TWITTER&sc_content=ruby-v3&linkId=41680529) (which gets rid of auto_load

[2017-09-01 19:52] jammerful commented on #1301
I'm still seeing this issue on (actually coming from fluentd which uses the SDK):

Ruby               2.3.4
AWS SDK       2.7.0
Linux Kernel  4.9.41

Is this expected? Could this be eventual consistency, instead of code?

[2017-09-04 08:53] krystofspl commented on #1594
Unfortunately v3 causes other problems for us and we cannot debug it at the moment. We'll try to look into the v3 compatibility in the future.
It seems to happen every time with mentioned JRuby and multi-threaded use.

[2017-09-05 01:24] ravsom commented on #1161
I get this error for the region "ap-south-1" -

`/home/travis/.rvm/gems/ruby-2.2.7/gems/aws-sdk-resources-2.10.38/lib/aws-sdk-resources/resource.rb:134:in `rescue in exists?': Aws::S3::Errors::BadRequest
	from /home/travis/.rvm/gems/ruby-2.2.7/gems/aws-sdk-resources-2.10.38/lib/aws-sdk-resources/resource.rb:131:in `exists?'
`

[2017-09-05 01:38] ravsom opened #1596 "S3 Bucket existence - unexpected behaviour"
### Issue description
I get this error for the region "ap-south-1" - Should I raise a new issue?

S3 client configured for "ap-south-1" but the bucket "dev-embryo-ui" is in "ap-south-1"; Please configure the proper region to avoid multiple unnecessary redirects and signing attempts

/home/travis/.rvm/gems/ruby-2.2.7/gems/aws-sdk-resources-2.10.38/lib/aws-sdk-resources/resource.rb:134:inrescue in e

[2017-09-05 05:11] awood45 commented on #1596
Just to help clarify, can you give me a reproducing code snippet?

[2017-09-05 07:20] ravsom commented on #1596
The deployment is triggered via travis-ci; the script is as below - along with the access keys and secrets which I have currently removed.

language: node_js
node_js:
- '6'
deploy:
  provider: elasticbeanstalk
  region: "ap-south-1"
  app: opto-embryo-ui
  bucket_name: dev-embryo-ui
  env: OptoEmbryoUi-env

[2017-09-05 17:37] awood45 commented on #1590
Closing this as the question is answered. Let me know if you have any follow-up questions or issues.

[2017-09-05 18:46] cjyclaire commented on #1592
PR has been merged, closing : )

[2017-09-05 18:46] #1592 closed

[2017-09-05 19:05] cjyclaire commented on #1594
@krystofspl Sorry to hear that, curious to know what problems has v3 caused for you?

Adding to original issue, could you provide a code snippet that can help me reproduce the error in a jruby environment? Or are you just calling `object.upload` and it's causing problem for you?

[2017-09-06 01:30] fledman opened #1598 "presigned s3 urls with an explicit signing time"
### Issue description
The `Aws::Sigv4::Signer` method `presign_url` supports the `:time` option to pass in a specific signing time.

However, the `Aws::S3::Presigner` method `presigned_url` does not expose this option, and as such, neither does the equivalently named `Aws::S3::Object` method.

Is it possible to pass the `:time` option all the way through the callstack?

### Code snippets / steps t

[2017-09-06 07:55] PetrKaleta opened #1599 "Bundler::GemRequireError: There was an error while trying to load the gem 'aws-sdk-s3'"
Hey,
I've upgraded to sdk v3. But I have problem when launching my app. It freezes when loading `aws-sdk-s3` gem. When you kill it (Cmd+c), it shows this error.

[code]

 I've created minimalistic application where you can test this behaviour.

[code]

[code]

[code]

[code]

[2017-09-06 10:52] Rigel89 opened #1600 "Can't call as_json method of struct Aws::EC2::Types::Snapshot"
### Issue description
I didn't encounter this issue for other EC2 types (doing a similar thing for EC2 Volumes).
Can't call as_json method  of struct Aws::EC2::Types::Snapshot

### Gem name
aws-sdk 3.0.1

### Version of Ruby, OS environment
Ruby 2.3.3
Ubuntu 16.04

### Code snippets / steps to reproduce
snapshot = ec2_client.create_snapshot(volume_id: "my_volume_id")
snapshot.as_json

### Resoluti

[2017-09-06 16:10] cjyclaire commented on #1599
@PetrKaleta Hi, I think it might related to a jruby bug that I thought was travis ci only. I've already merged a PR fix issue [here](https://github.com/aws/aws-sdk-ruby/pull/1597). I'll do a version bump for kms to make this available. I'll ping the thread once that goes out, thanks!

[2017-09-06 16:19] cjyclaire commented on #1598
@fledman Thanks for noticing! This is true that `aws-sigv4` gem make it more flexible and easy to test and use. However, the `:time` option is mainly used for testing purpose. We intentionally didn't expose all field though S3 interfaces initially.

May I ask why you would like to see this from S3 interface? Some use cases explanation would be great! Then I can see if I can provide workaround or t

[2017-09-06 18:01] cjyclaire commented on #1599
@PetrKaleta The latest kms version is [out](https://rubygems.org/gems/aws-sdk-kms/versions/1.1.0), could you try update and let me know if it works? (s3 gem has dependency on this) : )

[2017-09-06 19:50] cjyclaire commented on #1599
Adding to that, jruby fixed this themselves as well at [`master`](https://github.com/jruby/jruby/issues/4728)

[2017-09-06 20:12] PetrKaleta commented on #1599
Yes, works like a charm now! Thank you!

[2017-09-06 20:12] #1599 closed

[2017-09-06 20:52] janko-m commented on #1588
@cjyclaire I've noticed that https://github.com/aws/aws-sdk-ruby/pull/1591 has brought back streaming support via blocks to `Aws::S3::Client#get_object`, but **not** to `Aws::S3::Object#get` ([which I'm using in Shrine](https://github.com/janko-m/shrine/blob/edc627a87923d8d38842c480bca6805339be936f/lib/shrine/storage/s3.rb#L243)). If we check the `Aws::S3::Object#get` source code, we can see that

[2017-09-06 20:57] cjyclaire commented on #1588
@janko-m Thanks for the ping! taking a look ...

[2017-09-06 23:09] cjyclaire commented on #1588
@janko-m Just opened another PR for resource object fix, will ping the thread once it got merged and released

[2017-09-06 23:42] cjyclaire commented on #1600
@Rigel89 Hmm, I don't think we do something special for that api call or type, are you using rails that causes this problem? Noticed that you mentioned

Could you provide an example that `as_json` worked? I tried `:create_volume` API, as the same with `create_snapshot `, both returned `Seahorse::Client::Response`.

[2017-09-07 06:06] fledman commented on #1598
@cjyclaire
The signing api operates on a seconds until expiration basis, as opposed to an explicit expiration timestamp. In most cases, emulating the later by subtracting the current timestamp is good enough.

However, signed urls produced in this way are not stable; the signature for a <url,expiration_timestamp> pair depends on the time of signing.

Unfortunately, my use case requires stable sign

[2017-09-07 07:32] Rigel89 commented on #1600
Yes i'm using the API calls in Rails. I'll leave an example as soon as possible.

[2017-09-07 10:25] JaganNarayanan commented on #1592
Sorry, newbie here. I get this error 'uninitialized constant Aws::VERSION' when loading my page after using the gem 'aws-sdk'. How do I remove the version file? Will it fix this? Thank you in advance!

[2017-09-07 13:18] pchaganti opened #1602 "XRay instrumentation"
Please fill out the sections below to help us address your issue

### Issue description
AWS provides official SDK clients for Xray for Java, Python, Go, Node, etc, which have the ability to automatically instrument AWS SDK clients and send that data to Xray. This would be awesome to have in the Ruby SDK. Are there any plans to do this?

P.S: There is an [unofficial Ruby tracing SDK](https://github

[2017-09-07 16:51] cjyclaire commented on #1602
@pchaganti Q, are you suggesting our [`aws-sdk-xray`](https://rubygems.org/gems/aws-sdk-xray) gem? [Source code here](https://github.com/aws/aws-sdk-ruby/tree/master/gems/aws-sdk-xray) : )

[2017-09-07 16:57] awood45 commented on #1602
In the case of the X-Ray clients doing automatic instrumentation, our team doesn't handle that. I'll pass on this feature request.

[2017-09-07 16:58] #1602 closed

[2017-09-07 17:00] cjyclaire commented on #1592
@JaganNarayanan Could you provide more context? Which version of the gem are you on? I tried install the `aws-sdk` gem from scratch and tried several API calls, I cannot reproduce the error here.

[2017-09-07 19:21] tarcieri opened #1603 "NameError: undefined local variable or method 'v' for Aws::Util:Module"
Occurring here:

https://github.com/aws/aws-sdk-ruby/blob/734a23dfb940c4dfa8e2fb8fb6056d947bfef20a/gems/aws-sdk-core/lib/aws-sdk-core/util.rb#L34

It's likely `v` should be `obj` (or perhaps `obj.dup`/`obj.clone`?). I can send a PR...

[2017-09-07 19:32] cjyclaire commented on #1603
@tarcieri Ah thanks for catching! exactly, happy to review the PR if possible, if you don't have time, let me know and I can take this too.

[2017-09-07 19:33] tarcieri commented on #1603
If I were to do a PR, I guess my first question would be what is the correct behavior here re: `dup`/`clone`?

[2017-09-07 19:49] cjyclaire commented on #1603
@tarcieri Taking a second look, this `:deep_copy` is actually not used else where in the sdk, you can refer the `:deep_copy` we have at code generation [here](https://github.com/aws/aws-sdk-ruby/blob/734a23dfb940c4dfa8e2fb8fb6056d947bfef20a/build_tools/aws-sdk-code-generator/lib/aws-sdk-code-generator/helper.rb#L152).

[2017-09-07 21:58] tarcieri commented on #1603
I encountered this error attempting to invoke `batch_create_tags` on an `Aws::EC2::Instance`:

[code]

[2017-09-07 22:11] cjyclaire commented on #1603
@tarcieri Thanks for the info! I'll work on thw fix and add tests

[2017-09-08 03:55] cjyclaire commented on #1588
Sorry for the late ping, the latest version is [out](https://rubygems.org/gems/aws-sdk-s3/versions/1.2.0)

[2017-09-08 06:31] JaganNarayanan commented on #1592
Gemfile
`gem 'aws-sdk'
`
config/environments/development.rb
`  config.paperclip_defaults = {
      storage: :s3,
      s3_region: ENV["aws_bucket_region"],
      s3_credentials: {
        # s3_host_name: ENV["aws_bucket_name"],
        bucket: ENV["aws_bucket_name"],
        access_key_id: ENV["amazon_key"],
        secret_access_key: ENV["amazon_secret_access_key"]
        }
      }`

config/envi

[2017-09-08 07:08] janko-m commented on #1588
@cjyclaire Awesome, thank you! Shrine tests are passing now 👌

[2017-09-08 07:58] mike-bailey commented on #1577
Hello, any updates yet?

[2017-09-08 20:34] cjyclaire commented on #1603
Soft update, took a while yet PR #1604 is opened to address this issue add add more test for batch operation behavior, which is under review

[2017-09-08 22:28] cjyclaire commented on #1603
The PR fix has been merged, will be out in next release.
Appreciate your patience, will ping the thread again once the release is out : )

[2017-09-11 09:52] PetrKaleta opened #1607 "NoMethodError - undefined method `last_modified' for #<Hash:0x1e8b16d2>"
`/.rbenv/versions/jruby-9.1.13.0/lib/ruby/gems/shared/gems/aws-sdk-s3-1.2.0/lib/aws-sdk-s3/object_summary.rb:43:in `last_modified'`

Please have a look in `ObjectSummary` class...

[code]

but `data` is a hash...

[2017-09-11 16:27] cjyclaire commented on #1607
Taking a look

[2017-09-11 16:42] cjyclaire commented on #1607
@PetrKaleta Hmm, this sounds like a bug, could you help provide some code snippet to help me reproduce the issue?
I tried to reproduce in the simplest way:
[code]
And this works fine for me.

[2017-09-11 16:47] cjyclaire commented on #1580
Thanks for the feedback! tracked in our backlog under S3 Multipart enhancement.

[2017-09-11 16:47] #1580 closed

[2017-09-11 16:52] PetrKaleta commented on #1607
This code was working without any issues until V3 was introduced

[code]

So it looks like the weak point is data attribute in `ObjectSummary` constructor...

[2017-09-11 18:15] cjyclaire commented on #1607
@PetrKaleta Ah sorry about the confusion, I should try with object summary instead. I can reproduce this, looks like this will work if remove `.to_h` for the object in `:data` field. Double checking v2 behavior now before adding back compatiblity

[2017-09-11 18:57] cjyclaire commented on #1607
@PetrKaleta A quick follow up question, may I ask for the documentation source that lead you to use `.to_h` in v2? Just trying to make sure I covered all in my fix PR.

Adding notes here: at V2, passing an object or hash both works.

[2017-09-11 19:10] pauldraper commented on #1034
I had this error when downloading from S3.

```/usr/lib/ruby/2.3.0/net/http.rb:880:in `initialize': execution expired (Seahorse::Client::NetworkingError)
from /usr/lib/ruby/2.3.0/net/http.rb:880:in `open'
from /usr/lib/ruby/2.3.0/net/http.rb:880:in `block in connect'
from /usr/lib/ruby/2.3.0/timeout.rb:101:in `timeout'
from /usr/lib/ruby/2.3.0/net/http.rb:878:in `connect'
from /usr/lib/ruby/2.3.0/

[2017-09-11 21:13] cjyclaire commented on #1603
Thank you for your patience! The release is [out](https://rubygems.org/gems/aws-sdk-ec2/versions/1.3.0), closing.

[2017-09-11 21:13] #1603 closed

[2017-09-12 06:12] PetrKaleta commented on #1607
@cjyclaire Hmmmmm, I think I found it directly in the source code....

[2017-09-12 09:00] easybills-admin commented on #1592
Possible side effect: https://github.com/thoughtbot/paperclip/issues/2484

[2017-09-12 14:06] ajkerr opened #1610 "Undefined method `wait_until' in v3 SDK"
Please fill out the sections below to help us address your issue

### Issue description

We have uncovered a backwards-compatibility problem after attempting to upgrade from the v2 SDK to the v3 version.

Methods such as wait_until no longer exist on classes such as Volume. This issue appears to be related to the fact that classes such as Volume extended Resource in v2, and now extend Object in v3

[2017-09-12 17:10] cjyclaire commented on #1610
@ajkerr Thanks for reporting, taking a look

[2017-09-12 17:37] cjyclaire commented on #1610
Soft update, I can reproduce this, working on fixing the regression, in the meantime, you can use ec2 client waiters as work around like:
[code]

[2017-09-12 18:45] jeffpereira opened #1611 "Uncommented documentation lines in nested aws-sdk-snowball gem"
Please fill out the sections below to help us address your issue

### Issue description
There are some uncommented documentation lines in the nested aws-sdk-snowball gem.  This causes syntax errors to occur if you have the current version (3.0.1) of aws-sdk gem installed.

`.../aws-sdk-snowball-1.0.0/lib/aws-sdk-snowball/client.rb:1204: syntax error, unexpected tCONSTANT, expecting keyword_do or '

[2017-09-12 19:01] cjyclaire commented on #1611
@jeffpereira Thanks for reporting, working on the fix

[2017-09-12 20:45] cjyclaire commented on #1611
The fix PR has been merged, will be out in next release, will ping the thread once that is out : )

[2017-09-12 20:48] jeffpereira commented on #1611
thanks for the super fast fix and update.

[2017-09-13 16:30] infinityminglei opened #1613 "stack.stack_status caches the the info after the first call and won't refresh"
Please fill out the sections below to help us address your issue

### Issue description
I am trying to use instance method stack_status method for Aws::CloudFormation::Stack class. I am expecting every time I call it , it will return the current stack_status. But after the first call, it will just cache the initial stack_status, in order to get latest stack_status, I have to initialize the Stack O

[2017-09-13 17:06] cjyclaire commented on #1613
Taking a look

[2017-09-13 17:40] cjyclaire commented on #1613
@infinityminglei The behavior looks like is expected in SDK (both V2 or V3). The data attribute for the resource object is fetched once.

In terms of polling the stack status, we recommend using [waiters](https://aws.amazon.com/blogs/developer/waiters/) instead. In your use case, you can try [`#wait_until_exists`](http://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/CloudFormation/Stack.html#wait_un

[2017-09-13 20:11] cjyclaire commented on #1611
The release is [out](https://rubygems.org/gems/aws-sdk-snowball/versions/1.1.0), closing : )

[2017-09-13 20:11] #1611 closed

[2017-09-13 20:38] infinityminglei commented on #1613
@cjyclaire the description for wait_until_exists method is not very clear. Does it mean it will wait until the stack CREATE_COMPLETE?

[2017-09-13 20:47] cjyclaire commented on #1613
@infinityminglei It just checks existence of the stack, if you want to check the complete state, you can use `:stack_create_complete` waiter, scroll down the client `#wait_until` method, you will see
![image](https://user-images.githubusercontent.com/10790394/30399901-05dc9f0e-988a-11e7-860d-779a6e39d6f5.png)

[2017-09-13 21:41] cjyclaire commented on #1607
Soft update, the PR fix has been merged, will ping the thread once release is out

[2017-09-14 16:44] cjyclaire commented on #1610
The fix PR has been merged, will ping the thread once release is out : )

[2017-09-14 23:30] cjyclaire commented on #1610
The release is [out](https://rubygems.org/gems/aws-sdk-ec2/versions/1.6.0), closing : )

[2017-09-14 23:30] #1610 closed

[2017-09-14 23:31] cjyclaire commented on #1607
The release is [out](https://rubygems.org/gems/aws-sdk-s3/versions/1.4.0), closing

[2017-09-14 23:31] #1607 closed

[2017-09-16 19:10] sam0x17 opened #1616 "Connect to non-amazon object storage services that support the S3 API?"
Please fill out the sections below to help us address your issue

### Issue description

For example, Digital Ocean supports the S3 API. It would be nice to be able to connect to these sorts of services as they typically don't provide their own gem. This might already be possible but I haven't been able to find anything in the docs.

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems lik

[2017-09-16 19:58] awood45 commented on #1616
Aside: If you're actually referring to the [aws-s3 gem](https://rubygems.org/gems/aws-s3), we don't maintain that. The `aws-sdk-s3` gem is the official S3 gem we maintain.

With that gem, you can specify custom endpoints at your discretion, for example:

[code]

If your endpoint is S3 API compatible, it will work.

[2017-09-16 19:58] #1616 closed

[2017-09-16 23:53] sam0x17 commented on #1616
thanks -- this helps!

[2017-09-20 16:46] cjyclaire commented on #1613
Questions have been answered, closing.
Feel free to reopen with further discussion : )

[2017-09-20 16:46] #1613 closed

[2017-09-20 16:46] cjyclaire commented on #1600
Closing due to ages, yet feel free to reopen with further information : )

[2017-09-20 16:46] #1600 closed

[2017-09-20 19:41] eropple opened #1618 "Ruby consistency: predicate method naming"
### Issue description
Ruby tends to (for reasons that I do not agree with, but it's a thing) use the root form of a verb for a predicate method. It would be nice, for consistency, to have methods such as `#exists?` aliased to `#exist?` so as to provide consistency between, say, `File.exist?("/tmp/foo.txt")` and `AWS::S3::Resource.new.bucket(foo).exists?`.

### Gem name ('aws-sdk', 'aws-sdk-resourc

[2017-09-20 21:22] cjyclaire commented on #1598
Thanks! Tracking this under feature backlog.

[2017-09-20 21:22] #1598 closed

[2017-09-20 21:32] eropple commented on #1618
I understand that it's generated. The generator for Ruby could/probably-should generate aliases to idiomatically present Ruby-conjugated predicate names, is what I'm saying.

[2017-09-20 21:36] awood45 commented on #1618
I hear what you're saying, but unfortunately it's a bit difficult to automatically generate aliases on top of generated/shared resources, and maintain a strong backwards compatibility promise (name collisions are a risk, for example). You're right about the names varying slightly from standard Ruby idioms, but the fix is potentially more damaging than the problem.

Going to close this, let me know

[2017-09-20 21:36] #1618 closed

[2017-09-22 15:53] krishnan-mani opened #1620 "Error: Credential should be scoped to a valid region, not 'queue'. (Aws::SQS::Errors::SignatureDoesNotMatch)"
### Issue description

When using the Aws::SQS::Client with credentials from a profile and the region set to "eu-west-1" to operate on a queue that is in "eu-west-1", the operation fails with this error

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version

[code]
produces

[code]
installed using bundler with a Gemfile that looks like this

[code]

### Ve

[2017-09-22 17:58] janko-m commented on #1580
@cjyclaire I think this is a duplicate of https://github.com/aws/aws-sdk-ruby/issues/1351, which was already added as a feature request.

[2017-09-25 16:28] cjyclaire commented on #1620
@krishnan-mani This sounds like a credential error, how do you provide credentials, especially `region` parameter? (e.g, default credential chain? config file?) Just tested a similar case locally and cannot reproduce this. Trying to figure out behavior difference there

Another question is, for those queue urls, it usually follows pattern: https://sqs.eu-west-1.amazonaws.com/MY-ID/test1, might be

[2017-09-27 15:25] matt9949 opened #1621 "Shared credentials not being loaded from ~/.aws/credentials or ~/.aws/config"
### Issue description

SharedCredentials are not being loaded from ~/.aws/config or ~/.aws/credentials at all.

As per http://docs.aws.amazon.com/sdkforruby/api/Aws/EC2/Client.html#initialize-instance_method :

:credentials (required, Credentials) — Your AWS credentials. The following locations will be searched in order for credentials:
:access_key_id, :secret_access_key, and :session_token option

[2017-10-02 20:57] cotsog opened #1622 "aws-sdk-resources 2.10.56 gem missing"
### Issue description

It seems that version 2.10.56 of the aws-sdk-resources isn't available on Rubygems but is a dependency of aws-sdk.

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version

aws-sdk 2.10.56 => https://rubygems.org/gems/aws-sdk/versions
aws-sdk-resources 2.10.56 missing => https://rubygems.org/gems/aws-sdk-resources/versions

Thanks!

[2017-10-02 21:16] cjyclaire commented on #1622
@cotsog Thanks for reporting, it just takes a while :) after our github push. now you can see it.

[2017-10-02 21:16] #1622 closed

[2017-10-03 06:33] SamSaffron opened #1623 "Can not create a lifecycle rule that scopes to a tag"
Using latest stable I am having trouble getting `put_bucket_lifecycle` to apply a rule to a tag scope.

I can get that to work via the UI but the API requires `filter` and filter can only be a string.

[2017-10-03 10:16] BanzaiMan commented on #1502
@cjyclaire The documentation is still unclear. Could you check the documentation back log, if you can? Thank you!

[2017-10-03 12:56] cotsog commented on #1622
@cjyclaire: Thanks so much for handling this quickly! 👍

[2017-10-03 13:41] amalagaura opened #1624 "Explicitly deleting tempfile after closing to save disk space"
### Issue description
We upload large encrypted files and have limited disk space. Tempfile are created to encrypt but they are not cleaned up after the file is uploaded.

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version
aws-sdk-s3

### Version of Ruby, OS environment
Ruby 2.3

### Code snippets / steps to reproduce
https://github.com/aws/aws-sdk-ruby

[2017-10-03 15:56] krystofspl commented on #1594
I'm very sorry about the delay, couldn't find the time to get into it.
V3 hangs indefinitely when connecting, but again that might be something with our app, it's quite complex so it's time consuming to debug. Upgrade to v3 is planned in the future for sure, but we need to make it work with v2 for the time being.
Basically we are just calling object.upload_file(...) with :server_side_encryption =>

[2017-10-03 17:13] cjyclaire commented on #1502
@BanzaiMan Apologies, I have pinged them again, will update

[2017-10-03 22:09] SamSaffron commented on #1623
Thanks @cjyclaire !

[2017-10-05 14:11] dciancio opened #1628 "aws-sdk-cloudhsm (v1.2.0) gem sets world writable permissions on files!"
Please fill out the sections below to help us address your issue

### Issue description
The new version of aws-sdk-cloudhsm gem sets world writable permissions on all its files.  This causes our CIS compliancy tests to fail!

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version
awk-sdk-cloudhsm  v1.2.0

### Version of Ruby, OS environment
RHEL 7.4
ruby 2.

[2017-10-05 16:08] amalagaura commented on #1624
I see there is a spec which expects the tempfile to not be deleted in order to enable caching of retries.

Is the spec correct? I see a close operation here:
https://github.com/aws/aws-sdk-ruby/blob/9ea447b7e9e57e27bb7924aca40a5bf0c3265a94/gems/aws-sdk-s3/lib/aws-sdk-s3/encryption/encrypt_handler.rb#L42-L44

Doesn't the close happen on a succesful response? Is the IOEncryption handler instance rea

[2017-10-05 16:09] amalagaura commented on #1624
@cjyclaire I removed my PR

[2017-10-05 16:23] amalagaura commented on #1624
Until this is done I am using the following code after an upload:

[code]

[2017-10-05 18:24] #1623 closed

[2017-10-05 23:27] mike-bailey commented on #1577
Any news? 😄

[2017-10-05 23:28] mike-bailey commented on #1460
When you work through the console, you do not need a prefix. When you do it through the AWS Ruby SDK, you need a prefix. Am I wrong in assuming this means it's probably an SDK issue and not a service API bug?

[2017-10-06 18:47] sverchdotgov opened #1630 "AWS SDK fails to read route to VPC endpoint because of missing destination_cidr_block"
Please fill out the sections below to help us address your issue

### Issue description

When I create a route to a VPC endpoint, it creates a route in my route table that doesn't include a DestinationCidrBlock, which causes the AWS SDK to fail when it tries to create a Route object.

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version

'aws-sdk-ec2'

##

[2017-10-06 21:56] cjyclaire commented on #1630
@sverchdotgov This might have to do with ec2 resource model outdate, if you try api operation `#describe_route_tables` directly, `destination_cidr_block` should be there. And likely, among all routes returned, there are some entries with `destination_cidr_block` nil. Like entry you mentioned.
[code]
This is a resource model limitation that the identifier for route has been changes, the workaround

[2017-10-09 15:17] dimitrovmaksim opened #1632 "#get_queue_attributes not working and returns Unknown Attribute Error"
### Issue description
#get_queue_attributes not working and now returns `Aws::SQS::Errors::InvalidAttributeName (Unknown Attribute 'ApproximateNumberOfMessages.):`, even when requesting 'All' attributes. It was working fine a week or two ago. We have been using it in production for some time now for queue statistics and it just stopped working. Tried it on couple AWS accounts and the result is the

[2017-10-09 15:24] AlexMorreale commented on #201
Just ran into this myself. It's pretty crazy `.exists?` requires `GetObject` and not just `ListBucket`

[2017-10-09 16:31] Throne3d opened #1633 "Changelog link in README is broken"
### Issue description

In [the README](https://github.com/aws/aws-sdk-ruby/blob/0b2eb82f1a20b02fc768e8095655b5464c7feb81/README.md), the "Change Log" link is broken. This currently points to <https://github.com/aws/aws-sdk-ruby/blob/master/CHANGELOG.md>, which provides a 404 from GitHub.

I tried looking elsewhere for this changelog, such as [on the Amazon AWS website](https://aws.amazon.com/relea

[2017-10-09 17:06] cjyclaire commented on #1633
PR #1634 is opened to address this issue, thanks for reporting!

[2017-10-09 17:13] cjyclaire commented on #1633
Just merged, closing : )

[2017-10-09 17:13] #1633 closed

[2017-10-09 17:15] Throne3d commented on #1633
Thanks!

[2017-10-09 17:22] cjyclaire commented on #1632
@dimitrovmaksim Sorry to hear that, yet I couldn't reproduce the issue with both V2 and V3 SDK, could you try contact [AwsSupport](https://console.aws.amazon.com/support/home) here to get help? They could help look into request IDs to see if anything went wrong. They will engage us as well if this has to do with SDK.

[2017-10-09 18:19] dimitrovmaksim commented on #1632
@cjyclaire thanks for the reply. Rewrote the code to be 100% sure and it works now. It seems it was something In our code, that I could not locate earlier. Sorry for the inconvenience!

[2017-10-09 18:19] #1632 closed

[2017-10-09 19:57] pchaganti opened #1635 ""PreSignedurl could not be authenticated" error when copying RDS cluster DB snapshots"
### Issue description
Copying an encrypted RDS cluster db snapshot from us-east-1 to us-east-2 is returning the error **_PreSignedurl could not be authenticated_**. It is an encrypted snapshot residing in us-east-1, and we are specifying the KMS key id to be used for encryption in us-east-2

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version
aws-sdk-rds

[2017-10-11 15:36] praveenv66 commented on #808
@ShahriatHossain Did you find a solution to generate pre-signed url which doesn't expire or any possible maximum value? I'm using the below code to generate presigned url. `client.generate_presigned_url('get_object',Params = {'Bucket': bucketName,'Key': sourceFilePath },ExpiresIn = 7200)`

[2017-10-11 16:16] cjyclaire commented on #1635
Taking a look, working on reproduce ...

[2017-10-11 17:34] pchaganti commented on #1635
Some more info. This error happens when you try to copy an encrypted RDS cluster snapshot to another region. We are also using an IAM role and not access keys.

The aws-sdk for dotnet apparently had a similar issue which had to do with one of the parameters - https://github.com/aws/aws-sdk-net/issues/635

[2017-10-11 18:24] cjyclaire commented on #1635
@pchaganti Thanks for the info! Sorry to say, yet interestingly I still couldn't reproduce the error with kms key and from assume roles credentials or access keys. I also took a look at .NET fix, and our header is injected correctly and has not problem with that.

Would you mind contact [Aws support](https://console.aws.amazon.com/support/home) to help look into your request IDs? If it's related t

[2017-10-11 18:52] MMartyn opened #1636 "EC2::Client#associate_iam_instance_profile is returning with an InvalidAction exception"
Please fill out the sections below to help us address your issue

### Issue description
I am creating a role, instance profile, and associating the role to the profile through the SDK. Then I am attempting to associate that profile with a running EC2 instance. According to the docs I am calling it correctly: http://docs.aws.amazon.com/sdkforruby/api/Aws/EC2/Client.html#associate_iam_instance_profi

[2017-10-11 19:30] brianolson commented on #1501
This bug exists in the current documentation for put_item.
http://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/DynamoDB/Client.html#put_item-instance_method
item => {"Field" => {s: "value"}} # does not work, doc example is wrong
item => {"Field" => "value}} # does work

[2017-10-11 19:46] pchaganti commented on #1635
I just tried this and am able to do the copy from the AWS console using the exact same parameters, but not with the sdk.

[2017-10-11 20:45] pchaganti commented on #1635
Some more debugging. I checked the pre-signed URL that the AWS console is posting through the Chrome dev tools and compared the params in it to the URL generated by the RDS presigner plugin in this SDK.

The main difference I see is that the console is sending these three extra params. I am not sure what is needed for the signed URl but these are the additional three:

&**SignatureMethod**=HmacSHA

[2017-10-11 20:55] cjyclaire commented on #1635
@pchaganti Hmmm, quick question to double check, when you using the console, you are using the same assume role that is used with SDK?

Here is my reproduce steps for reference if you notice any difference with yours:
I create an assume role, I used this assume role create kms key. I have db cluster in 2 different regions, I create cluster snapshot in source region. I use this role for rds client,

[2017-10-11 21:09] pchaganti commented on #1635
I will check this. The role I am using has the admin policy with everything in it.

The db cluster was created encrypted. So the snapshots(manual/auto) are automatically encrypted. I cant tell if you are using an encrypted db cluster.

[2017-10-11 21:21] cjyclaire commented on #1635
Thanks, taking a second look ... I'll take a look at the console one as well

[2017-10-11 22:03] cjyclaire commented on #1635
Hmmm still couldn't reproduce, still can see region copy happening as expected. I launched 2 encrypted db instance from scratch in region A, B. Created snapshot in region A, use RDS Client in region B with its kms key id and source region as A etc. Your code snippet does look good to me though.

[2017-10-11 22:08] pchaganti commented on #1635
hmm. i will try to reproduce this in a completely different AWS account.

thanks for your help !

[2017-10-12 00:09] pchaganti commented on #1635
Tried this in a completely different account with a different role, and it worked.

Not sure what the issue is with the other role I am using but somehow somewhere it is missing something.

Thanks again for your help!

[2017-10-12 00:09] #1635 closed

[2017-10-12 16:27] thegreyfellow opened #1637 "How to list objects inside one directory level inside a bucket"
### Issue description
I am trying to get the list of files/folders inside a bucket, using the #objects method I get all the objects inside the bucket. But I am expecting to get only the content in the current level.

example:
Bucket:
 - file1
 - file2
 - folder1/
   - file3
   - file4

requesting: `Aws::S3::Bucket.new().objects` should return only { file1, file2, folder1 }
instead I am getting all

[2017-10-12 16:53] cjyclaire commented on #1630
Closing due to aged, also tracked in backlog under resources. Feel free to reopen with further comments : )

[2017-10-13 23:49] gatopan opened #1639 "Typo: Should be snapshot"
https://github.com/aws/aws-sdk-ruby/blob/09cc03cfbe45f69a61a0a45b80b5e738888ab956/gems/aws-sdk-rds/lib/aws-sdk-rds/db_cluster.rb#L648

[2017-10-13 23:49] gatopan opened #1640 "Typo: Should be 'skip_final_snapshot'"
https://github.com/aws/aws-sdk-ruby/blob/09cc03cfbe45f69a61a0a45b80b5e738888ab956/gems/aws-sdk-rds/lib/aws-sdk-rds/db_cluster.rb#L722

[2017-10-13 23:56] cjyclaire commented on #1639
Thanks for reporting, have reached out to doc team about this :)

[2017-10-13 23:56] cjyclaire commented on #1640
Thanks for reporting, have reached out to doc team about this :)

[2017-10-16 15:07] brianknight10 opened #1641 "SSM client returns unexpected data from stubbed methods"
### Issue description
When stubbing the response for `get_parameter` on the SSM client, I am not getting the expected data returned. See code snippet below. I have used this way of stubbing with other Client methods in the SSM client (such as `get_parameters_by_path`) with no issues.

### Gem name and its version
`aws-sdk-ssm` version 1.2.0

### Version of Ruby, OS environment
Mac OSX Sierra, vers

[2017-10-16 23:18] cjyclaire commented on #1636
@MMartyn Sorry for the late reply, yet I couldn't reproduce the error for the API. Feel free to contact [Aws Support](https://console.aws.amazon.com/support/home) as well, they can help look into request Ids. Or other channels listed at [Geting Help section](https://github.com/aws/aws-sdk-ruby#getting-help)

[2017-10-16 23:27] cjyclaire commented on #1637
@thegreyfellow Sorry for the late reply. What you have observed is the current behavior for current resource design. Instead, you can call `#list_objects_v2` API directly. As for top level objects, you can try:
[code]

[2017-10-16 23:39] cjyclaire commented on #1641
@brianknight10 Hmm I'm guessing  "path ..." is a mis-paste in your code snippet, yet I cannot reproduce the error with your code snippet:
![image](https://user-images.githubusercontent.com/10790394/31639961-797084ce-b290-11e7-922c-e50e99b22654.png)

[2017-10-17 14:38] supersam654 opened #1642 "API Definition for CloudFormation#describe_stack_events should mark `stack_name` as required."
### Issue description

According to the official docs at http://docs.aws.amazon.com/sdkforruby/api/Aws/CloudFormation/Client.html#describe_stack_events-instance_method, `describe_stack_events` has no required arguments. I've confirmed that the api definitions included on the `master` branch of this repo also don't mark any arguments as required:

https://github.com/aws/aws-sdk-ruby/blob/master/api

[2017-10-17 14:42] MMartyn commented on #1636
Weird. Not sure why you are unable to reproduce. I just tested it again and got the same error:

```Aws::EC2::Errors::InvalidAction: The action AssociateIamInstanceProfile is not valid for this web service.```

[2017-10-17 17:28] MMartyn commented on #1636
@cjyclaire I am going to go ahead and close. It turned out to be an issue on our side where we were locking down the api version higher up in our code. Thanks for your time.

[2017-10-17 17:28] #1636 closed

[2017-10-17 17:37] brianknight10 commented on #1641
I sincerely apologize. I had a threading issue happening and that was the cause of my problem. Everything looks good!

[2017-10-17 17:37] #1641 closed

[2017-10-17 18:11] cjyclaire commented on #1642
Thanks for reporting, I can reproduce this, reaching out to service team

[2017-10-19 17:40] lssachin commented on #808
this can happen your local system is behind AWS S3's time

[2017-10-19 17:41] lssachin commented on #1182
this can happen when your local system is behind AWS S3's time

[2017-10-19 18:05] thegreyfellow commented on #1637
Thanks for the reply, I don't know how I missed this method.

[2017-10-22 23:54] SamSaffron commented on #1623
Hi @cjyclaire we started using the new APIs and are getting:

"Filter element can only be used in Lifecycle V2."

Is there some documentation anywhere about how we should go about updating various s3 buckets out there?

[2017-10-23 10:11] lwoggardner opened #1646 "Aws::CloudFormation::Stack.stack_name regression"
### Issue description
In version 2 Aws::CloudFormation::Stack.new(<stack_id>).stack_name would invoke DescribeStack api and return just the stack name.

In version 3 it is just an alias to #name, and thus returns whatever was passed into the constructor, which might have been a full stack id arn.

### Gem name
aws-sdk-cloudformation 1.2.0

### Version of Ruby, OS environment
ruby 2.3 windows and l

[2017-10-23 13:04] jkiran307 commented on #1220
Hi trevorrowe,

This really helped me.

Regards,
Kiran307

[2017-10-23 17:15] cjyclaire commented on #1646
@lwoggardner Thanks for the info. I can reproduce this locally. A workaround is by calling `stack.stack_id` instead, it will return the arn value. This is actually a correct behavior for stack that `#stack_name` returns name only and `#stack_id` returns the arn.

Taking a look at V2 about the difference behavior now ...

[2017-10-23 17:16] cjyclaire commented on #1637
Closing : ) feel free to reopen with further comments.

[2017-10-23 17:16] #1637 closed

[2017-10-23 17:17] cjyclaire commented on #1620
Closing due to ages, yet feel free to reopen with further info

[2017-10-23 17:17] #1620 closed

[2017-10-23 17:18] cjyclaire commented on #1642
Soft update, service team is aware of this and this is tracked.

[2017-10-23 19:27] supersam654 commented on #1642
Thanks for the update. I found another 6 API calls that I think should have a parameter marked as required (just like this one). What's the best way for me to report those (separate issues, just comment here, something else.)?

[2017-10-23 19:36] cjyclaire commented on #1642
Wow sorry to hear that, sure, there are several channel, you can contact [`Aws Support`](https://console.aws.amazon.com/support/home) if you want direct conversations with service team, and they will reach out to us if they need our help. You can open an issue with us as well. Also you can also open stackoverflow questions with tags, service team will help out as well. Further more, there is "Prov

[2017-10-23 21:36] lwoggardner commented on #1646
@cjyclaire  I have a stack_id and I'm trying to get just the name.  My (temporary) workaround is to monkey patch Aws::CloudFormation:;Stack  roughly like

[code]

[2017-10-24 10:08] lwoggardner commented on #1646
Similar issue exists with Aws::EC2::KeyPair#key_name, it is just an alias to the constructor value #name, so previously where calling this would raise Aws::EC2::Errors::InvalidKeyPairNotFound it now just returns the string.

[code]

[2017-10-24 10:31] lwoggardner opened #1648 "Deprecation of Resource#wait_until methods"
### Issue description

Why is #wait_until for Resource deprecated?

Documentation suggests that waiters on the equivalent Client are to be used instead but those methods only support pre-defined waiters.

The Resource#wait_until methods allow an arbitrary evaluation of the resource which can be used to produce custom waiters, which is not possible with the Client methods.

eg This is from code tha

[2017-10-24 10:40] lwoggardner opened #1649 "Where are Client options described in V3 documentation?"
### Issue description
In V2 docs the available options for a client are enumerated on the Client initialize() method documentation.

http://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/CloudFormation/Client.html#initialize-instance_method

In V3 I cannot find the client options documented anywhere.

http://docs.aws.amazon.com/sdkforruby/api/Aws/CloudFormation/Client.html#initialize-instance_method

[2017-10-24 10:58] lwoggardner opened #1650 "Aws::EC2::Image#create_tags no longer accepts Symbols in tag entries"
### Issue description

Errors using V3 to create tags from code previously working in V2

### Code snippets / steps to reproduce

[code]

[2017-10-24 13:34] supersam654 commented on #1642
Thanks. I contacted Support and they're handling them.

[2017-10-24 17:10] cjyclaire commented on #1649
Hmm they are actually [here](https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-s3/lib/aws-sdk-s3/client.rb#L79) at client docs, might be a YARD rendering problem, will fix this

[2017-10-25 01:13] lwoggardner commented on #1649
Is it because it is calling it "options" but the method is defined as "*args" so there is no matching parameter called "options" ?

 # @option options [required, Aws::CredentialProvider] :credentials

def initialize(*args)

[2017-10-27 14:07] massimocode opened #1651 "V2 SDK doesn't work when AWS_SESSION_TOKEN environment variable is set but empty string"
Replication steps
- I am unfortunate enough to be developing in Ruby
- I use the latest version of the V2 SDK
[code]
- I use permanent credentials (i.e. where a session token isn't needed) set in my environment variables (AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY)
- I have my AWS_SESSION_TOKEN environment variable set to an empty string

Then I get errors saying `The security token included in the

[2017-10-27 14:23] parsley42 opened #1652 "Calls to rds resource.create_db_cluster always throws an exception"
Please fill out the sections below to help us address your issue

### Calling resource.create_db_cluster(option) always throws an exception:
code:
[code]
The  problem is in the 4th line in the reference to options[:db_cluster] - which not only isn't a key, but if you call the method with the key set you get an exception in the option validator.

### Gem name: aws-sdk-rds v. 1.6.0, aws-sdk 3.0.1

[2017-10-29 23:20] cjyclaire commented on #1651
@massimocode Hmm weird, I cannot reproduce this in either V3 or V2 SDK with ENV['AWS_SESSION_TOKEN'] set to empty string.

Can you try not set the token in environment variables if it's not required? Basically, SDK just try fetch "AWS_SESSION_TOKEN" key from ENV, since it presents, it will use its value, which is usually used for assume roles.

[2017-10-29 23:35] cjyclaire commented on #1652
Thanks for reporting, you are right, this looks like cause by shared resource model definition [here](https://github.com/aws/aws-sdk-ruby/blob/master/apis/rds/2014-10-31/resources-1.json#L12), marking this as resource models issue.

[2017-10-30 21:02] SamSaffron opened #1653 "Filter element can only be used in Lifecycle V2, when updating lifecycle policy"
Per a previous discussion we moved away from using deprecated `put_bucket_lifecycle` towards using `put_bucket_lifecycle_configuration`

Trouble is we now start seeing this in tons of s3 buckets we have

[code]

- Is there any way to upgrade all buckets to v2?

- Should `put_bucket_lifecycle_configuration` operate in some compatability mode?

[2017-10-30 23:20] fdr opened #1654 "SDK version 3 erroneously requires :is_truncated for route53 list_resource_record_sets"
The latest vintages of version 2 is fine, and version 3 works against a real R53 endpoint, but not in tests. Code to reproduce:

[code]

Yields:

[code]

Should yield: empty or default response.

Notably, `is_truncated` is a response field, not a request field.

[2017-10-30 23:28] cjyclaire commented on #1654
Hmm, using the same code snippet with same API, I cannot reproduce the error in V3

[2017-10-30 23:44] fdr commented on #1654
Well...I can? 100%. Here's the full trace.

[code]

[2017-10-31 00:27] cjyclaire commented on #1654
@fdr Ah I see, sorry for the confusion, this is about the stubbed response instead if a real API call. I can reproduce this, taking a look

[2017-11-02 01:38] cjyclaire commented on #1640
This is tracked by doc team, docs updates will be auto include in SDK release once it's fixed.
Closing, free feel to reopen with further comments : )

[2017-11-02 01:38] #1640 closed

[2017-11-02 01:38] cjyclaire commented on #1639
This is tracked by doc team, docs updates will be auto include in SDK release once it's fixed.
Closing, free feel to reopen with further comments : )

[2017-11-02 01:38] #1639 closed

[2017-11-02 04:14] cjyclaire commented on #1654
Sorry for the late response, so this is a problem with our empty struct for stubs. PR #1655 is opened and is under review.

[2017-11-02 21:19] cjyclaire commented on #1650
Hmmm, tag [does](https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-ec2/lib/aws-sdk-ec2/tag.rb#L258) check `:key`, the key value should be a string type instead of symbol type.

Weird, from your code snippet, it's a string, taking a look to reproduce.

[2017-11-02 21:32] cjyclaire commented on #1650
Hmmm I copy paste your snippet and tried with a newly created image and succeed for me.

[2017-11-02 21:59] cjyclaire commented on #1646
A short summary for this regression here, so in V2, every attribute is fetched from [data](https://github.com/aws/aws-sdk-ruby/blob/version-2/aws-sdk-resources/lib/aws-sdk-resources/builder_sources.rb#L60), in V3, since we are code-generation those resource objects, their identifiers are not loaded from data anymore, those identifiers helps with object initialization instead.

Personally, I think

[2017-11-02 22:06] cjyclaire commented on #1653
Sorry for the late response, could you try contact [Aws Support](https://console.aws.amazon.com/support/home) for a directly conversation with service team? Since this is an server side response error, they will have more knowledge than us. They can also help look into your  request IDs to see if anything goes wrong.

[2017-11-03 07:45] lwoggardner commented on #1650
Apologies.  I misinterpreted the error message - it means the value of :key is a Symbol not that the inner tag entry is :key rather than "key".

So a proper sample would be
[code]

Although this does work on V2 I can understand if it was just an accident that V2 accepted symbols here while V3 has stricter validation but it is a backwards compatibility issue nonetheless.

For me it is ok, I can jus

[2017-11-03 17:56] ddimmich commented on #1577
having the same issue from within logstash.  would be great to get an update.

[2017-11-03 20:48] fdr commented on #1654
Oh, no problems. Thanks.

[2017-11-03 21:51] cjyclaire commented on #1654
PR has been merged, will be included in the next release.

[2017-11-05 14:04] augustovictor commented on #1460
I got this error when I passed an empty value to `deleteObjects` method.

That happened because I forgot to handle cases where no objects to be deleted from S3 was provided.

[2017-11-05 20:33] mike-bailey commented on #1460
Can this be reopened? You said feel free to reopen but I can’t :)

[2017-11-06 19:22] rboy1 commented on #1653
@cjyclaire what's the solution to this? Is there a way to reach Amazon support and report the issue - they don't have support for regular accounts?

[2017-11-06 20:35] cjyclaire commented on #1653
I contacted service team internally with those info, will update

[2017-11-07 18:53] cjyclaire commented on #1654
The fix is out in the latest release for [`core`](https://rubygems.org/gems/aws-sdk-core/versions/3.6.1), closing, feel free to reopen with further comments or questions

[2017-11-07 18:53] #1654 closed

[2017-11-07 18:54] cjyclaire commented on #1651
Closing due to ages, feel free to reopen with further information : )

[2017-11-07 18:54] #1651 closed

[2017-11-08 01:03] cjyclaire commented on #1653
So to clarify a bit, there is no V1 and V2 bucket concept, you just need to make sure you are using the `put_bucket_lifecycle_configuration` operation instead of `put_bucket_lifecycle` for all targeting buckets. If you still see an issue, could you try setting `:http_wire_trace` to `true` to give us a full http wire trace for debugging?

[2017-11-11 21:49] rhyas commented on #1621
I looked at the code for this, and it seems as if the documentation is just flat wrong. It implies it supports the config options with role_arn and source_profile, but the actual code for shared_credentials does not actually do anything related to that process. It defaults to only using the credentials file and keys therein. Seems like a pretty major issue if the documentation says it should work,

[2017-11-13 03:32] SamSaffron commented on #1653
I see, well we do have an actual bug here I think in the aws gem:

get_bucket_lifecycle_configuration is returning

[code]

Doing a `to_h` on this thing returns:

[code]

When it should really be:

{:expiration=>{:days=>30}, :id=>"purge-tombstone", :filter => {:prefix=>"tombstone/" }, :status=>"Enabled"}

So this ends up triggering the v2 error.

[2017-11-13 05:08] SamSaffron commented on #1653
https://github.com/discourse/discourse/commit/4f28c71b5082d8194129f10084738775b36b8ed3

hope this helps narrow down the issue.

[2017-11-13 18:41] cjyclaire commented on #1653
@SamSaffron Hmm I cannot reproduce by:
1. using [`#put_bucket_lifecycle_configuration(opts)`](http://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/S3/Client.html#put_bucket_lifecycle_configuration-instance_method)
2. using [`#http://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/S3/Client.html#get_bucket_lifecycle_configuration-instance_method`]

The response echo the correct format as expected:
[code]

[2017-11-13 20:33] awood45 commented on #1646
It's quite possible as well that this is a shortcoming with the resource model, and that we're unfortunately running in to it now. Migrating to client calls is the cleanest solution, though I definitely appreciate that this is a major overhaul, potentially. We're going to see if it's feasible to update the resource model, and if not, if it's feasible to customize this particular resource to match

[2017-11-13 20:58] SamSaffron commented on #1653
Yes, absolutely, the issue only existed on legacy systems that were previously configured with put_bucket_lifecycle.

The repro, in theory, should be to put_bucket_lifecycle then get_bucket_lifecycle_configuration and put_bucket_lifecycle_configuration.

[2017-11-13 20:58] awood45 commented on #1621
There is a shortcoming with MFA that you can work around by using `Aws::AssumeRoleCredentials` directly. What value are you setting for `AWS_PROFILE`?

[2017-11-13 21:05] awood45 commented on #1621
Actually, the MFA case may still require client calls directly, it's on a feature request backlog across the SDKs.

[2017-11-13 21:09] cjyclaire commented on #1653
I believe that might be the issue from those API coupling, I'll talk to service team for confirmation and best practice for this.

From SDK side, we just parse the response we received from server side for the API you call and we have no ability to change the logic at server side.

[2017-11-13 21:16] SamSaffron commented on #1653
thanks heaps @cjyclaire, nothing urgent on our side cause we have a
workaround in place already.

On Tue, Nov 14, 2017 at 8:09 AM, cjyclaire <notifications@github.com> wrote:

[2017-11-13 21:41] rhyas commented on #1621
So this is basically using the Assume Role functionality in the SDK via configs. http://docs.aws.amazon.com/cli/latest/userguide/cli-roles.html. The SDK supports this, but what I have come to understand, and this is where the documentation is wrong, it only works if you *don't* feed include a Credentials object in the config, rather only feed it profile arg, and let the client object discover cred

[2017-11-13 22:15] awood45 commented on #1621
It should actually give preference to the presence of the `source_profile` config value. For example, we have [unit tests](https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-core/spec/aws/credential_resolution_chain_spec.rb#L50) which specifically validate this.

It may help if you provide a redacted version of your shared configuration setup, and how you're constructing a client.

[2017-11-13 22:28] cjyclaire commented on #1653
Summary: `get_bucket_lifecycle` is used with `put_bucket_lifecycle`, and likewise, `get_bucket_lifecycle_configuration` is used with `put_bucket_lifecycle_configuration`. Mixing the usage will throw an error there.

Thus if you want to use `get_bucket_lifecycle_configuration` for bucket that has lifecycle config with `put_bucket_lifecycle`, the simplest way is to delete that first with [`delete_bu

[2017-11-13 22:28] #1653 closed

[2017-11-13 22:33] rhyas commented on #1621
I discovered this trying to use the kitchen-ec2 package with assumed roles. The code in question is here: https://github.com/test-kitchen/kitchen-ec2/blob/master/lib/kitchen/driver/aws/client.rb and to make things work, I replaced line 50 to be `:profile = profile_name`

[2017-11-13 22:36] awood45 commented on #1621
Interesting - I'm looking at the code now to see if there is an obvious fix, but it looks like this is hand-rolling its own credential provider chain. So what the SDK does or does not do with regards to role assumption wouldn't apply.

[2017-11-13 22:37] awood45 commented on #1621
It also looks like the hand-rolled implementation here is using private APIs, and it's totally understandable that it would skip the SDK's later-updated logic around Shared Config completely. We did not implement assume role credential support in the SharedCredentials class.

[2017-11-13 22:40] awood45 commented on #1621
@matt9949 are you also having this problem via `kitchen-ec2`, or directly? Trying to see if these are related issues.

[2017-11-13 22:49] rhyas commented on #1621
You can say it's "hand rolled", but it's following the documentation, or attempting to. The documentation specifically states that you have to provide credentials, and there are only 4 classes, none of which allow you to use the config option of assumed role. I suspect that this ticket, even if it's not using kitchen-ec2, was trying to follow the documentation and running into the same problem. So

[2017-11-13 23:02] awood45 commented on #1621
That's fair, and the dev guide you linked should have a feedback form. I'm going to tag this as a Documentation issue for the moment so we can look at more clarity in our own docs.

[2017-11-13 23:03] awood45 commented on #1621
It does look like `kitchen-ec2` may have hand-rolled their credential chain to have AssumeRole support in a provider chain, before we implemented it (V2 did not ship with AssumeRole support in the credential provider chain, it was added later).

[2017-11-15 17:41] matt9949 commented on #1621
Hey guys, thanks for looking at this. @awood45 not using kitchen-ec2, i'm using a library called [ami_spec](https://github.com/envato/ami-spec) to spin up a temporary EC2 instance with an AMI I have built/made changes to for acceptance testing. I believe the library uses the ruby aws-sdk for spinning up EC2 instances.

[2017-11-15 18:28] cjyclaire commented on #1648
Good to know! So resource `#wait_until` is marked as deprecated mainly to due the fact that the shared resource model is easy to be outdated when compared with client API models, we would not remove it to introduce breaking changes : ) And we have a backlog feature to support custom waiters as well : )

Closing, feel free to reopen with further comments or questions, I'll also add a  "+1" for cust

[2017-11-15 18:28] #1648 closed

[2017-11-15 18:34] cjyclaire commented on #1650
I see, yeah, it's true that we would prefer stronger validations since they are string types.
Sorry to hear and appreciate that! Feel free to open issues with us with any problems you have in migrating, always happy to take a look : )

[2017-11-15 18:34] #1650 closed

[2017-11-15 18:37] cjyclaire commented on #1642
Closing, once service team have this updated, it will flow into our release automatically : )

[2017-11-15 18:37] #1642 closed

[2017-11-17 01:12] lwoggardner commented on #1650
Thanks (BTW  I finished my migration - no further V2 - V3 issues)

[2017-11-17 16:26] ook opened #1659 "aws-sdk error where awscli works"
Hi,

I meet a weird bug when using ruby `aws-sdk` with non standard endpoint (localstack), whereas `awscli` works perfectly with it.

[code]

In the same container, it works with awscli:

[code]

I created a project with a docker-compose setup to show the problem: https://github.com/ook/localstack-s3-problem

Have I forget some configuration to make `aws-sdk-ruby` works or is it a bug in aws-sdk-r

[2017-11-17 18:21] awood45 commented on #1659
It would be helpful to see how you've configured your custom endpoint in your client, to determine why you're seeing this issue. It looks like a standard networking error.

[2017-11-20 07:45] ook commented on #1659
Sure. Let me show you a complete session:

[code]

So, it shows the link is well configured and reachable into the container, `awscli` can access it without a problem. In a ruby console, the stdlib `net/http` can reach the endpoint, only `aws-sdk` have problem with it.

Am I misusing `Aws.config.update` method?

[2017-11-20 10:07] ook commented on #1659
As followup, someone on SO found a workaroud:  adding `force_path_style: true` to Aws.config make the sdk behave as expected.
Shouldn't this option been set by default to be consistent with `awscli` ?

[2017-11-20 16:29] awood45 commented on #1659
That was my instinct on this as well. The behavior the SDK exhibits is valid against S3 endpoints. Given that the issue here applies only to a custom endpoint setup, the workaround seems sufficient. Closing, let me know if you have any follow-up questions.

[2017-11-20 16:29] #1659 closed

[2017-11-21 13:46] aquexata opened #1662 "SNS: MessageAttributes is sent empty to Lambda protocol if MessageStructure is set to "json""
### Issue description

I'm trying to publish a message to SNS using a different message for each protocol. On Lambda the MessageAttributes is received empty but it's sent to other protocols lile email-json.

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version

[code]

### Version of Ruby, OS environment

[code]

### Code snippets / steps to reproduce

Th

[2017-11-21 18:28] awood45 commented on #1662
Given that you're getting MessageAttributes correctly on other formats, it would indicate that the SDK is properly formatting and sending your request. Have you reached out to AWS Support? This sounds like a usage or service question, not sure what we can do on the SDK side.

[2017-11-21 18:54] aquexata commented on #1662
Hi @awood45 . Thank you for your quick response. Sorry, I haven't contacted AWS Support. If you think this is not related to the SDK I'll close this issue.

Thank you again for looking into this.

[2017-11-21 18:54] #1662 closed

[2017-11-22 03:00] patrobinson opened #1663 "Installing version 2 of aws-sdk gem fails"
### Issue description

When running `gem install aws-sdk -v '~>2'` the installation fails with:

[code]

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version

aws-sdk version 2.10.88. Installing version 2.10.87 works

### Version of Ruby, OS environment

Ruby 2.2.4, debian running the docker image `ruby:2.2.4-slim`

### Code snippets / steps to reproduce

[2017-11-22 03:20] cjyclaire commented on #1663
@patrobinson This has been [fixed](https://rubygems.org/gems/aws-sdk-resources/versions/2.10.88), RubyGem yelled at us at the first time :)

[2017-11-22 03:20] #1663 closed

[2017-11-24 05:04] raheel0452 commented on #1161
@ravsom did you ever get solution to above error ? i'm saving same issue

[2017-11-24 05:16] ravsom commented on #1161
Not really. I changed the workflow to use s3 directly for static web
hosting instead of directing it to eb.

On 24 Nov 2017 10:34 am, "raheel0452" <notifications@github.com> wrote:

[2017-11-24 05:31] raheel0452 commented on #1596
@ravsom @awood45 any update on this ?

[2017-11-27 05:43] mike-bailey commented on #1577
Anyone home?

[2017-11-27 05:46] mike-bailey opened #1664 "Aws::S3::Errors::MalformedXML: The XML you provided was not well-formed or did not validate against our published schema"
Literally #1460 which got closed and wasn't reopened. The claim was it's an API bug but I don't get how the Console could do it fine and the Ruby SDK can't.

Basically can't put a bucket logging policy without a prefix.

[code]

[2017-11-27 05:56] awood45 commented on #1577
Sorry, no updates yet. Will revisit after reInvent, need to collaborate with a few parties on this one.

[2017-11-27 05:57] mike-bailey commented on #1577
No problem, just making sure it wasn't abandoned.

[2017-11-27 21:54] cjyclaire commented on #1664
@mike-bailey I can reproduce the issue, to echo Alex response, I'll also help ping service team on this for updates. A quick question to confirm, is #1460 #1577 all for the same issue? Any preference for a single one to keep? I can help reopen #1460 too if you like as well : )

[2017-11-27 22:00] mike-bailey commented on #1664
Sorry, I pasted the wrong sample from #1460. #1460 was about lifecycle policy, which #1577 is not. Ideally yes #1460 should be reopened and this closed, I just opened this for visibility since the comment in #1460 must have gotten lost :)

How is this an API issue when it works fine in the console, but not specifically through the SDK?

[2017-11-27 22:22] cjyclaire commented on #1664
@mike-bailey Cool, I'll reopen #1460 and close this one, also echo updates in #1577 : )

So I'd need the information from service team to see which SDK console is using and how did they provide parameters and got succeed call, they might have provided more parameters than we thought : ), if its a specific Ruby SDK error, we would like to address it definitely. If it's a API usage issue, (e.g. ther

[2017-11-27 22:22] #1664 closed

[2017-11-27 22:23] mike-bailey commented on #1460
Thank you for your help!

[2017-11-30 02:08] VedAustin commented on #968
I am implementing the above solution but am getting a new error on "resource not found":
[code]

[2017-12-02 05:33] oyeanuj opened #1666 "More detailed changelog entries?"
Hi folks! Firstly, thank you for all of your work in these gems. One suggestion - would it be possible to add more details to the changelog in the individual gems so that developers know what to expect?

Right now, most entries look like this:

This doesn't give enough information on what to expect, thus creating uncertainty and needing a developer to first look through commits in history, narrow

[2017-12-04 17:34] cjyclaire commented on #1666
Thanks for the feedback! Tracking this in feature backlog.
At same time, while the release note will be few sentences, you can always find detail intro of each feature release at AWS [what's new](https://aws.amazon.com/new/) : )

[2017-12-05 11:20] carlhoerberg commented on #1167
Ideally you should use [Refinements](https://ruby-doc.org/core-2.4.2/doc/syntax/refinements_rdoc.html) instead of open monkey-patching when patching core libraries.

[2017-12-06 02:37] alexbecker opened #1667 "Please publish aws-sdk-resources 2.10.97"
You have published a aws-sdk 2.10.97 to rubygems.org, which depends on aws-sdk-resources 2.10.97, but you have not yet published that. All packages depending on aws-sdk <3 not pinned to a specific patch version are now broken. Unfortunately this includes https://github.com/travis-ci/dpl, so all Travis CI deploys to AWS are currently broken.

[2017-12-06 03:54] alexbecker commented on #1667
It's been published, and deploys on Travis are working again. Thanks.

[2017-12-06 03:54] #1667 closed

[2017-12-06 10:29] andreydeineko opened #1668 "NameError: uninitialized constant Aws::CostExplorer"
As title says: I simply get the following error using [the example from documentation](http://docs.aws.amazon.com/sdkforruby/api/Aws/CostExplorer/Client.html):
[code]
I am still able to use every other class from the library (been using it for years now).

How do I use `Aws::CostExplorer`? aws_sdk 2

[2017-12-06 11:21] #1668 closed

[2017-12-06 11:21] andreydeineko commented on #1668
I should have just updated the gem *shame*

[2017-12-06 15:54] pchaganti opened #1669 "CostExplorer API Issue"
Please fill out the sections below to help us address your issue

### Issue description
[The SDK docs](http://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/CostExplorer/Client.html#get_cost_and_usage-instance_method) indicate that REGION is one of the values that can be used as a dimension when querying the CostExplorer.

Specifying REGION as a dimension is returning this error:

[code]

### Gem nam

[2017-12-06 17:20] cjyclaire commented on #1667
Thanks for the patience! Ruby Gems yelled at us when we are publishing too many gems :( I'll enhance our release with better retry for Ruby Gems.

[2017-12-06 18:26] cjyclaire commented on #1669
Thanks for the info, taking a look to reproduce

[2017-12-06 18:34] cjyclaire commented on #1669
I can reproduce this, I reached out to service team about this, will update.

[2017-12-06 20:02] cjyclaire commented on #1669
A quick update, 'REGION' is not supported for this API for now(but is supported for some other APIs), the error message is correct.
Since SDK is generating the hint for the enum shape, it listed all enums [available](https://github.com/aws/aws-sdk-ruby/blob/master/apis/ce/2017-10-25/api-2.json#L92).

Sorry for the confusion right now, we have recommended service team to have different enum shapes

[2017-12-06 20:07] pchaganti commented on #1669
Got it. Thanks for the update!

[2017-12-06 20:22] dadah89 opened #1670 "AWS::S3::Client#delete_objects: validate number of keys"
### Issue description
Recently I spent some time tracking this exception: `Aws::S3::Errors::MalformedXML: The XML you provided was not well-formed or did not validate against our published schema` (while executing `AWS::S3::Client#delete_objects`). Turns out I was going over the 1000 keys limit, but the error message made me spent way more time than I should have.

Instead, would be good if the me

[2017-12-06 20:26] cjyclaire commented on #1670
Thanks, appreciate the information, just forwarded the message to S3 service team as well.

[2017-12-08 04:40] richardkmichael opened #1672 "Where do I find the aws.rb REPL mentioned in the documentation?"
I am following documentation about using the REPL, here:

http://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/repl.html

It refers to the REPL in the file `aws.rb`, as part of the `aws-sdk-core` gem.  However, my just-installed `aws-sdk-core` gem contains no such file:

[code]
(Actually, none of the `aws-sdk-*` gems installed contain `aws.rb`.)

What have I misunderstood?  Thank you!

[2017-12-08 17:46] cjyclaire commented on #1672
@richardkmichael Ah sorry about the confusion! It should be [`aws-v3.rb`](https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-resources/bin/aws-v3.rb) for V3 SDK instead, it's available at `aws-sdk-resources` gem and [`aws-sdk`](https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk/aws-sdk.gemspec#L14) gem. I'll reach out to doc team to update the page. And I'll create a PR to addr

[2017-12-08 17:47] cjyclaire commented on #1672
Some quick background there, `aws.rb` is the name of V2 SDK REPL file : )

[2017-12-08 18:33] richardkmichael commented on #1672
@cjyclaire Great, I'm using it now.  Thank you!

[2017-12-08 18:33] #1672 closed

[2017-12-08 20:59] cjyclaire commented on #1596
This code snippet looks like JS deployment? Sounds like the error is from Travis?
I'd suggest open the issue with travis first, and since this is a server side error response, I'd also recommend open ticket with AWS Support if you can, such that they can look into the failed request IDs.

Happy to help investigate more if you/travis could provide specific ruby scripts that can reproduce this error

[2017-12-08 21:01] cjyclaire commented on #1594
Soft ping checking, does this still happens? Any luck in finding more information for reproducing the issue? : )

[2017-12-08 22:39] cjyclaire commented on #1621
Soft checking, does the issue still happening for you?

Since this is surfaced by `ami_spec`, could you try open an issue with them first about this issue?
I did a quick check in the `ami_spec`, I didn't see any custom wrapper for assume role/ MFA. This has already been a feature tracked in our feature backlog, can I take your request as a +1 for that?

If you still seeing any issues reproducible

[2017-12-09 21:59] krystofspl commented on #1594
I wasn't able to reproduce the issue since. You can probably close this for now. If something happens, I will report :-) Thanks!

[2017-12-10 17:41] cjyclaire commented on #1594
For sure, closing this now. Feel free to reopen if you have further info :)

[2017-12-10 17:41] #1594 closed

[2017-12-12 15:59] eniskonuk opened #1674 "Aws::CloudHSMV2::Client#delete_hsm -> NoMethodError/undefined method `delete_hsm' for #<Aws::CloudHSMV2::Types::Hsm:0x000000146a80d8>"
Please fill out the sections below to help us address your issue

### Issue description
Even though the delete_hsm API endpoint is defined in docs and in the api definition for CloudHSMV2, the delete_hsm method does not seem to get auto-generated in any of the current gem version. Tested on 2.10.84, 2.10.100 and 3.x.x.

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3'

[2017-12-12 17:51] awood45 commented on #1674
The problem is your code example has defined `hsm` twice, in different contexts. When you're calling it in the block, it's now a type shape, not the client. Here is code which will work:

[code]

[2017-12-12 17:51] #1674 closed

[2017-12-12 18:03] eniskonuk commented on #1674
You're absolutely right @awood45. I feel like a dufus.

[2017-12-13 20:52] mike-bailey commented on #1577
@cjyclaire Any updates regarding this? What's the expected turnaround if you don't mind my asking?

[2017-12-13 21:20] cjyclaire commented on #1577
Forward the ping again : ) Appreciate your patience
Also, feel free to cut a TT to AWS Support at the same time as well, they can help look into the request IDs.

[2017-12-13 21:21] cjyclaire commented on #1596
Closing due to ages. Feel free to reopen with further info or a ruby script with SDK usage that can reproduce the error.

[2017-12-13 21:21] #1596 closed

[2017-12-13 21:31] mike-bailey commented on #1577
Unfortunately I can't open a technical ticket as we don't pay for that level of support.

[2017-12-14 18:07] cjyclaire commented on #1621
Closing due to ages, have added +1 for the feature request in your backlog, feel free to reopen with further info/questions : )

[2017-12-14 18:07] #1621 closed

[2017-12-14 18:32] cjyclaire commented on #1628
Hmm apology for late on this, since it would take a while for me to have a the chef environment to set up. Could you let me know what's the test failure error? I believe our gem files are either 644 or 755:
[code]
Those only allow write permission to owners, read/exec permission to others.
Also, as you might already noticed, [`aws-sdk-cloudhsmv2`](https://rubygems.org/gems/aws-sdk-cloudhsmv2) is a

[2017-12-14 19:26] cjyclaire commented on #1449
You can always use client directly with API calls to workaround the issue.

Tracking it as a resource model limitation at [backlog](https://github.com/aws/aws-sdk-ruby/blob/master/FEATURE_REQUESTS.md#ec2-resource-definition-assumes-non-empty-reservation-resources), closing.

[2017-12-14 19:26] #1449 closed

[2017-12-14 19:48] cjyclaire commented on #1556
Appreciate the feedback! So this is the same issue in the refer, long story short, it's a issue in S3 side, S3 should have check query string only, yet it's still checking both signed headers and headers in the request.

However, fixing that will break existing customers. The querystring itself doesn't have a problem, temporary workaround would be using the `aws-sigv4` gem as mentioned in the issu

[2017-12-14 19:48] #1556 closed

[2017-12-14 19:52] cjyclaire commented on #1652
Tracked in [feature backlog](https://github.com/aws/aws-sdk-ruby/blob/master/FEATURE_REQUESTS.md#rds-resource-createdbcluster-path-issue) as a shared resource model issue, closing.

[2017-12-14 19:52] #1652 closed

[2017-12-14 20:29] cjyclaire commented on #1435
Closing this right now due to ages, feel free to reopen anytime with further comments or questions : )

[2017-12-14 20:29] #1435 closed

[2017-12-15 18:07] lenon opened #1675 "Aws::EC2::Snapshot#wait_until_completed throws ArgumentError"
### Issue description

Calling `Aws::EC2::Snapshot#wait_until_completed` always throws an `ArgumentError`. It seems to be caused by this line in `snapshot.rb`:

https://github.com/aws/aws-sdk-ruby/blob/55aaef1b75e730386f6e34154e40f15efbab82e5/gems/aws-sdk-ec2/lib/aws-sdk-ec2/snapshot.rb#L177

I think it should be

[code]

### Gem name

`gem 'aws-sdk', '~> 3'`

### Version of Ruby, OS environment

[2017-12-15 18:34] cjyclaire commented on #1675
Thanks for reporting, working on the generator fix.

At same time, you can use [`wait_until`](http://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/EC2/Client.html#wait_until-instance_method) method from EC2 client to workaround the issue (recommended).

[2017-12-15 18:46] cjyclaire commented on #1675
Another soft update, this is a bug in shared resource model (here](https://github.com/aws/aws-sdk-ruby/blob/master/apis/ec2/2016-11-15/resources-1.json#L1795), and our generator trusted the path value there, I'll create a PR shortly from our side and fix the shared resource model upstream.

[2017-12-15 23:32] cjyclaire commented on #1675
The PR fix has been reviewed and merged in, will be available in the next release

[2017-12-18 05:10] llibicpep opened #1677 "Support credential_source from shared profile"
### Issue description

`credential_source` currently is not supported.

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version

aws-sdk-core 2.10.104

### Version of Ruby, OS environment

Mac OS, Debian, ruby v2.4.2

### Code snippets / steps to reproduce

The following config:

[code]

Will produce error:

[code]

[2017-12-18 19:05] awood45 commented on #1677
You're correct that this is not yet supported. Definitely noting the interest here.

[2017-12-18 23:05] arianf opened #1678 "Is there a way to show http_wire_trace after an error occurs?"
I'm currently using v2.

I know you can enable the `http_wire_trace: true` option new you create a client. But let's say if it's off by default, and I make a `object.upload_file('/tmp/test')` and for example I get back something like a `Aws::S3::Errors::Http500Error` error and I want to see the `http_wire_trace` after that came back as error, is that possible?

[code]

[2017-12-19 18:32] cjyclaire commented on #1678
@arianf We use `http_wire_trace` to set `:set_debug_output` in Ruby `net/http`. We don't have much control over there. Curious about what information are you trying to see there?

[2017-12-19 18:56] awood45 commented on #1677
This work is in progress for version 3 of the SDK. Backporting to V2 will be prioritized depending on how simple/complex the refactor ends up being.

[2017-12-19 20:02] awood45 commented on #1678
Basically, that setting will tell you what we are sending over the wire in real time - we aren't keeping it for later display. However, you COULD inspect the HTTP request and responses after the fact. Consider:

[code]

This should give you the ability to look in to a request which failed. If you want to change the http_wire_trace setting after the fact, for future requests, you can do so simply:

[2017-12-19 20:03] awood45 commented on #1678
This should cover what you're trying to do, and works the same in V3. Closing, let me know if you have any other questions.

[2017-12-19 20:03] #1678 closed

[2017-12-20 21:19] LaithAzer opened #1682 "Inconsistent presigned urls when using AWS CLI and aws-sdk-s3 gem version 1.8.0."
### Issue description

Inconsistent presigned urls when using AWS CLI and `aws-sdk-s3` gem version 1.8.0.

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version

`aws-sdk-s3`, version 1.8.0

### Version of Ruby, OS environment

Ruby 2.4.2, Ubuntu 14.04.3

### Code snippets / steps to reproduce

When using the AWS CLI to generate a presigned_url, it returns

[2017-12-20 21:48] cjyclaire commented on #1682
Amazon S3 supports both virtual-hosted–style and path-style URLs to access a bucket. And Ruby support both, Ruby S3 gem default to [virtual-host style](https://github.com/aws/aws-sdk-ruby/blob/9ea447b7e9e57e27bb7924aca40a5bf0c3265a94/gems/aws-sdk-s3/lib/aws-sdk-s3/client.rb#L140), you can set `: force_path_style` to `true` at client constructor to get the path style pattern (in your CLI example).

[2017-12-20 21:52] brettburley opened #1683 "Message verifier for SNS does not use configured http_proxy"
### Issue description
The aws-sdk-sns gem's `MessageVerifier` does not use the `http_proxy` configured in `Aws.config`. Since it's using `Net::HTTP` directly, it will use any `ENV` variables, but there doesn't appear to be any other way to configure a proxy for it to use otherwise.

See: https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-sns/lib/aws-sdk-sns/message_verifier.rb

I think I

[2017-12-20 22:10] LaithAzer commented on #1682
That resolved it, thank you!

[2017-12-20 22:10] #1682 closed

[2017-12-21 18:23] cjyclaire commented on #1683
Thanks for the feedback. The reason is that this verifier module doesn't use an SNS client, it doesn't make any client call but making http call directly to get pem, that's why `Aws.config` is never used for this module.

To support this request, SDK might somehow need to extend the message verifier to use the client http interface.

[2017-12-21 18:24] awood45 commented on #1683
We could also expose a way to pass options into Net::HTTP, for an alternative approach.

[2017-12-29 16:02] comjf opened #1685 "ECS register_task_definition validation bug (log_driver)"
### Issue description
I'm taking an existing valid task definition in json format, converting it to the proper casing and then resubmitting via the SDK. Only 1 validation error on submission:
[code]

I can hack around this by either doing ```task['container_definitions'].first['log_configuration'][:log_driver] = 'awslogs'``` to explicitly set the log_driver to be a symbol or it also works if I dis

[2017-12-31 21:21] ccammilleri opened #1686 "shared credentials doesn't parse region from specific profile"
Please fill out the sections below to help us address your issue

### Issue description
The gem fails to set the region if it's specified outside the default profile in `~/.aws/credentials` .

Note: A workaround is to set the default profile with the region specified in it. Although, I don't think this would allow you to use multiple regions per profile.

### Gem name ('aws-sdk', 'aws-sdk-resource

[2018-01-01 15:18] Techbrunch commented on #1149
@awood45 is this still in the request backlog ?

[2018-01-02 18:00] awood45 commented on #1686
If you want to pick up the region and credentials, you should try this:

[code]

That would pick up both your shared credentials and the region specification. The credentials object class is just that.

If you're unable to use the default credential provider chain (for example, because you also have environment variable credentials but don't want to use them here), you could specify the profile (f

[2018-01-02 18:00] #1686 closed

[2018-01-02 18:10] awood45 commented on #1685
The request needs to be of the format shown in the [documentation](https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/ECS/Client.html#register_task_definition-instance_method).

It looks like some of your request does follow the documented format, and other portions do not. In fact, I suspect as written your options would be ignored. Use symbolized, snake-case keys where called upon in the docume

[2018-01-02 18:10] awood45 commented on #1685
Let me know if this helps, or if you have follow-up questions after reading the documentation.

[2018-01-02 18:12] awood45 commented on #1670
The correct answer would probably be for the service to raise a more friendly error message, though we will work with them on that. The problem with adding this validation on the client level in general tends to be that if service limits change, you'd have invalid behavior, though given the limit size of 1000, we might be able to consider an exception in this case.

[2018-01-02 18:12] #1669 closed

[2018-01-02 18:14] awood45 commented on #1628
Closing for inactivity, please reopen if you have further information. Would be curious if this happens for other chef_gem installations as well, given what we see locally.

[2018-01-02 18:14] #1628 closed

[2018-01-02 18:16] awood45 commented on #1577
May have a breakthrough here, as it appears S3 sometimes throws these errors for general usage mistakes, rather than a malformed XML request. Checking.

[2018-01-02 18:26] awood45 commented on #1577
Potentially related Issue #1670

I've passed this information on to the S3 team and will look for a new update.

[2018-01-02 18:32] awood45 commented on #1454
So the `Aws::SNS::Client#set_topic_attributes` method seems to be the only way I can see - especially where the CLI has the same issue. This is a feature request for SNS, and I'll let them know but you should also contact support.

I would advise some caution about using `#set_topic_attributes`, in that it would make it pretty easy for you to mangle your "Policy" attribute and leave it unusable.

[2018-01-02 18:37] awood45 commented on #1331
This is an issue where I'd encourage an upgrade to V3 of the SDK. It is generally better with concurrency, and while I can't guarantee it fixes this issue, it should make it a lot easier to narrow down with the more detailed stack traces.

[2018-01-02 19:42] comjf commented on #1685
@awood45 Thanks for your response, but I'm a little confused... Shouldn't you be able to convert between the ```--cli-input-json``` referenced all over the place in AWS documentation and
the gem input?

To be clear, all I'm doing to reproduce is:
- Taking a valid configuration in json format (I know it's valid as I can upload via: ```aws ecs register-task-definition --cli-input-json```)
- My trans

[2018-01-02 20:51] mike-bailey commented on #1577
Interesting. Thanks for the update. Neither of these are supposed to be improper calls though, no?
Lifecycle policies should be allowed to apply to buckets and logging as well?

[2018-01-02 21:09] awood45 commented on #1577
To be entirely honest, I'm not sure. The documentation doesn't indicate that the call is improper, but I can't eliminate that possibility either. As far as I can tell:

* The Ruby SDK is properly formatting your request.
* This same error has appeared elsewhere in the case of user error, though of a different kind.

[2018-01-03 01:30] admorphit commented on #1577
This is happening for the nodejs aws-sdk as well in case that helps.

[2018-01-03 02:08] awood45 commented on #1577
@admorphit That's actually very helpful. Do you have a related issue, or a JS code snippet to reproduce that you can provide? Thanks!

[2018-01-03 07:37] mike-bailey commented on #1577
That also helps me because it gives me something to tell our management about how it’s more than likely not the Ruby SDK’s fault (other than @awood45 having just said it it isn’t). Thanks!

[2018-01-03 20:02] awood45 commented on #1577
Okay, I've identified the root cause. As suspected, it's user error, though granted, the requirements here are not well documented (which is feedback I'm pressing with the service team).

* The `:target_prefix` parameter is required. This is why you're getting an error.
* You'll also likely need to set grant permissions, but at least for that you'll get a much more user-friendly error and the way

[2018-01-03 20:02] #1577 closed

[2018-01-03 20:03] mike-bailey commented on #1577
However, in the console, a prefix isn't required? Why is this an API limitation only for these SDKs and not the console? I'd like to be able to apply it to the entire bucket...

[2018-01-03 20:04] mike-bailey commented on #1577
Also, any developments on the logging call? (I'm assuming you're referring to the lifecycle bit). Thank you!

[2018-01-03 20:08] awood45 commented on #1670
On further review, I think this is a case where the service needs to pass on more user-friendly errors, and we've given them feedback in that regard, especially due to related issues we've seen. Closing this as the action isn't something we can control, and when it happens, the SDK will behave differently automatically.

[2018-01-03 20:08] #1670 closed

[2018-01-03 20:10] mike-bailey commented on #1577
Looks like in the actual API:

https://docs.aws.amazon.com/AmazonS3/latest/dev/lifecycle-configuration-examples.html

Maybe something to add to the docs for the actual SDKs. Thank you!

[2018-01-03 20:11] awood45 commented on #1460
This is related to #1664 root cause, and is a service issue that we are working on with them. As for differences in console behavior, it's possible the console is pre-populating default values for you. For example, if there is a prefix field, and it's left blank, a blank string is a valid prefix for put_bucket_logging - it is not the same as null. I do agree that this should be more clear in the A

[2018-01-03 20:11] #1460 closed

[2018-01-03 20:12] awood45 commented on #1577
I agree with you entirely - documentation across the SDKs comes from the service teams, and I'm pushing for these updates across the impacted APIs currently. Once done, they'll be included in the standard release process.

[2018-01-03 20:13] mike-bailey commented on #1460
No problem, thank you for the clarification!

[2018-01-03 20:13] awood45 commented on #1577
It is required. My guess is that leaving the field blank is translating to an empty target prefix, which is valid. A null target prefix is not valid. This should be better documented.

[2018-01-03 20:14] mike-bailey commented on #1577
Thank you. That makes perfect sense in hindsight.

Still learning as a measly intern, so I appreciate the patience. Thank you!

[2018-01-03 20:17] awood45 commented on #1577
No worries, this is a very unhelpful error message so your frustration is understood and appreciated. We're pushing for a better user experience here.

[2018-01-04 06:21] ddimmich commented on #1577
In the context of logstash which uses this library - how would one add the target prefix parameter?  Is this something that needs to be addressed in logstash or in this library?  Thank you

[2018-01-04 07:30] awood45 commented on #1577
That would be added in the caller - logstash. Unless logstash plumbs through your own parameters, in which case you would need to add it there.

[2018-01-04 10:03] ddimmich commented on #1577
Ok - Thanks.  Not sure this is one of the parameters that would get
passed through - haven't seen a configuration equivalent so it sounds
like this would need to be fixed upstream :/

On 04/01/2018 11:30, Alex Wood wrote:

[2018-01-06 02:16] kjenney opened #1688 "Question: How to search in specific folders when results are more than 1000?"
Please fill out the sections below to help us address your issue

### Issue description
I'm trying to gather a list of files inside of a prefix with a very large number of objects (+1000). For instance:

[code]

The ...'s are EVERY single date between each timestamp. I'm searching under mydata/logs and it has 1000's of objects in it. I only want to return those prefixes from 2017, i.e.

[code]

Is

[2018-01-06 03:10] buildadmin commented on #1688
My workaround now is to use the AWS CLI, dump the output of ALL objects into a file and then run Regex matches on the lines of the file:

[code]

I would really like a more elegant (and correct) way of accomplishing this :) Thanks!

[2018-01-06 03:11] kjenney commented on #1688
My workaround now is to use the AWS CLI, dump the output of ALL objects into a file and then run Regex matches on the lines of the file:

[code]

I would really like a more elegant (and correct) way of accomplishing this :) Thanks!

[2018-01-06 03:31] awood45 commented on #1688
This is a pagination/prefix selection question. Do you have a snippet of Ruby code for what you're doing now?

[2018-01-06 03:48] kjenney commented on #1688
Here's the code that I'm working off of right now:

[code]

bucket is the bucket that you want to query.
searches is an array of Regular Expressions
prefix is the prefix within the bucket that would to query under.

list_matches_in_folder is where i'm getting stuck. I'm only getting back 1000 results from a query where there are more than 1000 objects. So I never get to the prefixes that I actuall

[2018-01-06 17:44] kjenney commented on #1688
I did a little searching and found some documentation on pagination here:
https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/paging-responses.html

I've adjusted the code in my class and it works perfectly:

[code]

Thanks for the hint!

[2018-01-06 17:44] #1688 closed

[2018-01-11 01:35] CpuID opened #1689 "Support for AWS Transcribe"
Please fill out the sections below to help us address your issue

### Issue description

Can we please get support for AWS Transcribe in the AWS SDK for Ruby packages? I know it's beta, but would still be useful as we are a participant. Thanks!

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version

`aws-sdk-transcribe`

### Version of Ruby, OS environment

[2018-01-11 17:45] awood45 commented on #1689
We don't currently have a mechanism for including beta services in our SDK, we currently only support GA launches. Consider reaching out to the service team to see if they can provide you with anything for the preview.

[2018-01-11 17:45] #1689 closed

[2018-01-16 02:15] vanguard737 opened #1692 "No valid waiter names for SSM API"
In the v2 SDK, it appears that SSMs don't expose any valid waiters.  If I throw a bogus waiter at (for example) the CloudFormation client, I get a well-formed exception with the list of valid CFN waiter names.  However, when I do the same to the SSM client, I don't get any waiter names back.

[This](https://github.com/aws/aws-sdk-ruby/issues/1185) issue may be relevant.  Perhaps this has been impl

[2018-01-16 18:26] cjyclaire commented on #1692
You are right, currently there is no waiter available for SSM, marking this as a feature request for adding waiters for SSM service.

[2018-01-17 09:34] ignivaprerna commented on #1460
Please check the provider path for Uri file

[2018-01-19 03:12] jeffb-stell opened #1696 "(unnecessary) Incompatibility between golang and ruby sdk S3 client-side encryption"
Please fill out the sections below to help us address your issue

### Issue description

The Ruby aws sdk's encryption handler labels its CBC client-side encryption "AES/CBC/PKCS5Padding", golang labels it "AES/CBC/PKCS7Padding" . The golang sdk is technically correct (AES CBC uses a 16 byte pad, hence it is PKCS7. PKCS5 is 8 bytes only).

### Gem name ('aws-sdk', 'aws-sdk-resources' or service ge

[2018-01-19 18:39] davidcpell opened #1697 "Stubbing Errors Results in ArgumentError"
### Issue description

This is related to the SDK stubbing feature: https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/stubbing.html

At the bottom, the documentation indicates that the user should pass the error class name to `#stub_responses`. However, when doing this, we ran into an ArgumentError:

[code]

Following the error shows that it's happening because two arguments (context and

[2018-01-19 21:42] awood45 commented on #1697
You can do this:

[code]

I'll leave this open while reviewing the documentation, but this should get you unstuck.

[2018-01-22 19:23] BanzaiMan commented on #1502
Hello there. I am sorry to ping again, but the documentation remains unclear. :-(

[2018-01-23 23:47] davidcpell commented on #824
Hi just wanted to stop by and add my :( to this. Sync functionality has been available in the PHP SDK [since 2013](https://aws.amazon.com/blogs/developer/syncing-data-with-amazon-s3/).

[2018-01-26 14:41] dominikdarnel commented on #1058
It is helpful, but it always returns false, no matter what the key is. How can I make the #exist? depend on the key parameter?

[2018-01-29 09:30] johan-smits opened #1698 "Aws::CloudFront::CookieSigner does not work with private_key as string"
Please fill out the sections below to help us address your issue

### Issue description
When creating a new cookiesiger with the private key as a text input it raises a error.

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version
aws-sdk-cloudfront (1.1.0)

### Version of Ruby, OS environment
ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]
Ubuntu 16.04 (64

[2018-01-29 22:54] janko-m opened #1699 "The list of options for Aws::S3::Client#initialize is gone from RDocs"
In AWS SDK v2 the RDocs for the [`Aws::S3::Client#initialize`](https://docs.aws.amazon.com/sdkforruby/api/Aws/S3/Client.html#initialize-instance_method) method contained the list of options, but that list is gone in the AWS SDK v3 RDocs.

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version

`aws-sdk-s3` 3.x

[2018-01-30 20:16] mksm opened #1700 "Slow client initialization when credentials are missing"
### Issue description

Client initialization is much slower if `access_key_id` and `secret_access_key` are not set beforehand using `Aws.config`. I don't need those for DynamoDB as I'm running a local server: https://aws.amazon.com/blogs/aws/dynamodb-local-for-desktop-development/

[code]

### Gem name:
`aws-sdk-dynamodb` v1.3.0

### Version of Ruby, OS environment

Running inside a docker contain

[2018-01-30 20:17] awood45 commented on #1700
This sounds reasonable, actually, as you would be going through the rest of the credential provider chain. I'd recommend setting dummy credentials, though I could also see this as a feature request to support unsigned requests.

[2018-01-30 20:19] awood45 commented on #1699
This is definitely an issue we're tracking, thanks for raising it here as well.

[2018-01-30 20:20] awood45 commented on #1699
As a workaround, the equivalent documentation in V2 remains accurate as the versions are API compatible. I do agree that workaround is...not a long term answer.

[2018-01-30 20:41] mksm commented on #1700
I understand it has to do some extra work but sometimes it takes *much longer*: `no keys set:           0.150000   0.150000   0.300000 (  5.403111)`.

I'll add dummy credentials for now. Thanks for looking into this.

[2018-01-31 12:15] himberjack opened #1702 "Thread safe"
### Issue description
Seems as if Comprehand's commands are not thread safe, and returning incorrect values when runnning in scale and with multithreading enviroment.
Please check this ASAP.

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version
aws-sdk (2.10.125)
### Version of Ruby, OS environment
Ruby 2.4.3, ubuntu

### Code snippets / steps to reproduc

[2018-01-31 16:31] adolski opened #1703 "Aws::S3::Client.get_object(): Failed to allocate memory (NoMemoryError)"
Hi,

I'm encountering a `NoMemoryError` when using the AWS S3 SDK in a Rails app. When a page is requested that uses the S3 client, the application hangs while consuming more and more memory until the error is triggered.

* Ruby 2.4.2
* Rails 5.1.4
* CentOS on an EC2 instance (5GB free memory at idle)
* Gemfile: `gem 'aws-sdk-s3', '~> 1'` (currently 1.8)

Here's how I'm using the client (this is w

[2018-01-31 19:40] cjyclaire commented on #1698
Thanks for the info! Could you share a full trace of the error log? The `private_key` can accept a string, and from your code snippet, I couldn't find where the response object is introduced?

[2018-01-31 19:43] cjyclaire commented on #1699
Adds to that, not a perfect workaround but the source code contains [all](https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-s3/lib/aws-sdk-s3/client.rb#L196), it might related to the docs used `options` but client is using `args*`

[2018-02-02 17:10] tilo commented on #1324
is there any update on this? @cjyclaire do you know who might be the right person to look at this?

[2018-02-03 09:57] sinofseven opened #1704 "Class: Aws::CloudFormation::Types::DescribeStackEventsOutput .next_token could not get string"
### Issue description
I could not get next_token by describe_stack_events on 'aws-sdk-cloudformation'.

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version
aws-sdk-cloudformation: (1.3.0)

### Version of Ruby, OS environment
ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-linux]
Amazon Linux AMI release 2017.09

### Code snippets / steps to reproduce

[2018-02-03 10:00] #1704 closed

[2018-02-05 18:30] awood45 commented on #1702
Can you explain more about what kinds of incorrect behavior you're seeing? These operations are just calls to a remote service, it would help to understand what you're seeing to know how to route this issue.

[2018-02-05 18:34] awood45 commented on #1703
I'm curious what your usage pattern is for these objects. Are you getting this on your first request, or do you believe that these few-MB objects are just piling up and not being garbage collected to the point where you use up your process memory?

It's hard to determine from the information here if there's anything on the SDK end to do. It's especially interesting to see this be environment speci

[2018-02-06 04:21] zhangtiny123 opened #1706 "ec2 client describe_* failed at region 'cn-northwest-1'"
### Issue description
I use the  ```client``` of ```ec2``` module to fetch images , security_groups or other resources info by ```describe_images``` , ```describe_security_groups``` and something like this. It works well at all regions but ```cn-northwest-1```...

The error stack:
[code]

The most strange thing is that I already set the region as ```cn-northwest-1```, but the describe method tries

[2018-02-06 05:29] awood45 commented on #1706
Try updating your version of the SDK, the latest versions will have that region's endpoint scheme.

If you do not wish to upgrade, you'll need to manually set the `:endpoint` of `ec2.cn-northwest-1.amazonaws.com.cn` as well as the region.

[2018-02-06 05:29] #1706 closed

[2018-02-06 19:34] adolski commented on #1703
Sorry, this was my mistake. I didn't know that `get_object()` with no `:response_target` option downloaded an object into memory. I thought additional steps were required to do that (e.g. reading the `body` of the `GetObjectOutput`). What I needed was `head_object()`.

[2018-02-06 19:34] #1703 closed

[2018-02-08 17:32] jfcsantos commented on #808
@lssachin Did you confirm this?
I'm doing concurrent multipart upload of a large file and trying to renew credentials if they expire....getting this error at some point.
My test environment is running locally on probably +1h more than S3.

[2018-02-09 12:47] jessepiccolo opened #1708 "aws-sdk-resources (2.10.128) needs published"
Please fill out the sections below to help us address your issue

### Issue description

aws-sdk-resources (2.10.128) needs published to rubygems.org

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version

aws-sdk-resources (2.10.128)

### Version of Ruby, OS environment

Windows

### Code snippets / steps to reproduce

My chef converges result in this:
--

[2018-02-09 17:45] cjyclaire commented on #1708
It's [there](https://rubygems.org/gems/aws-sdk-resources/versions/2.10.128) already?
Closing, feel free to reopen with further questions.

[2018-02-09 17:45] #1708 closed

[2018-02-10 19:20] NorseGaud opened #1710 "Aws::Errors::NoSuchEndpointError | Custom endpoint with appended bucket name"
Please fill out the sections below to help us address your issue

### Issue description

I am attempting to call an objects listing but keep receiving NoSuchEndpointError

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version
aws-sdk-s3

### Version of Ruby, OS environment
2.5.0, Mac OSX

### Code snippets / steps to reproduce
(XXXX is used to hide website

[2018-02-12 20:53] cjyclaire commented on #1710
@NorseGaud this error for [`#socket_endpoint_error`](https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-core/lib/aws-sdk-core/plugins/helpful_socket_errors.rb#L21), your can see the endpoint SDK trying to hit by `s3_client.endpoint`. SDK will make request to the hard code endpoint provided.

May I ask is the request `http` instead of `https`? If so, you would need to update the endpoint

[2018-02-12 21:49] NorseGaud commented on #1710
Thanks for the follow up. Really appreciate the help.

For the HTTP GET, it's using

[code]

Is there a way to modify `s3_client = Aws::S3::Client.new(endpoint: 'https://vodoriginstorentlka01.g.comcast.net')`, or even s3_client so I can prevent it from using `https://mpegstills01.vodoriginstorentlka01.g.XXXX.net` and instead use `https://vodoriginstorentlka01.g.XXXX.net/mpegstills01` ?

[2018-02-15 01:42] NorseGaud commented on #1710
Found a spec that seems to indicate that region.endpoint is the format it's definitely setup to create: https://github.com/aws/aws-sdk-ruby/blob/9ea447b7e9e57e27bb7924aca40a5bf0c3265a94/gems/aws-sdk-s3/spec/object/presigned_post_spec.rb

I'll try and play with it and add a feature for what I want. If anyone has any advice for an existing way to achieve this, please let me know! Thanks

[2018-02-15 01:53] NorseGaud commented on #1710
More review seems to indicate force_path_style: true is a solution, and it is.
I had originally used this in my configuration and it didn't change the endpoint/request url. Attempting it again is working. Here is the working code:

[code]

[2018-02-15 20:01] cjyclaire commented on #1710
Glad to know that your figured this out. Should have mentioned earlier with the path style and bucket DNS style for S3. It's true that DNS style is by default for S3 in Ruby SDK, and you have the option to set it to force path style as you mentioned. Since you are providing a customized endpoint,   it's not surprising that using path style makes it work : ) and you are on the right path.

Closing,

[2018-02-15 20:01] #1710 closed

[2018-02-15 20:33] natemacinnes commented on #1036
This is still very unclear in the guides in 2018.

[2018-02-16 01:34] natemacinnes commented on #1080
Still waiting on an update... to the code base or the docs 🕐

[2018-02-16 07:06] awood45 commented on #1080
I'd consider raising an issue with AWS Support on this one, there isn't much that we can do ourselves on this. Will try to raise it up again with the API Gateway team.

[2018-02-19 07:30] toaster opened #1713 "Insufficient error handling for dynamo responses"
Please fill out the sections below to help us address your issue

### Issue description

Sometimes the dynamos service returns an error in HTML format (like `<html><body><b>Http/1.1 Service Unavailable</b></body> </html>`).
We then get a JSON parsing exception like
[code]

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version

aws-sdk-dynamodb-1.3.0
aws-sd

[2018-02-19 17:30] awood45 commented on #1713
Just to check, but I think it's implied, is this an occasional/transient error? Is there a set of inputs which consistently produces this error?

[2018-02-19 18:07] toaster commented on #1713
This is an occasional error. The request runs fine several hundred times a day with the same input.

[2018-02-19 18:23] awood45 commented on #1713
Thanks, this looks then like it's likely a service issue, so I'll be opening a report with them internally. Some things that could help, if able:

* If you can show me the inputs you're using, like a code snippet of what is causing this (feel free to remove any identifying info).

It will be difficult to try and get a request ID here, so I'll forward any questions the service team has back here.

[2018-02-19 19:56] awood45 commented on #1713
The service team is repeating the request for your inputs. Can you share the call you're using that occasionally creates this error?

[2018-02-19 20:29] toaster commented on #1713
The error occurred while doing a simple `table.get_item` like
[code]

I agree that this is a service issue. But I reported here because I think it would be great if the SDK could handle unexpected service output better, e.g. with an own error including the full body and HTTP status.

[2018-02-19 20:38] toaster commented on #1713
And regarding `repeating the request`: We repeat this exact request many hundred times a day. We do this request with a different range key several thousand times a day. It works most of the time for years now.
The last time it didn't work was today (2018-02-20) at 5:35am UTC for two consecutive calls.
The table is in the eu-west-1 region.
It is accessed by a unicorn process in a docker container

[2018-02-19 21:14] awood45 commented on #1713
Understood - it's a little difficult to determine what the "right" approach would be for handling a generic malformed response from the service, which is essentially what this is. We potentially could, for example, add `Aws::WHICHEVERSERVICE::Errors::ServiceError` to the ancestry of the JSON::ParserError we raise, but past that, there are other ways that a response can be malformed and distinguish

[2018-02-19 21:16] awood45 commented on #1713
Given how rare this is (haven't seen this type of issue before for any service), I'm thinking the best path forward is still to get the service to behave properly.

[2018-02-20 08:13] toaster commented on #1713
From a client's view I at least would like to have the HTTP response code.
As it is now, I cannot see if it is a 5xx or a 4xx.

[2018-02-20 10:47] himberjack commented on #1702
I cannot reproduce the exact senario, but if the code is run in multi thread enviroment, sometimes, for the same input, different languages are returned. So it could be either a global variable here, or there is an issue with Comprehend itself - however, the latter is eliminated as I made it mutex-ed, and it is working fine. So I bet on the former cause.

[2018-02-20 23:58] phene opened #1716 "Using DescribeSecurityGroup IpPermissions in RevokeSecurityGroupIngress Raises Error"
### Issue description

Passing the `ip_permissions` property of the result of `describe_security_groups` to `revoke_security_group_ingress` results in a server error `Aws::EC2::Errors::InvalidParameterValue: missing mandatory parameter: exactly one of remote-security-group, remote-ip-range, remote-ipv6-range, or prefix-list-id must be present` This is due to the definition of rules that reference

[2018-02-21 17:31] cjyclaire commented on #1716
Thanks for the info! I've passed this issue to service team, will update.
Meanwhile, feel free to contact [AWS Support] directly for this issue as well.

[2018-02-22 21:26] phene commented on #1716
AWS Support thinks it's the fault of the API library.

[2018-02-22 22:03] phene commented on #1716
When I throw some debugging into the aws client, I see that my request params look like such:

[code]

[2018-02-22 22:33] cjyclaire commented on #1716
I revisit your issue, below snippet works for me:
[code]
Can you tell me will operation cause the dryrun mismatch for you?

I was working with support, the error he provided to me is different from what you have mentioned earlier, I couldn't reproduce a scenario where SDK doesn't use the parameter provided. I'll work with him to see what issue he ran into.

Also, to help with debugging, you can se

[2018-02-22 22:39] phene commented on #1716
[code]

[2018-02-22 23:22] cjyclaire commented on #1716
taking a look, I finally can reproduce this, will update

[2018-02-22 23:43] phene commented on #1716
That doesn't make sense -- doesn't your earlier test pass both ip-range, ipv6-range, and prefix-list-id given they are properties of IpPermission?  You also left out "remote-security-group" from your list of mandatory parameters, which is the key here.  How would you modify my code such that it succeeds?

[2018-02-23 00:12] cjyclaire commented on #1716
@phene My bad, It's my mistake in my earlier code snippet, I do miss the `each` at first, so it appear "succeed" first and actually nothing is called. After I add the `each`, I can reproduce same error you got, after I hard code `ip_permissions` with single required field, request succeed.

[2018-02-23 00:13] phene commented on #1716
So is the conclusion that updating via IpPermissions is not supported?

[2018-02-23 00:15] cjyclaire commented on #1716
The point is you might do some tweaks instead of passing through the `IpPermissions` directly. the update can only one of field per time.

[2018-02-23 00:23] phene commented on #1716
OK, then the SDK docs and parameter validation should be updated to reflect that. It's rather inconvenient to do this since an IpPermission object can actually reflect multiple rules since there can be multiple `user_id_group_pairs` entries. This also seems like a major naming kludge and should probably be rectified.